{
  "openapi": "3.0.0",
  "info": {
    "title": "Maildrip API Docs",
    "description": "Maildrip API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.maildrip.io",
      "description": "Maildrip API Gateway"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      },
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "BounceWindow": {
        "type": "object",
        "properties": {
          "delivered": {
            "type": "integer"
          },
          "hardBounces": {
            "type": "integer"
          },
          "softBounces": {
            "type": "integer"
          },
          "totalBounces": {
            "type": "integer"
          },
          "hardBounceRate": {
            "type": "number",
            "description": "Hard bounce rate as a percentage"
          },
          "softBounceRate": {
            "type": "number",
            "description": "Soft bounce rate as a percentage"
          },
          "totalBounceRate": {
            "type": "number",
            "description": "Total bounce rate as a percentage"
          },
          "thresholdStatus": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "critical"
            ]
          }
        }
      },
      "SpamWindow": {
        "type": "object",
        "properties": {
          "delivered": {
            "type": "integer"
          },
          "complaints": {
            "type": "integer"
          },
          "complaintRate": {
            "type": "number",
            "description": "Complaint rate as a percentage"
          },
          "googleThresholdStatus": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "critical"
            ]
          },
          "yahooThresholdStatus": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "critical"
            ]
          }
        }
      },
      "TypeInsightResponse": {
        "type": "object",
        "properties": {
          "insight": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "1-3 sentence plain-language overview of this asset type"
              },
              "strengths": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              },
              "improvements": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string",
                      "description": "Concrete next step for the user"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "critical",
                        "warning",
                        "info"
                      ]
                    }
                  }
                }
              },
              "trends": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "signal": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down",
                        "flat"
                      ]
                    },
                    "action": {
                      "type": "string"
                    }
                  }
                }
              },
              "jtbd": {
                "type": "array",
                "description": "Jobs-to-be-done assessment",
                "items": {
                  "type": "object",
                  "properties": {
                    "job": {
                      "type": "string"
                    },
                    "performance": {
                      "type": "string",
                      "enum": [
                        "excellent",
                        "good",
                        "fair",
                        "poor"
                      ]
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              },
              "platform_feedback": {
                "type": "array",
                "description": "Honest assessment of where MailDrip helps or hinders",
                "items": {
                  "type": "object",
                  "properties": {
                    "area": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "helping",
                        "neutral",
                        "hindering"
                      ]
                    },
                    "detail": {
                      "type": "string"
                    },
                    "reach_out": {
                      "type": "boolean",
                      "description": "True means show a contact-support CTA in the UI"
                    }
                  }
                }
              }
            }
          },
          "fromCache": {
            "type": "boolean",
            "description": "True if served from cache — no new AI call was made"
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this insight was generated"
          },
          "nextRefreshAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp after which the cache is eligible for auto-refresh"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v1/account/bounce-stats": {
      "get": {
        "summary": "Get bounce rate statistics for the account",
        "description": "Returns hard and soft bounce rates computed over the last 30 days and\nlast 90 days from Mailgun event data, together with threshold status\nlabels (healthy / warning / critical) so the frontend can surface\nactionable alerts without re-implementing the business logic.\n",
        "tags": [
          "Account Health"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Bounce statistics returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last30Days": {
                      "$ref": "#/components/schemas/BounceWindow"
                    },
                    "last90Days": {
                      "$ref": "#/components/schemas/BounceWindow"
                    },
                    "thresholds": {
                      "type": "object",
                      "properties": {
                        "warn": {
                          "type": "number",
                          "example": 2
                        },
                        "critical": {
                          "type": "number",
                          "example": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/account/spam-stats": {
      "get": {
        "summary": "Get spam complaint rate statistics for the account",
        "description": "Returns the spam complaint rate over the last 30 and 90 days, and\ncompares it against the Google/Yahoo industry thresholds (0.1 % warn,\n0.3 % critical). Computed from Mailgun \"complained\" events.\n",
        "tags": [
          "Account Health"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Spam statistics returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last30Days": {
                      "$ref": "#/components/schemas/SpamWindow"
                    },
                    "last90Days": {
                      "$ref": "#/components/schemas/SpamWindow"
                    },
                    "thresholds": {
                      "type": "object",
                      "properties": {
                        "warn": {
                          "type": "number",
                          "example": 0.1
                        },
                        "critical": {
                          "type": "number",
                          "example": 0.3
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/account/list-health": {
      "get": {
        "summary": "Get contact list health based on engagement over the past 90 days",
        "description": "Counts contacts who opened or clicked at least one email in the last 90\ndays (engaged) versus total contacts. Returns an engagement rate and a\nhealth label: healthy (≥ 50 %), fair (25–49 %), or poor (< 25 %).\n",
        "tags": [
          "Account Health"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List health returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalContacts": {
                      "type": "integer",
                      "description": "Total number of contacts in the account"
                    },
                    "engagedContacts": {
                      "type": "integer",
                      "description": "Contacts with at least one open or click in the last 90 days"
                    },
                    "engagementRate": {
                      "type": "number",
                      "description": "Percentage of engaged contacts (0–100)"
                    },
                    "windowDays": {
                      "type": "integer",
                      "example": 90
                    },
                    "healthStatus": {
                      "type": "string",
                      "enum": [
                        "healthy",
                        "fair",
                        "poor"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/activities": {
      "get": {
        "summary": "List user activity log entries",
        "description": "Returns a paginated, reverse-chronological list of UserActivityLog records for the authenticated user. Supports comma-separated eventType filtering.",
        "tags": [
          "Activities"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "eventType",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of event types to include. E.g. release_published,release_sent Valid values: email_credit_deduct, ai_credit_deduct, ai_credit_add, wallet_top_up, campaign_activated, campaign_scheduled, contact_created, contact_imported, contact_attribute_changed, release_published, release_unpublished, release_sent, list_scan_started, list_scan_complete"
          },
          {
            "in": "query",
            "name": "resourceType",
            "schema": {
              "type": "string"
            },
            "description": "Filter by resourceType (e.g. release, campaign, contact)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated activity log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "resourceId": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object"
                          },
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent/sessions": {
      "post": {
        "summary": "Create a new Agent Mode session",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "201": {
            "description": "Session created"
          }
        }
      },
      "get": {
        "summary": "List the caller's Agent Mode sessions",
        "description": "Powers the session-history rail — most recently active first.",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated session list"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}": {
      "get": {
        "summary": "Get a session's full step transcript",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session + ordered steps"
          },
          "404": {
            "description": "Session not found"
          }
        }
      },
      "delete": {
        "summary": "Archive a session",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session archived"
          },
          "404": {
            "description": "Session not found"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns": {
      "post": {
        "summary": "Start a new turn in a session (step-cursor)",
        "description": "Persists the user's message, runs the AI-credit authorization gate,\nand — if authorized — runs the turn's first iteration. Returns\n`status: \"in_progress\"` (call .../continue next), `\"awaiting_clarify\"`,\n`\"awaiting_confirm\"`, `\"awaiting_credit_decision\"`, or `\"done\"`.\n",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "smart",
                      "super"
                    ]
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "pageContext": {
                        "type": "object"
                      }
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "description": "Files staged in the input (contact list CSV, logo image, reference document)",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "filename"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "contacts_csv",
                            "logo_image",
                            "document"
                          ]
                        },
                        "filename": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "totalRows": {
                          "type": "integer"
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Turn step result"
          },
          "403": {
            "description": "Plan does not include access to the requested model tier"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns/{turnId}/continue": {
      "post": {
        "summary": "Advance a turn by one step (step-cursor polling)",
        "description": "Call repeatedly while status is \"in_progress\" until \"done\".",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "turnId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next step result"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns/{turnId}/clarify": {
      "post": {
        "summary": "Answer a pending clarification step",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "turnId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "object",
                    "description": "Structured field answers, keyed by the clarify step's clarifyFields[].key"
                  },
                  "reply": {
                    "type": "string",
                    "description": "Freeform reply, used when the clarify step had no structured fields"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Next step result"
          },
          "409": {
            "description": "No pending clarification for this turn"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns/{turnId}/confirm": {
      "post": {
        "summary": "Approve or cancel a pending guarded-tool confirmation",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "turnId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "approve"
                ],
                "properties": {
                  "approve": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Final step result"
          },
          "409": {
            "description": "No pending confirmation for this turn"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns/{turnId}/credit-decision": {
      "post": {
        "summary": "Accept or decline the email-credit fallback offer",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "turnId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "useEmailCredits"
                ],
                "properties": {
                  "useEmailCredits": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Next step result"
          }
        }
      }
    },
    "/api/v1/agent/sessions/{sessionId}/turns/{turnId}/regenerate": {
      "post": {
        "summary": "Regenerate a turn's answer",
        "description": "Discards the agent's previous steps for this turn and runs it again\nfrom the same user message(s), so the new answer replaces the old\none in the transcript instead of appending a second one. No new\ncredit charge.\n",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "turnId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next step result"
          },
          "404": {
            "description": "No user message found for this turn"
          }
        }
      }
    },
    "/api/v1/ai-assistant/generate": {
      "post": {
        "summary": "Generate email subject or body content using AI",
        "tags": [
          "AI Assistant"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "prompt",
                  "audience"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "subject",
                      "body"
                    ],
                    "description": "Type of content to generate (subject or body)"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prompt or context for the AI to use"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience for the email"
                  },
                  "sender": {
                    "type": "string",
                    "description": "The sender persona for the email"
                  },
                  "goal": {
                    "type": "string",
                    "description": "The goal of the email"
                  },
                  "tone": {
                    "type": "string",
                    "description": "The tone of the email"
                  }
                }
              },
              "example": {
                "type": "subject",
                "prompt": "Announce our summer sale to our subscribers.",
                "audience": "subscribers",
                "sender": "Marketing Team",
                "goal": "engagement",
                "tone": "friendly"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI-generated content returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "description": "The generated subject or body content"
                    }
                  }
                },
                "example": {
                  "response": "Don't Miss Our Summer Sale!"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, missing or invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "error": "type and prompt are required"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to generate content"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai-assistant/analyze": {
      "post": {
        "summary": "Analyze email subject or body content and provide a performance report",
        "tags": [
          "AI Assistant"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "content",
                  "audience"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "subject",
                      "body"
                    ],
                    "description": "Type of content to analyze (subject or body)"
                  },
                  "content": {
                    "type": "string",
                    "description": "The email subject or body to analyze"
                  },
                  "sender": {
                    "type": "string",
                    "description": "The sender persona"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience"
                  },
                  "goal": {
                    "type": "string",
                    "description": "The goal of the email"
                  },
                  "tone": {
                    "type": "string",
                    "description": "The tone of the email"
                  }
                }
              },
              "example": {
                "type": "body",
                "content": "Announce our summer sale to our subscribers.",
                "sender": "Marketing Team",
                "audience": "subscribers",
                "goal": "engagement",
                "tone": "friendly"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis report returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analysisReport": {
                      "type": "object",
                      "description": "The analysis report in JSON format"
                    },
                    "initialRequest": {
                      "type": "object",
                      "description": "The initial request data"
                    }
                  }
                },
                "example": {
                  "analysisReport": {
                    "analysis": {
                      "completeness": {
                        "score": "...",
                        "evaluation": "..."
                      },
                      "accuracy": {
                        "score": "...",
                        "evaluation": "..."
                      },
                      "clarity": {
                        "score": "...",
                        "evaluation": "..."
                      },
                      "actionability": {
                        "score": "...",
                        "evaluation": "..."
                      }
                    },
                    "summary": {
                      "strengths": "...",
                      "weaknesses": "..."
                    }
                  },
                  "initialRequest": {
                    "content": "...",
                    "tone": "...",
                    "sender": "...",
                    "audience": "...",
                    "goal": "..."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, missing or invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "error": "type and content are required"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to analyze content"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai-assistant/detailed-analysis": {
      "post": {
        "summary": "Perform a detailed analysis of email content and provide manual recommendations (paid users only)",
        "tags": [
          "AI Assistant"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "content",
                  "audience"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "subject",
                      "body"
                    ],
                    "description": "Type of content to analyze (subject or body)"
                  },
                  "content": {
                    "type": "string",
                    "description": "The email subject or body to analyze"
                  },
                  "sender": {
                    "type": "string",
                    "description": "The sender persona"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience"
                  },
                  "goal": {
                    "type": "string",
                    "description": "The goal of the email"
                  },
                  "tone": {
                    "type": "string",
                    "description": "The tone of the email"
                  }
                }
              },
              "example": {
                "type": "subject",
                "content": "Don't Miss Our Summer Sale!",
                "sender": "Marketing Team",
                "audience": "subscribers",
                "goal": "engagement",
                "tone": "friendly"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed analysis report returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "initialContent": {
                      "type": "string",
                      "description": "The original content"
                    },
                    "analysisReport": {
                      "type": "object",
                      "description": "The detailed analysis report in JSON format"
                    }
                  }
                },
                "example": {
                  "initialContent": "Don't Miss Our Summer Sale!",
                  "analysisReport": {
                    "analysis": [
                      {
                        "factor": "...",
                        "explanation": "..."
                      },
                      {
                        "factor": "...",
                        "explanation": "..."
                      },
                      {
                        "factor": "...",
                        "explanation": "..."
                      },
                      {
                        "factor": "...",
                        "explanation": "..."
                      },
                      {
                        "factor": "...",
                        "explanation": "..."
                      }
                    ],
                    "optimizedSuggestions": [
                      "...",
                      "...",
                      "..."
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, paid plan required",
            "content": {
              "application/json": {
                "example": {
                  "error": "Access denied. Upgrade to a paid plan to use this feature."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, missing or invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "error": "type and content are required"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to analyze content"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai-assistant/fix": {
      "post": {
        "summary": "Fix and optimize manual email content using AI and analysis report (paid users only)",
        "tags": [
          "AI Assistant"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "content",
                  "analysis"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "subject",
                      "body"
                    ],
                    "description": "Type of content to fix (subject or body)"
                  },
                  "content": {
                    "type": "string",
                    "description": "The email subject or body to fix"
                  },
                  "analysis": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "factor": {
                          "type": "string"
                        },
                        "explanation": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "The analysis report array"
                  }
                }
              },
              "example": {
                "type": "body",
                "content": "Announce our summer sale to our subscribers.",
                "analysis": [
                  {
                    "factor": "Length",
                    "explanation": "Too long."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fixed content and analysis report returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fixedContent": {
                      "type": "string",
                      "description": "The fixed/optimized content"
                    },
                    "initialContent": {
                      "type": "string",
                      "description": "The original content"
                    },
                    "analysisReport": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "factor": {
                            "type": "string"
                          },
                          "explanation": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "fixedContent": "Summer Sale Starts Now!",
                  "initialContent": "Announce our summer sale to our subscribers.",
                  "analysisReport": [
                    {
                      "factor": "Length",
                      "explanation": "Too long."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, paid plan required",
            "content": {
              "application/json": {
                "example": {
                  "error": "Access denied. Upgrade to a paid plan to use this feature."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, missing or invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "error": "type, content, and analysis are required"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to revise content"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai-template/generate": {
      "post": {
        "summary": "Generate a new AI email template from a natural language prompt",
        "tags": [
          "AI Template"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 1000,
                    "description": "Natural language description of the email template to generate"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience for the email"
                  },
                  "tone": {
                    "type": "string",
                    "description": "The desired tone of the email"
                  },
                  "goal": {
                    "type": "string",
                    "description": "The goal of the email campaign"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "smart",
                      "super"
                    ],
                    "default": "basic",
                    "description": "AI model tier to use. Determines quality and credit cost.\nbasic (default) = 5 credits | smart = 8 credits | super = 12 credits.\nUse GET /api/v1/ai/tasks for live credit costs and plan access.\n"
                  }
                }
              },
              "example": {
                "prompt": "Create a summer sale announcement email with 30% off discount",
                "audience": "subscribers",
                "tone": "friendly",
                "goal": "sales",
                "model": "basic"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI template generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "subject": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            },
                            "typeOfMail": {
                              "type": "string"
                            },
                            "creditsUsed": {
                              "type": "number"
                            },
                            "remainingCredits": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "AI template generated successfully",
                    "email": {
                      "id": "64a1b2c3d4e5f6g7h8i9j0k1",
                      "subject": "AI Template: Create a summer sale announcement email wi...",
                      "body": "<html>...</html>",
                      "typeOfMail": "ai-generated",
                      "creditsUsed": 5,
                      "remainingCredits": 8
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient AI credits",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Insufficient AI credits",
                  "code": "INSUFFICIENT_AI_CREDITS",
                  "requiredCredits": 5,
                  "availableCredits": 2
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Wallet not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "message": "Invalid input",
                  "fieldsError": {
                    "prompt": {
                      "msg": "Prompt must be 10-1000 characters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai-template/refine/{emailId}": {
      "post": {
        "summary": "Iteratively improve an existing AI-generated email template",
        "tags": [
          "AI Template"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "emailId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the AI-generated email to refine"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refinementPrompt"
                ],
                "properties": {
                  "refinementPrompt": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 500,
                    "description": "Instructions for refining the existing template"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "smart",
                      "super"
                    ],
                    "default": "basic",
                    "description": "AI model tier. basic (default) = 3 credits | smart = 5 credits | super = 8 credits.\nUse GET /api/v1/ai/tasks for live credit costs and plan access.\n"
                  }
                }
              },
              "example": {
                "refinementPrompt": "Make the CTA button larger and add urgency language",
                "model": "basic"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template refined successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            },
                            "creditsUsed": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "Template refined successfully",
                    "email": {
                      "id": "64a1b2c3d4e5f6g7h8i9j0k1",
                      "body": "<html>...</html>",
                      "creditsUsed": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email is not AI-generated",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Only AI-generated emails can be refined"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient AI credits",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Insufficient AI credits",
                  "code": "INSUFFICIENT_AI_CREDITS",
                  "requiredCredits": 3,
                  "availableCredits": 1
                }
              }
            }
          },
          "404": {
            "description": "Email or wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Email not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "message": "Invalid input",
                  "fieldsError": {
                    "refinementPrompt": {
                      "msg": "Refinement prompt must be 5-500 characters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/cache": {
      "get": {
        "summary": "Retrieve the cached AI analysis result for today",
        "description": "Returns the most recent AI analysis stored for the authenticated user\nwithin the current TTL window (24 hours by default) for a given page\ncontext. The cache key is (userId, date, pageContext). If no cache\nentry exists or the entry is for a different context, `exists` is false\nand `cached` is null — the frontend should then trigger a fresh analysis.\n\nThe TTL is configured server-side and may change independently of the\nendpoint path. \"Daily\" is the current default period; use the `resetsAt`\nfield from `GET /api/v1/ai/quota` to know when the quota resets.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageContext",
            "schema": {
              "type": "string",
              "default": "dashboard"
            },
            "description": "Which page/section the analysis was generated for"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache lookup result returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean",
                      "description": "Whether a valid cache entry was found"
                    },
                    "cached": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "payload": {
                          "type": "object",
                          "description": "The analysis result"
                        },
                        "modelTier": {
                          "type": "string",
                          "example": "basic"
                        },
                        "generatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pageContext": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Store an AI analysis result in the cache",
        "description": "Persists (or overwrites) the AI analysis result for the current TTL\nwindow. Callers should write immediately after a successful AI response\nso that the next `GET /cache` within the same window returns the stored\nvalue without re-running the analysis. Overwrites are idempotent.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payload"
                ],
                "properties": {
                  "payload": {
                    "type": "object",
                    "description": "The analysis result to cache (arbitrary object)"
                  },
                  "modelTier": {
                    "type": "string",
                    "default": "basic",
                    "description": "Which AI model tier produced this result"
                  },
                  "pageContext": {
                    "type": "string",
                    "default": "dashboard",
                    "description": "Page/section this result belongs to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stored": {
                      "type": "boolean",
                      "example": true
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": "UTC date key (YYYY-MM-DD)"
                    },
                    "pageContext": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/quota": {
      "get": {
        "summary": "Get the AI analysis quota for the current TTL window",
        "description": "Returns how many free AI analyses the user has used in the current\nquota window and when the quota resets (midnight UTC). The daily quota\nis one complimentary analysis per day; paid credit usage is tracked\nseparately via the wallet.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Quota information returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dailyQuota": {
                      "type": "integer",
                      "description": "Total complimentary analyses allowed per day",
                      "example": 1
                    },
                    "usedToday": {
                      "type": "integer",
                      "description": "Number of complimentary analyses used today"
                    },
                    "remaining": {
                      "type": "integer",
                      "description": "Remaining complimentary analyses for today"
                    },
                    "resetsAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "UTC timestamp when the quota resets (midnight UTC)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/first-diagnosis": {
      "get": {
        "summary": "Check eligibility for the complimentary first AI diagnosis",
        "description": "Returns whether the authenticated user is still eligible for the one-time\ncomplimentary AI funnel diagnosis. Once claimed (via POST\n/api/v1/ai/first-diagnosis/claim), `eligible` becomes false permanently.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Eligibility status returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eligible": {
                      "type": "boolean",
                      "description": "True if the user has not yet claimed the free diagnosis"
                    },
                    "usedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Timestamp when the diagnosis was first claimed, or null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/first-diagnosis/claim": {
      "post": {
        "summary": "Claim the complimentary first AI diagnosis",
        "description": "Atomically marks the free first diagnosis as used for the authenticated\nuser. Idempotent: concurrent calls are safe — only one succeeds, the\nrest receive 409. Call this endpoint immediately after running the\nfirst diagnosis so the credit is reserved even if the UI is closed.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnosis claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claimed": {
                      "type": "boolean",
                      "example": true
                    },
                    "usedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the claim was recorded"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Free diagnosis already claimed"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/tasks": {
      "get": {
        "summary": "List all AI tasks with credit costs and model options",
        "description": "Returns every AI operation available in the platform along with its\ndefault model tier, credit cost, and whether the caller may supply a\ndifferent model tier. Response is personalised to the authenticated\nuser's subscription plan (e.g. free users only see basic model access).\n\nUse this endpoint to build credit-cost indicators and model pickers\nin the frontend — rather than hard-coding costs in the client.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Task registry returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "planTier": {
                      "type": "string",
                      "description": "Calling user's subscription plan (free/basic/advanced/premium/enterprise)"
                    },
                    "monthlyAllotment": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Monthly included AI credits for this plan (null = unlimited)"
                    },
                    "models": {
                      "type": "object",
                      "description": "Resolved OpenAI model IDs for each tier",
                      "properties": {
                        "basic": {
                          "type": "string"
                        },
                        "smart": {
                          "type": "string"
                        },
                        "super": {
                          "type": "string"
                        }
                      }
                    },
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "taskId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "route": {
                            "type": "string",
                            "nullable": true
                          },
                          "defaultModel": {
                            "type": "string"
                          },
                          "defaultCreditCost": {
                            "type": "integer"
                          },
                          "modelSelectable": {
                            "type": "boolean"
                          },
                          "creditsByModel": {
                            "type": "object",
                            "nullable": true,
                            "description": "Per-tier credit costs (only when modelSelectable=true)"
                          },
                          "accessibleModels": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "string"
                            },
                            "description": "Model tiers the user's plan can access for this task"
                          },
                          "minPlan": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/health-insight": {
      "get": {
        "summary": "Get a compact AI-generated stop/start/continue account health insight",
        "description": "Returns one thing to stop, one to start, and one to continue based on\nthe user's current bounce rate, spam complaint rate, and list engagement.\nFree for all plans — uses the basic model (gpt-4o-mini) with no credit\ndeduction.\n\n**Smart caching**: the insight is cached against a fingerprint of the\nunderlying metrics. Repeated calls return the cached insight instantly as\nlong as the numbers haven't shifted meaningfully (rounded to 1 d.p.).\nWhen the data changes the endpoint regenerates automatically.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Insight returned (fresh or cached)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "type": "object",
                      "properties": {
                        "stop": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "Sending to unengaged contacts"
                            },
                            "reason": {
                              "type": "string",
                              "example": "Your 90-day engagement rate is below 25%, dragging inbox placement."
                            }
                          }
                        },
                        "start": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "reason": {
                              "type": "string"
                            }
                          }
                        },
                        "continue": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "reason": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "fromCache": {
                      "type": "boolean",
                      "description": "True if served from cache (no new AI call made)"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dataFingerprint": {
                      "type": "string",
                      "description": "Hash of the metrics used to generate this insight"
                    },
                    "changed": {
                      "type": "array",
                      "description": "Metrics that shifted ≥ 0.5pp since the previous insight. Omitted when nothing changed.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "string",
                            "example": "bounceRate"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string",
                            "enum": [
                              "up",
                              "down"
                            ]
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/prime-insights": {
      "post": {
        "summary": "Warm the AI insight cache for the user's most recent assets",
        "description": "Queues background AI analysis for up to 5 recent instant emails,\n5 recent drip campaigns, and up to 5 opt-in pages. Only assets with\nstale or missing cache entries are regenerated. Returns immediately\nwith a count of jobs queued. Call this on login so asset insight\npages load instantly.\n\n**Rate limit**: once per calendar day (UTC) per user. If already called\ntoday, returns 202 with `queued: 0` and `reason: \"quota_exhausted\"`.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Priming jobs accepted (or quota exhausted — check `reason`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queued": {
                      "type": "integer",
                      "description": "Number of background priming jobs queued. 0 when quota is exhausted."
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "quota_exhausted"
                      ],
                      "description": "Present only when `queued` is 0 due to the daily quota being met"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/ai/type-insight/emails": {
      "get": {
        "summary": "AI overview insight for all instant emails",
        "description": "Returns a rich AI-generated overview of the user's entire instant email\nportfolio. Covers strengths, improvements, trends, jobs-to-be-done\nassessment, and honest platform feedback. Cached for 24 hours.\nPass `?force=true` to bypass cache and regenerate immediately.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            },
            "description": "Force regeneration even if a cached result exists"
          }
        ],
        "responses": {
          "200": {
            "description": "Type insight returned (fresh or cached)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeInsightResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/ai/type-insight/campaigns": {
      "get": {
        "summary": "AI overview insight for all drip campaigns",
        "description": "Returns a rich AI-generated overview of the user's entire campaign\nportfolio — sequence depth, aggregate performance, stalled setups, and\nmore. Cached for 24 hours. Pass `?force=true` to regenerate.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type insight returned (fresh or cached)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeInsightResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/ai/type-insight/optin-pages": {
      "get": {
        "summary": "AI overview insight for all opt-in pages",
        "description": "Returns a rich AI-generated overview of the user's opt-in page portfolio —\nconversion rates, form friction analysis, dead pages, missing post-signup\nflows, and growth trends. Cached for 24 hours. Pass `?force=true` to regenerate.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type insight returned (fresh or cached)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeInsightResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/ai/type-insight/contacts": {
      "get": {
        "summary": "AI overview insight for the contact list",
        "description": "Returns a rich AI-generated overview of the user's subscriber list —\ngrowth trend, engagement health, subscriber domain breakdown (Gmail vs\nYahoo vs corporate etc.), and list quality signals.\nCached for 24 hours. Pass `?force=true` to regenerate.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type insight returned (fresh or cached)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeInsightResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/ai/type-insight/{type}/refresh": {
      "post": {
        "summary": "Force-refresh the AI type insight for a specific asset type",
        "description": "Evicts the cached insight and regenerates it immediately. Equivalent to\ncalling the GET endpoint with `?force=true`. Use when the user explicitly\nrequests a fresh analysis from the UI.\n",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "emails",
                "campaigns",
                "optin-pages",
                "contacts"
              ]
            },
            "description": "The asset type to refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Fresh insight returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeInsightResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded — max 5 manual refreshes per hour per user"
          }
        }
      }
    },
    "/api/v1/analytics/transactional/{trackingEmailId}": {
      "get": {
        "summary": "Get engagement analytics for a transactional email type",
        "description": "Returns lifetime engagement analytics for a transactional email type. Works for both template sends (trackingEmailId = Email._id) and raw-data sends (trackingEmailId = contentHash from EmailSendLog). Returns all-zero values when no events exist yet — never a 404.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "trackingEmailId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "24-hex tracking ID from GET /emails/transactional/types"
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement analytics for the email type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sends": {
                      "type": "integer"
                    },
                    "delivers": {
                      "type": "integer"
                    },
                    "opens": {
                      "type": "integer"
                    },
                    "uniqueOpens": {
                      "type": "integer"
                    },
                    "clicks": {
                      "type": "integer"
                    },
                    "uniqueClicks": {
                      "type": "integer"
                    },
                    "bounces": {
                      "type": "integer"
                    },
                    "spams": {
                      "type": "integer"
                    },
                    "unsubscribes": {
                      "type": "integer",
                      "description": "Always 0 for transactional emails (no list)"
                    },
                    "openRate": {
                      "type": "number",
                      "description": "uniqueOpens / delivers * 100"
                    },
                    "deliveryRate": {
                      "type": "number",
                      "description": "delivers / sends * 100"
                    },
                    "ctr": {
                      "type": "number",
                      "description": "uniqueClicks / delivers * 100"
                    },
                    "ctor": {
                      "type": "number",
                      "description": "uniqueClicks / uniqueOpens * 100"
                    },
                    "spamRate": {
                      "type": "number",
                      "description": "spams / delivers * 100"
                    },
                    "bounceRate": {
                      "type": "number",
                      "description": "bounces / sends * 100"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "trackingEmailId is not a valid 24-char hex string"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/attachments/{email_id}": {
      "post": {
        "summary": "Upload attachment To An Email",
        "tags": [
          "Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email_id",
            "required": true,
            "description": "ID of the email to upload the attachment to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachment",
            "description": "The attachment file to upload (Max 50kb)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "src": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "UPLOADED",
                  "id": "1n219ff90jsxSW01",
                  "filename": "file_1.jpg",
                  "location": "https://s3.amazonaws.com/bucket/file_1.jpg",
                  "src": "https://s3.amazonaws.com/bucket/file_1.jpg"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "example": {
                  "message": "No file to upload!"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attachments/": {
      "delete": {
        "summary": "Delete an attachment from a email",
        "tags": [
          "Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "emailId",
            "required": true,
            "description": "ID of the Email to delete attachment from",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "attachmentId",
            "required": true,
            "description": "ID of the attachment to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted successfully",
            "content": {
              "application/json": {
                "example": {
                  "message": "Attachment deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "Attachment or Email not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "Attachment or Email not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/brand-profile/{brandId}/extract-from-logo": {
      "post": {
        "summary": "Extract brand colors and a font suggestion from an uploaded logo",
        "description": "Phase 2c (§6 Phase 2 item 2 of docs/landing-page-strategy-jtbd-rubric-roadmap.md). Uploads a logo image and uses one vision-model call to suggest primaryColor/secondaryColor/accentColor and fontFamily — no separate color-extraction library (see decision log D6). Each field is validated independently; whichever subset validates is applied. The logo itself is always saved even if the vision call fails. Requires the Advanced plan or higher (the same gate as every other logo write on this resource).\n",
        "tags": [
          "Brand Profile"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "brandId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "logo"
                ],
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "binary",
                    "description": "jpeg/png/webp, 5MB max."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo saved; colors/font applied where the vision call's response validated"
          },
          "400": {
            "description": "Invalid brand ID, missing file, or an unsupported file type/size"
          },
          "402": {
            "description": "Insufficient AI credits"
          },
          "403": {
            "description": "Not permitted to update this brand profile, or plan doesn't allow logo upload"
          },
          "404": {
            "description": "Brand profile not found"
          },
          "429": {
            "description": "Rate limited — 5 requests/minute per user"
          }
        }
      }
    },
    "/api/v1/cache": {
      "get": {
        "summary": "Read a cached value by key",
        "description": "Returns the cached value stored under the given key for the authenticated\nuser. Keys are automatically scoped per user — two users with the same\nkey never see each other's data. If the key does not exist or has expired,\n`exists` is false and `value` is null.\n\nUse this endpoint as a lightweight, device-agnostic substitute for\nlocalStorage: any data the frontend needs to persist across sessions\n(selected filters, partial form state, dismissed banners, etc.) can be\nstored here with a TTL instead of in browser storage.\n",
        "tags": [
          "Cache"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The cache key to look up (scoped to the authenticated user)"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean",
                      "description": "Whether a live cache entry was found"
                    },
                    "value": {
                      "nullable": true,
                      "type": "object",
                      "description": "The cached object, or null if not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid key"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Write a value to the cache",
        "description": "Stores (or overwrites) an arbitrary JSON object under the given key for\nthe authenticated user. The entry expires automatically after `ttlSeconds`\n(default 86 400 s / 24 h; maximum 604 800 s / 7 days). Writes are\nidempotent — repeating the same call refreshes the TTL.\n",
        "tags": [
          "Cache"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "The cache key (scoped to the authenticated user)"
                  },
                  "value": {
                    "type": "object",
                    "description": "The JSON object to cache"
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "default": 86400,
                    "maximum": 604800,
                    "description": "Seconds until the entry expires (capped at 7 days)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Value stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stored": {
                      "type": "boolean",
                      "example": true
                    },
                    "key": {
                      "type": "string"
                    },
                    "ttlSeconds": {
                      "type": "integer",
                      "description": "Effective TTL applied (capped)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid key/value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete a cached value by key",
        "description": "Removes the cache entry for the given key. Idempotent — deleting a\nkey that does not exist still returns 200.\n",
        "tags": [
          "Cache"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The cache key to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Entry deleted (or did not exist)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid key"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "post": {
        "summary": "Create a new campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Campaign data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the campaign"
                },
                "interval": {
                  "type": "integer",
                  "description": "Interval in seconds"
                }
              },
              "example": {
                "name": "test-camapign",
                "interval": 86400
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new campaign has been created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
