openapi: 3.1.0
info:
  title: HeyReach Public API
  version: beta
  description: Compiled from the API reference linked by HeyReach. Body and response schemas reflect published examples;
    required fields are not inferred. The server hostname is inferred because the linked collection uses relative
    paths.
externalDocs:
  url: https://documenter.getpostman.com/view/23808049/2sA2xb5F75
servers:
- url: https://api.heyreach.io
  description: Host inferred; the linked collection publishes relative request URLs.
security:
- apiKeyAuth: []
tags:
- name: Analytics
- name: Authentication
- name: Blacklist
- name: Campaigns
- name: Enrichment
- name: Inbox
- name: LeadTags
- name: Leads
- name: LinkedInAccounts
- name: Lists
- name: MyNetwork
- name: Organization
- name: Webhooks
paths:
  /api/public/auth/CheckApiKey:
    get:
      operationId: get_authentication_checkapikey
      summary: CheckApiKey
      tags:
      - Authentication
      responses:
        '200':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/GetAll:
    post:
      operationId: post_campaigns_getall
      summary: GetAll
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offset:
                  type: integer
                keyword:
                  type: string
                statuses:
                  type: array
                  items:
                    type: string
                accountIds:
                  type: array
                  items:
                    type: integer
                limit:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        creationTime:
                          type: string
                        linkedInUserListName:
                          type: string
                        linkedInUserListId:
                          type: string
                        campaignAccountIds:
                          type: array
                          items:
                            type: string
                        status:
                          type: 'null'
                        progressStats:
                          type: object
                          properties:
                            totalUsers:
                              type: string
                            totalUsersInProgress:
                              type: string
                            totalUsersPending:
                              type: string
                            totalUsersFinished:
                              type: string
                            totalUsersFailed:
                              type: string
                          additionalProperties: true
                        excludeAlreadyMessagedGlobal:
                          type: string
                        excludeAlreadyMessagedCampaignAccounts:
                          type: string
                        excludeFirstConnectionCampaignAccounts:
                          type: string
                        excludeFirstConnectionGlobal:
                          type: string
                        excludeNoProfilePicture:
                          type: string
                        excludeListId:
                          type: string
                      additionalProperties: true
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/GetById:
    get:
      operationId: get_campaigns_getbyid
      summary: GetById
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  creationTime:
                    type: string
                  linkedInUserListName:
                    type: string
                  linkedInUserListId:
                    type: integer
                  campaignAccountIds:
                    type: array
                    items:
                      type: integer
                  status:
                    type: string
                  progressStats:
                    type: object
                    properties:
                      totalUsers:
                        type: integer
                      totalUsersInProgress:
                        type: integer
                      totalUsersPending:
                        type: integer
                      totalUsersFinished:
                        type: integer
                      totalUsersFailed:
                        type: integer
                      totalUsersManuallyStopped:
                        type: integer
                      totalUsersExcluded:
                        type: integer
                    additionalProperties: true
                  excludeInOtherCampaigns:
                    type: boolean
                  excludeHasOtherAccConversations:
                    type: boolean
                  excludeContactedFromSenderInOtherCampaign:
                    type: boolean
                  excludeListId:
                    type: 'null'
                  organizationUnitId:
                    type: integer
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/Resume:
    post:
      operationId: post_campaigns_resume
      summary: Resume
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: Response
  /api/public/campaign/Pause:
    post:
      operationId: post_campaigns_pause
      summary: Pause
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        creationTime:
                          type: string
                        linkedInUserListName:
                          type: string
                        linkedInUserListId:
                          type: string
                        campaignAccountIds:
                          type: array
                          items:
                            type: string
                        status:
                          type: 'null'
                        progressStats:
                          type: object
                          properties:
                            totalUsers:
                              type: string
                            totalUsersInProgress:
                              type: string
                            totalUsersPending:
                              type: string
                            totalUsersFinished:
                              type: string
                            totalUsersFailed:
                              type: string
                          additionalProperties: true
                        excludeAlreadyMessagedGlobal:
                          type: string
                        excludeAlreadyMessagedCampaignAccounts:
                          type: string
                        excludeFirstConnectionCampaignAccounts:
                          type: string
                        excludeFirstConnectionGlobal:
                          type: string
                        excludeNoProfilePicture:
                          type: string
                        excludeListId:
                          type: string
                      additionalProperties: true
                additionalProperties: true
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/AddLeadsToCampaign:
    post:
      operationId: post_campaigns_addleadstocampaign
      summary: AddLeadsToCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                accountLeadPairs:
                  type: array
                  items:
                    type: object
                    properties:
                      linkedInAccountId:
                        type: integer
                      lead:
                        type: object
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          location:
                            type: string
                          summary:
                            type: string
                          companyName:
                            type: string
                          position:
                            type: string
                          about:
                            type: string
                          emailAddress:
                            type: string
                          customUserFields:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                value:
                                  type: string
                              additionalProperties: true
                          profileUrl:
                            type: string
                        additionalProperties: true
                    additionalProperties: true
                resumeFinishedCampaign:
                  type: boolean
                resumePausedCampaign:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/AddLeadsToCampaignV2:
    post:
      operationId: post_campaigns_addleadstocampaignv2
      summary: AddLeadsToCampaignV2
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                accountLeadPairs:
                  type: array
                  items:
                    type: object
                    properties:
                      linkedInAccountId:
                        type: integer
                      lead:
                        type: object
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          location:
                            type: string
                          summary:
                            type: string
                          companyName:
                            type: string
                          position:
                            type: string
                          about:
                            type: string
                          emailAddress:
                            type: string
                          customUserFields:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                value:
                                  type: string
                              additionalProperties: true
                          profileUrl:
                            type: string
                        additionalProperties: true
                    additionalProperties: true
                resumeFinishedCampaign:
                  type: boolean
                resumePausedCampaign:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  addedLeadsCount:
                    type: integer
                  updatedLeadsCount:
                    type: integer
                  failedLeadsCount:
                    type: integer
                additionalProperties: true
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/StopLeadInCampaign:
    post:
      operationId: post_campaigns_stopleadincampaign
      summary: StopLeadInCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                leadMemberId:
                  type: string
                leadUrl:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/campaign/GetLeadsFromCampaign:
    post:
      operationId: post_campaigns_getleadsfromcampaign
      summary: GetLeadsFromCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        default:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        linkedInUserProfileId:
                          type: string
                        linkedInUserProfile:
                          type: object
                          properties:
                            linkedin_id:
                              type: string
                            profileUrl:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            headline:
                              type: string
                            imageUrl:
                              type: string
                            location:
                              type: string
                            companyName:
                              type: string
                            companyUrl:
                              type: 'null'
                            position:
                              type: string
                            about:
                              type: 'null'
                            connections:
                              type: integer
                            followers:
                              type: integer
                            emailAddress:
                              type: 'null'
                          additionalProperties: true
                        lastActionTime:
                          type: string
                        failedTime:
                          type: 'null'
                        creationTime:
                          type: string
                        leadCampaignStatus:
                          type: string
                        leadConnectionStatus:
                          type: string
                        leadMessageStatus:
                          type: string
                        errorCode:
                          type: 'null'
                        leadCampaignStatusMessage:
                          type: 'null'
                        linkedInSenderId:
                          type: integer
                        linkedInSenderFullName:
                          type: string
                      additionalProperties: true
                additionalProperties: true
  /api/public/campaign/GetCampaignsForLead:
    post:
      operationId: post_campaigns_getcampaignsforlead
      summary: GetCampaignsForLead
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                linkedinId:
                  type: string
                profileUrl:
                  type: string
                offset:
                  type: integer
                limit:
                  type: integer
              additionalProperties: true
      responses:
        default:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  leadFullName:
                    type: string
                  totalCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        campaignId:
                          type: integer
                        campaignName:
                          type: string
                        campaignStatus:
                          type: string
                        creationTime:
                          type: string
                        leadStatus:
                          type: string
                      additionalProperties: true
                additionalProperties: true
  /api/public/campaign/StartCampaign:
    post:
      operationId: post_campaigns_startcampaign
      summary: StartCampaign
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful response
  /api/public/campaign/UpdateSettings:
    post:
      operationId: post_campaigns_updatesettings
      summary: UpdateSettings
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                name:
                  type: string
                linkedInUserListId:
                  type: integer
                excludeContactedFromOtherCampaigns:
                  type: boolean
                excludeHasOtherAccConversations:
                  type: boolean
                excludeContactedFromSenderInOtherCampaign:
                  type: boolean
                excludeListId:
                  type: 'null'
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/campaign/UpdateSchedule:
    post:
      operationId: post_campaigns_updateschedule
      summary: UpdateSchedule
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                schedule:
                  type: object
                  properties:
                    dailyStartTime:
                      type: string
                    dailyEndTime:
                      type: string
                    timeZoneId:
                      type: string
                    enabledMonday:
                      type: boolean
                    enabledTuesday:
                      type: boolean
                    enabledWednesday:
                      type: boolean
                    enabledThursday:
                      type: boolean
                    enabledFriday:
                      type: boolean
                    enabledSaturday:
                      type: boolean
                    enabledSunday:
                      type: boolean
                    startDate:
                      type: 'null'
                    endDate:
                      type: 'null'
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/campaign/UpdateAccounts:
    post:
      operationId: post_campaigns_updateaccounts
      summary: UpdateAccounts
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                linkedInAccountIds:
                  type: array
                  items:
                    type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/campaign/Create:
    post:
      operationId: post_campaigns_create
      summary: Create
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignId:
                    type: integer
                additionalProperties: true
  /api/public/campaign/UpdateSequence:
    post:
      operationId: post_campaigns_updatesequence
      summary: UpdateSequence
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/campaign/GetCampaignSequence:
    get:
      operationId: get_campaigns_getcampaignsequence
      summary: GetCampaignSequence
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodeType:
                    type: string
                  actionDelay:
                    type: integer
                  actionDelayUnit:
                    type: string
                  payload:
                    type: object
                    properties:
                      messages:
                        type: array
                        items:
                          type: string
                      fallbackMessage:
                        type: string
                      toBeWithdrawnAfterDays:
                        type: integer
                    additionalProperties: true
                  conditionalNode:
                    type: object
                    properties:
                      nodeType:
                        type: string
                      actionDelay:
                        type: integer
                      actionDelayUnit:
                        type: string
                      payload:
                        type: object
                        properties:
                          messages:
                            type: array
                            items:
                              type: string
                          fallbackMessage:
                            type: string
                        additionalProperties: true
                      unconditionalNode:
                        type: object
                        properties:
                          nodeType:
                            type: string
                          actionDelay:
                            type: integer
                          actionDelayUnit:
                            type: string
                        additionalProperties: true
                    additionalProperties: true
                  unconditionalNode:
                    type: object
                    properties:
                      nodeType:
                        type: string
                      actionDelay:
                        type: integer
                      actionDelayUnit:
                        type: string
                    additionalProperties: true
                additionalProperties: true
  /api/public/campaign/CreateCampaignFromTemplate:
    post:
      operationId: post_campaigns_createcampaignfromtemplate
      summary: CreateCampaignFromTemplate
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignIdForTemplate:
                  type: integer
                name:
                  type: string
                linkedInUserListId:
                  type: integer
                excludeContactedFromOtherCampaigns:
                  type: boolean
                excludeHasOtherAccConversations:
                  type: boolean
                excludeContactedFromSenderInOtherCampaign:
                  type: boolean
                linkedInAcccountIdsForCampaign:
                  type: array
                  items:
                    type: integer
                excludeListId:
                  type: 'null'
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignId:
                    type: integer
                additionalProperties: true
  /api/public/campaign/UpdateLeadCustomFields/campaigns/{campaignId}/leads/custom-fields:
    patch:
      operationId: patch_campaigns_updateleadcustomfields
      summary: UpdateLeadCustomFields
      tags:
      - Campaigns
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leadMemberIdOrUrl:
                  type: string
                customFields:
                  type: object
                  properties:
                    custom_field_1:
                      type: string
                    custom_field_2:
                      type: string
                    custom_field_3:
                      type: string
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  leadId:
                    type: string
                  listId:
                    type: integer
                  customFields:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                      additionalProperties: true
                additionalProperties: true
  /api/public/campaign/AddLinkedInAccountsToCampaign:
    post:
      operationId: post_campaigns_addlinkedinaccountstocampaign
      summary: AddLinkedInAccountsToCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                linkedInAccountIds:
                  type: array
                  items:
                    type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  linkedInAccountAdditionResults:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          id:
                            type: integer
                          success:
                            type: boolean
                          errorStatus:
                            type: 'null'
                        additionalProperties: true
                      - type: object
                        properties:
                          id:
                            type: integer
                          success:
                            type: boolean
                          errorStatus:
                            type: string
                        additionalProperties: true
                additionalProperties: true
  /api/public/campaign/RemoveLinkedInAccountsFromCampaign:
    post:
      operationId: post_campaigns_removelinkedinaccountsfromcampaign
      summary: RemoveLinkedInAccountsFromCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                linkedInAccountIds:
                  type: array
                  items:
                    type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  linkedInAccountRemovalResults:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        status:
                          type: string
                      additionalProperties: true
                additionalProperties: true
  /api/public/inbox/GetConversationsV2:
    post:
      operationId: post_inbox_getconversationsv2
      summary: GetConversationsV2
      tags:
      - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    linkedInAccountIds:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    campaignIds:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    searchString:
                      type: string
                    leadLinkedInId:
                      type: string
                    leadProfileUrl:
                      type: string
                    tags:
                      type: array
                      items:
                        type: string
                    seen:
                      type: 'null'
                  additionalProperties: true
                offset:
                  type: integer
                limit:
                  type: integer
              additionalProperties: true
      responses:
        default:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        read:
                          type: boolean
                        groupChat:
                          type: boolean
                        blockedByMe:
                          type: boolean
                        blockedByParticipant:
                          type: boolean
                        lastMessageAt:
                          type: string
                        lastMessageText:
                          type: string
                        lastMessageType:
                          type: string
                        lastMessageSender:
                          type: string
                        totalMessages:
                          type: integer
                        linkedInAccountId:
                          type: integer
                        correspondentProfile:
                          type: object
                          properties:
                            id:
                              type: string
                            linkedin_id:
                              type: string
                            profileUrl:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            headline:
                              type: string
                            imageUrl:
                              type: string
                            location:
                              type: string
                            companyName:
                              type: string
                            companyUrl:
                              type: string
                            position:
                              type: string
                            about:
                              type: string
                            connections:
                              type: integer
                            followers:
                              type: integer
                            tags:
                              type: array
                              items:
                                type: string
                            emailAddress:
                              type: string
                            customFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: true
                          additionalProperties: true
                        linkedInAccount:
                          type: object
                          properties:
                            id:
                              type: integer
                            emailAddress:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            authIsValid:
                              type: boolean
                            isValidNavigator:
                              type: boolean
                            isValidRecruiter:
                              type: boolean
                            profileUrl:
                              type: string
                          additionalProperties: true
                        messages:
                          type: array
                          items:
                            type: object
                            properties:
                              createdAt:
                                type: string
                              body:
                                type: string
                              subject:
                                type: string
                              postLink:
                                type: string
                              isInMail:
                                type: boolean
                              sender:
                                type: string
                            additionalProperties: true
                      additionalProperties: true
                additionalProperties: true
  /api/public/inbox/GetConversationsV3:
    post:
      operationId: post_inbox_getconversationsv3
      summary: GetConversationsV3
      tags:
      - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                cursor:
                  type: 'null'
                from:
                  type: string
                to:
                  type: string
                filters:
                  type: object
                  properties:
                    linkedInAccountIds:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    campaignIds:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    searchString:
                      type: string
                    leadLinkedInId:
                      type: 'null'
                    leadProfileUrl:
                      type: 'null'
                    tags:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    latestAutoTagNames:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    seen:
                      type: 'null'
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        read:
                          type: boolean
                        groupChat:
                          type: boolean
                        blockedByMe:
                          type: boolean
                        blockedByParticipant:
                          type: boolean
                        lastMessageAt:
                          type: string
                        lastMessageText:
                          type: string
                        lastMessageType:
                          type: string
                        lastMessageSender:
                          type: string
                        totalMessages:
                          type: integer
                        campaignId:
                          type: integer
                        linkedInAccountId:
                          type: integer
                        correspondentProfile:
                          type: object
                          properties:
                            id:
                              type: string
                            linkedin_id:
                              type: string
                            profileUrl:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            headline:
                              type: string
                            imageUrl:
                              type: string
                            location:
                              type: string
                            companyName:
                              type: string
                            companyUrl:
                              type: string
                            position:
                              type: string
                            about:
                              type: string
                            connections:
                              type: integer
                            followers:
                              type: integer
                            tags:
                              type: array
                              items:
                                type: string
                            autoTags:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  campaignId:
                                    type: integer
                                  campaignName:
                                    type: string
                                  linkedInAccountId:
                                    type: string
                                  linkedInAccountFullName:
                                    type: string
                                  creationTime:
                                    type: string
                                additionalProperties: true
                          additionalProperties: true
                        linkedInAccount:
                          type: object
                          properties:
                            id:
                              type: integer
                            emailAddress:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            authIsValid:
                              type: boolean
                            isValidNavigator:
                              type: boolean
                            isValidRecruiter:
                              type: boolean
                            profileUrl:
                              type: string
                          additionalProperties: true
                        messages:
                          type: array
                          items:
                            type: object
                            properties:
                              createdAt:
                                type: string
                              body:
                                type: string
                              subject:
                                type: string
                              postLink:
                                type: string
                              isInMail:
                                type: boolean
                              sender:
                                type: string
                            additionalProperties: true
                      additionalProperties: true
                  totalCount:
                    type: integer
                  nextCursor:
                    type: string
                  hasNextPage:
                    type: boolean
                additionalProperties: true
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
  /api/public/inbox/GetChatroom/{accountId}/{conversationId}:
    get:
      operationId: get_inbox_getchatroom
      summary: GetChatroom
      tags:
      - Inbox
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  read:
                    type: string
                  groupChat:
                    type: string
                  blockedByMe:
                    type: string
                  blockedByParticipant:
                    type: string
                  lastMessageAt:
                    type: string
                  lastMessageText:
                    type: string
                  lastMessageSender:
                    type: 'null'
                  totalMessages:
                    type: string
                  linkedInAccountId:
                    type: string
                  correspondentProfile:
                    type: object
                    properties:
                      profileUrl:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      headline:
                        type: string
                      imageUrl:
                        type: string
                      location:
                        type: string
                      companyName:
                        type: string
                      companyUrl:
                        type: string
                      position:
                        type: string
                      about:
                        type: string
                      connections:
                        type: string
                      followers:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      emailAddress:
                        type: string
                      customFields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          additionalProperties: true
                    additionalProperties: true
                  linkedInAccount:
                    type: object
                    properties:
                      id:
                        type: string
                      emailAddress:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      authIsValid:
                        type: string
                      isValidNavigator:
                        type: string
                      isValidRecruiter:
                        type: string
                      profileUrl:
                        type: string
                    additionalProperties: true
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        body:
                          type: string
                        subject:
                          type: string
                        postLink:
                          type: string
                        isInMail:
                          type: string
                        sender:
                          type: 'null'
                      additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/inbox/SendMessage:
    post:
      operationId: post_inbox_sendmessage
      summary: SendMessage
      tags:
      - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                subject:
                  type: string
                conversationId:
                  type: string
                linkedInAccountId:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '403':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/inbox/SetSeenStatus:
    post:
      operationId: post_inbox_setseenstatus
      summary: SetSeenStatus
      tags:
      - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                linkedInAccountId:
                  type: integer
                seen:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                additionalProperties: true
        '403':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                additionalProperties: true
  /api/public/li_account/GetAll:
    post:
      operationId: post_linkedinaccounts_getall
      summary: GetAll
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offset:
                  type: integer
                keyword:
                  type: string
                limit:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        emailAddress:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        isActive:
                          type: string
                        activeCampaigns:
                          type: string
                        authIsValid:
                          type: string
                        isValidNavigator:
                          type: string
                        isValidRecruiter:
                          type: string
                        profileUrl:
                          type: string
                        searchCooldown:
                          type: string
                        connectionRequestCooldown:
                          type: string
                        connectionNoteCooldown:
                          type: string
                        inMailCooldown:
                          type: string
                        accountLimits:
                          type: object
                          properties:
                            followLimit:
                              type: string
                            followLimitMax:
                              type: string
                            messageLimit:
                              type: string
                            messageLimitMax:
                              type: string
                            inMailLimit:
                              type: string
                            inMailLimitMax:
                              type: string
                            profileViewLimit:
                              type: string
                            profileViewLimitMax:
                              type: string
                            postLikeLimit:
                              type: string
                            postLikeLimitMax:
                              type: string
                            connectioRequestLimit:
                              type: string
                            connectioRequestMax:
                              type: string
                          additionalProperties: true
                      additionalProperties: true
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/li_account/GetById:
    get:
      operationId: get_linkedinaccounts_getbyid
      summary: GetById
      tags:
      - LinkedInAccounts
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  emailAddress:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  isActive:
                    type: string
                  activeCampaigns:
                    type: string
                  authIsValid:
                    type: string
                  isValidNavigator:
                    type: string
                  isValidRecruiter:
                    type: string
                  profileUrl:
                    type: string
                  searchCooldown:
                    type: string
                  connectionRequestCooldown:
                    type: string
                  connectionNoteCooldown:
                    type: string
                  inMailCooldown:
                    type: string
                  accountLimits:
                    type: object
                    properties:
                      followLimit:
                        type: string
                      followLimitMax:
                        type: string
                      messageLimit:
                        type: string
                      messageLimitMax:
                        type: string
                      inMailLimit:
                        type: string
                      inMailLimitMax:
                        type: string
                      profileViewLimit:
                        type: string
                      profileViewLimitMax:
                        type: string
                      postLikeLimit:
                        type: string
                      postLikeLimitMax:
                        type: string
                      connectioRequestLimit:
                        type: string
                      connectioRequestMax:
                        type: string
                    additionalProperties: true
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/li_account/RemoveAccount/{accountId}:
    delete:
      operationId: delete_linkedinaccounts_removeaccount
      summary: RemoveAccount
      tags:
      - LinkedInAccounts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
  /api/public/li_account/Connect:
    post:
      operationId: post_linkedinaccounts_connect
      summary: Connect
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                twoFactorAuthKey:
                  type: string
                proxyCountryCode:
                  type: string
                customProxy:
                  type: object
                  properties:
                    host:
                      type: string
                    port:
                      type: integer
                    username:
                      type: string
                    password:
                      type: string
                  additionalProperties: true
                inboxScrapeMode:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  linkedInAccountId:
                    type: string
                additionalProperties: true
  /api/public/li_account/ConnectWithCookies:
    post:
      operationId: post_linkedinaccounts_connectwithcookies
      summary: ConnectWithCookies
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cookies:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      domain:
                        type: string
                      path:
                        type: string
                      expires:
                        type: 'null'
                    additionalProperties: true
                proxyCountryCode:
                  type: string
                customProxy:
                  type: object
                  properties:
                    host:
                      type: string
                    port:
                      type: integer
                    username:
                      type: string
                    password:
                      type: string
                  additionalProperties: true
                inboxScrapeMode:
                  type: string
                userAgent:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  linkedInAccountId:
                    type: string
                additionalProperties: true
  /api/public/li_account/GetAccountStatus/{accountId}:
    get:
      operationId: get_linkedinaccounts_getaccountstatus
      summary: GetAccountStatus
      tags:
      - LinkedInAccounts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                  status:
                    type: string
                  failureReason:
                    type: string
                  profile:
                    type: object
                    properties:
                      fullName:
                        type: string
                      email:
                        type: string
                      profileUrl:
                        type: string
                    additionalProperties: true
                  salesNavigator:
                    type: object
                    properties:
                      authenticated:
                        type: boolean
                    additionalProperties: true
                  recruiter:
                    type: object
                    properties:
                      authenticated:
                        type: boolean
                    additionalProperties: true
                additionalProperties: true
  /api/public/li_account/SubmitPin:
    post:
      operationId: post_linkedinaccounts_submitpin
      summary: SubmitPin
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
                pin:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/Reconnect:
    post:
      operationId: post_linkedinaccounts_reconnect
      summary: Reconnect
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/ReloginSalesNavigator:
    post:
      operationId: post_linkedinaccounts_reloginsalesnavigator
      summary: ReloginSalesNavigator
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/ReloginRecruiter:
    post:
      operationId: post_linkedinaccounts_reloginrecruiter
      summary: ReloginRecruiter
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/Resync:
    post:
      operationId: post_linkedinaccounts_resync
      summary: Resync
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/GetProxyCountries:
    get:
      operationId: get_linkedinaccounts_getproxycountries
      summary: GetProxyCountries
      tags:
      - LinkedInAccounts
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
  /api/public/li_account/GetAccountProxy/{accountId}:
    get:
      operationId: get_linkedinaccounts_getaccountproxy
      summary: GetAccountProxy
      tags:
      - LinkedInAccounts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  isCustomProxy:
                    type: boolean
                  countryCode:
                    type: string
                  host:
                    type: string
                  port:
                    type: string
                  username:
                    type: string
                  password:
                    type: string
                additionalProperties: true
  /api/public/li_account/UpdateProxy:
    post:
      operationId: post_linkedinaccounts_updateproxy
      summary: UpdateProxy
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
                proxyCountryCode:
                  type: string
                customProxy:
                  type: object
                  properties:
                    host:
                      type: string
                    port:
                      type: integer
                    username:
                      type: string
                    password:
                      type: string
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/li_account/UpdateInboxConfiguration:
    post:
      operationId: post_linkedinaccounts_updateinboxconfiguration
      summary: UpdateInboxConfiguration
      tags:
      - LinkedInAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
                inboxScrapeMode:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
  /api/public/list/GetById:
    get:
      operationId: get_lists_getbyid
      summary: GetById
      tags:
      - Lists
      parameters:
      - name: listId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  totalItemsCount:
                    type: string
                  listType:
                    type: 'null'
                  creationTime:
                    type: string
                  campaignIds:
                    type: array
                    items:
                      type: string
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '404':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/list/GetAll:
    post:
      operationId: post_lists_getall
      summary: GetAll
      tags:
      - Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offset:
                  type: integer
                keyword:
                  type: string
                listType:
                  type: string
                campaignIds:
                  type: array
                  items:
                    type: integer
                limit:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        totalItemsCount:
                          type: string
                        listType:
                          type: 'null'
                        creationTime:
                          type: string
                        campaignIds:
                          type: array
                          items:
                            type: string
                      additionalProperties: true
                additionalProperties: true
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
        '429':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
                  instance:
                    type: string
                  ut8c:
                    type: object
                    properties: {}
                    additionalProperties: true
                  laborum__e5:
                    type: object
                    properties: {}
                    additionalProperties: true
                  occaecat100:
                    type: object
                    properties: {}
                    additionalProperties: true
                additionalProperties: true
  /api/public/list/GetLeadsFromList:
    post:
      operationId: post_lists_getleadsfromlist
      summary: GetLeadsFromList
      tags:
      - Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                listId:
                  type: integer
                offset:
                  type: integer
                keyword:
                  type: string
                leadProfileUrl:
                  type: string
                leadLinkedInId:
                  type: string
                limit:
                  type: integer
                createdFrom:
                  type: string
                createdTo:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        profileUrl:
                          type: string
[...]
