openapi: 3.2.0
info:
  title: Public Auth API
  version: beta
  description: 'Response bodies vary by endpoint and may return `{ data }`, `{ dataList }`, `{ dataList, pagination }`, or no body for status-only operations. Successful responses use the HTTP status defined on each operation. Error responses return `{ error: { code, message, status, meta } }` with the corresponding HTTP status code.'
servers:
- url: https://esaas-api.eventx.io
tags:
- name: Auth
paths:
  /public-api/v1/auth:
    post:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        description: Bearer JWT for subsequent API requests
                      userId:
                        type: string
                        format: uuid
                        description: ID of the authenticated user
                      expiresIn:
                        type: string
                        description: Token expiry duration
                        example: 1h
                    required:
                    - accessToken
                    - userId
                    - expiresIn
                    additionalProperties: false
                required:
                - data
                additionalProperties: false
        '500':
          description: ERROR
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                apiToken:
                  type: string
                  description: API token obtained from the platform admin panel
              required:
              - apiToken
              additionalProperties: false
      tags:
      - Auth
      operationId: issueJwt
      summary: Issue a short-lived JWT for API access
components:
  securitySchemes:
    bearerAuth:
      name: Authorization
      type: apiKey
      in: header
      description: Bearer Authorization with jwt token
