openapi: 3.2.0
info:
  title: Public Event API
  version: beta
  description: 'Response bodies vary by endpoint and may return `{ data }`, `{ dataList }`, `{ dataList, pagination }`, or no body for status-only operations. Successful responses use the HTTP status defined on each operation. Error responses return `{ error: { code, message, status, meta } }` with the corresponding HTTP status code.'
servers:
- url: https://esaas-api.eventx.io
tags:
- name: Event
paths:
  /public-api/v1/event:
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataList:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        locationLatLng:
                          type: object
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                          required:
                          - lat
                          - lng
                          additionalProperties: false
                          nullable: true
                        startsAt:
                          type: string
                          format: date-time
                        endsAt:
                          type: string
                          format: date-time
                        entryStartsAt:
                          type: string
                          format: date-time
                          nullable: true
                        entryEndsAt:
                          type: string
                          format: date-time
                          nullable: true
                        timezone:
                          type: string
                        types:
                          type: array
                          items:
                            type: string
                        categories:
                          type: array
                          items:
                            type: string
                        format:
                          type: string
                          enum:
                          - virtual
                          - in-person
                          - hybrid
                          nullable: true
                        entryType:
                          type: string
                          enum:
                          - by_invite_only
                          - public
                        defaultLocale:
                          type: string
                          enum:
                          - en
                          - ja
                          - ko
                          - vi
                          - zh-HK
                          - zh-CN
                          - es
                          - th
                          - pt
                        supportedLocales:
                          type: array
                          items:
                            type: string
                            enum:
                            - en
                            - ja
                            - ko
                            - vi
                            - zh-HK
                            - zh-CN
                            - es
                            - th
                            - pt
                        extensionData:
                          type: object
                          properties: {}
                          additionalProperties:
                            anyOf:
                            - anyOf:
                              - type: string
                              - type: number
                                format: float
                              - type: boolean
                              nullable: true
                            - type: array
                              items:
                                anyOf:
                                - type: string
                                - type: number
                                  format: float
                                - type: boolean
                                nullable: true
                          description: Please refer to example for preview data structure as swagger not support pattern object in query & response
                          example:
                            key1: value
                            key2: 123
                            key3: true
                            key4:
                            - value1
                            - value2
                            key5:
                            - 123
                            - 456
                            key6:
                            - true
                            - false
                        contentI18n:
                          type: object
                          properties:
                            name:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            location:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            organizerName:
                              type: object
                              properties: {}
                              additionalProperties: false
                            descriptionHtml:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            logoImageMediaId:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            bannerImageMediaId:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            faviconImageMediaId:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            ogImageMediaId:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            ogDescription:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            ogTitle:
                              type: object
                              properties:
                                default:
                                  type: string
                                  nullable: true
                                en:
                                  type: string
                                  nullable: true
                                ja:
                                  type: string
                                  nullable: true
                                ko:
                                  type: string
                                  nullable: true
                                vi:
                                  type: string
                                  nullable: true
                                zh-HK:
                                  type: string
                                  nullable: true
                                zh-CN:
                                  type: string
                                  nullable: true
                                es:
                                  type: string
                                  nullable: true
                                th:
                                  type: string
                                  nullable: true
                                pt:
                                  type: string
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            logoImageMedia:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                en:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ja:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ko:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                vi:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-HK:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-CN:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                es:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                th:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                pt:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            bannerImageMedia:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                en:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ja:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ko:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                vi:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-HK:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-CN:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                es:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                th:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                pt:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            faviconImageMedia:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                en:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ja:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ko:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                vi:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-HK:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-CN:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                es:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                th:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                pt:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                            ogImageMedia:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                en:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ja:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                ko:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                vi:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-HK:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                zh-CN:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                es:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                th:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                                pt:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    originalFilename:
                                      type: string
                                    previewFilename:
                                      type: string
                                    originalFilepath:
                                      type: string
                                    previewFilepath:
                                      type: string
                                    mimeType:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - image
                                      - video
                                      - file
                                    size:
                                      type: number
                                      format: float
                                  required:
                                  - id
                                  - originalFilename
                                  - previewFilename
                                  - originalFilepath
                                  - previewFilepath
                                  - mimeType
                                  - size
                                  additionalProperties: false
                                  nullable: true
                              required:
                              - default
                              additionalProperties: false
                          additionalProperties: false
                        organizationId:
                          type: string
                          format: uuid
                        isPublished:
                          type: boolean
                          default: false
                        publishedAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        rawData:
                          type: object
                          properties:
                            contentI18n:
                              type: object
                              properties:
                                name:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
                                    pt:
                                      type: string
                                      nullable: true
                                  required:
                                  - default
                                  additionalProperties: false
                                location:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
                                    pt:
                                      type: string
                                      nullable: true
                                  required:
                                  - default
                                  additionalProperties: false
                                organizerName:
                                  type: object
                                  properties: {}
                                  additionalProperties: false
                                descriptionHtml:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
                                    pt:
                                      type: string
                                      nullable: true
                                  required:
                                  - default
                                  additionalProperties: false
                                logoImageMediaId:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
                                    pt:
                                      type: string
                                      nullable: true
                                  required:
                                  - default
                                  additionalProperties: false
                                bannerImageMediaId:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
                                    pt:
                                      type: string
                                      nullable: true
                                  required:
                                  - default
                                  additionalProperties: false
                                faviconImageMediaId:
                                  type: object
                                  properties:
                                    default:
                                      type: string
                                      nullable: true
                                    en:
                                      type: string
                                      nullable: true
                                    ja:
                                      type: string
                                      nullable: true
                                    ko:
                                      type: string
                                      nullable: true
                                    vi:
                                      type: string
                                      nullable: true
                                    zh-HK:
                                      type: string
                                      nullable: true
                                    zh-CN:
                                      type: string
                                      nullable: true
                                    es:
                                      type: string
                                      nullable: true
                                    th:
                                      type: string
                                      nullable: true
[...]
