openapi: 3.0.0
info:
  title: Digistore24 API
  description: Consolidated from Digistore24’s published OpenAPI 3.0 fragments. See the [official API
    reference](https://www.digistore24.com/api/docs/index.html) and [API basics](https://dev.digistore24.com/hc/en-us/articles/32479630493585-API-basics).
  version: '1.0'
  contact:
    name: Digistore24 Support
    url: https://www.digistore24.com/contact
servers:
  - url: https://www.digistore24.com/api/call
    description: Production
  - url: https://www.digitest24.de/api/call
    description: Staging
  - url: https://pr-{pr_number}.digitest24.de/api/call
    description: Dynamic (PR environment)
    variables:
      pr_number:
        default: '1'
        description: Pull request number
tags:
  - name: Account Access
    description: Operations for managing member access to content
  - name: Affiliates
    description: Operations for managing affiliate relationships
  - name: API Key Management
    description: Operations for managing API keys
  - name: Billing
    description: Operations for billing and custom order forms
  - name: Buy URLs
    description: Operations for managing customized buy URLs
  - name: Buyers
    description: Operations for managing buyer information
  - name: Commissions
    description: Operations for managing affiliate commissions
  - name: Conversion Tools
    description: Operations for conversion tracking and tools
  - name: Countries
    description: Operations for country information
  - name: Currencies
    description: Operations for currency information
  - name: Custom Forms
    description: Operations for custom form records
  - name: Deliveries
    description: Operations for managing product deliveries
  - name: E-Tickets
    description: Operations for managing electronic tickets
  - name: Fraud Management
    description: Operations for fraud detection and reporting
  - name: Images
    description: Operations for managing images
  - name: Invoices
    description: Operations for managing invoices
  - name: IPN
    description: Operations for Instant Payment Notifications
  - name: Licenses
    description: Operations for license validation
  - name: Marketplace
    description: Operations for marketplace entries
  - name: Order Forms
    description: Operations for managing order forms
  - name: Payment Plans
    description: Operations for managing payment plans
  - name: Payments
    description: Operations for payment processing
  - name: Payouts
    description: Operations for managing payouts
  - name: Product Groups
    description: Operations for managing product groups/folders
  - name: Products
    description: Operations for managing products
  - name: Purchases
    description: Operations for managing purchases and orders
  - name: Rebilling
    description: Operations for managing recurring billing
  - name: Service Proofs
    description: Operations for service proof requests
  - name: Shipping
    description: Operations for shipping cost policies
  - name: Smart Upgrades
    description: Operations for smart upgrade functionality
  - name: Statistics
    description: Operations for accessing statistics and analytics
  - name: System
    description: System operations and utilities
  - name: Tracking
    description: Operations for tracking and analytics
  - name: Transactions
    description: Operations for managing transactions
  - name: Upgrades
    description: Operations for managing product upgrades
  - name: Users
    description: Operations for user information
  - name: Vouchers
    description: Operations for managing vouchers and coupons
  - name: Onboarding
    description: Operations for vendor onboarding flow
paths:
  /addBalanceToPurchase:
    post:
      tags:
        - Purchases
      summary: Add balance to a purchase
      description: 'For subscription and installment payments - add balance to the order.

        This will be billed with the next payments.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purchase_id
          in: query
          required: true
          description: The Digistore24 order ID
          schema:
            type: string
        - name: amount
          in: query
          required: true
          description: The balance to be added in the currency of the order. If amount is <0, the balance
            will be reduced. The balance cannot be less than 0.
          schema:
            type: number
            format: float
      responses:
        '200':
          description: Balance successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  old_balance:
                    type: number
                    description: The old balance
                  new_balance:
                    type: number
                    description: The new (current) balance
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: addBalanceToPurchase
  /approveProduct:
    post:
      tags:
        - Products
      summary: Approve a community product
      description: 'Approves a product that belongs to the calling user''s community. Only available to

        community API keys (community_developer or community_user) whose community has the

        `auto_approve_products` permission enabled.


        **Workflow (e.g. Pagewheel):**

        1. Create product via `createProduct` with `use_community=Y` — product starts unapproved

        2. Community runs their own compliance check on the product

        3. Call this endpoint to approve the product — product goes live


        The product must belong to both the calling user''s account and their community.

        Products that are already approved or rejected are not affected.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: query
          required: true
          description: The ID of the product to approve
          schema:
            type: integer
      responses:
        '200':
          description: Product successfully approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_id:
                    type: integer
                    description: ID of the approved product
                  approved_for:
                    type: array
                    description: List of siteowner IDs the product was approved for
                    items:
                      type: integer
        '403':
          description: Access denied — community key required, community must have auto_approve_products
            enabled, product must belong to caller's community and account
        '404':
          description: Product not found
        '400':
          description: Invalid request parameters
      operationId: approveProduct
  /copyProduct:
    post:
      tags:
        - Products
      summary: Copy a product
      description: Copies a product on Digistore24
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: query
          required: true
          description: The ID of the product to be copied
          schema:
            type: string
        - name: data
          in: query
          required: true
          description: Array with product properties to change
          schema:
            type: object
            properties:
              name_intern:
                type: string
                maxLength: 63
                description: Internal product name
              product_type_id:
                type: integer
                description: Product type ID (call getGlobalSettings for valid IDs)
              language:
                type: string
                description: Comma separated list of languages (e.g. en,de)
                default: Current vendor's language
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Product activation status
              product_group_id:
                type: integer
                description: Product group ID
              name_de:
                type: string
                maxLength: 63
                description: German product name
              name_en:
                type: string
                maxLength: 63
                description: English product name
              name_es:
                type: string
                maxLength: 63
                description: Spanish product name
      responses:
        '200':
          description: Product successfully copied
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_id:
                    type: integer
                    description: ID of the newly created product copy
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: copyProduct
  /logMemberAccess:
    post:
      tags:
        - Account Access
      summary: Log member access to content
      description: 'Notifies Digistore that a buyer has logged into their Membership account and accessed
        the bought content.

        Important for German refund handling - only for purchases without the option to refund (refund_days=0
        in IPN).

        Only call this function if the buyer actually has logged in.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purchase_id
          in: query
          required: true
          description: The ID of the purchase
          schema:
            type: string
        - name: platform_name
          in: query
          required: true
          description: The readable name of the membership area (e.g. vip club)
          schema:
            type: string
        - name: login_name
          in: query
          required: true
          description: The buyer's username for the membership area
          schema:
            type: string
        - name: login_url
          in: query
          required: true
          description: The URL the buyer used to login
          schema:
            type: string
        - name: number_of_unlocked_lectures
          in: query
          required: true
          description: Number of lectures the member has access to for this purchase
          schema:
            type: integer
            minimum: 0
        - name: total_number_of_lectures
          in: query
          required: true
          description: Total number of lectures in the course (unlocked + locked)
          schema:
            type: integer
            minimum: 0
        - name: login_at
          in: query
          required: false
          description: Date time of login. Defaults to 'now'. Use for batch logging.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Member access successfully logged
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: logMemberAccess
  /createAnalyticsToken:
    get:
      tags:
        - System
      summary: Create an analytics access token
      description: 'Issues a signed RS256 token for DS24 Analytics without user interaction. Requires
        an API key of class `network_ai` on an account holding the `analytics_access` user role. Every
        request to DS24 Analytics must additionally carry the header `X-DS24-GUI-VIEW: admin`, otherwise
        the service silently falls back to the account view.

        '
      operationId: createAnalyticsToken
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: RS256 signed JWT for DS24 Analytics
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                    example: 10800
        '401':
          description: Unauthorized - Invalid or missing API key
        '403':
          description: Forbidden - API key class is not network_ai, or the account lacks the analytics_access
            role
        '492':
          description: Too many requests - the endpoint is throttled separately from the general call
            limits
      security:
        - ApiKeyAuth: []
  /createBillingOnDemand:
    post:
      tags:
        - Billing
      summary: Create a customized order form URL
      description: 'Creates a special order form URL that can be customized for the visitor.

        Allows customizing customer data, prices, and other settings.

        Requires "Billing on demand" right to be enabled for the vendor account.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purchase_id
          in: query
          required: true
          description: The reference order. Must have been made with a payment method that supports rebilling.
          schema:
            type: string
        - name: product_id
          in: query
          required: true
          description: The product ID in Digistore24
          schema:
            type: string
        - name: payment_plan
          in: query
          required: false
          description: Data for the purchase price/payment plan
          schema:
            type: object
            properties:
              first_amount:
                type: number
                description: The purchase price or first payment amount
              other_amounts:
                type: number
                description: Amount of follow-up payments for subscription/installments
              currency:
                type: string
                minLength: 3
                maxLength: 3
                description: Three-character currency code (e.g. EUR or USD)
              number_of_installments:
                type: integer
                minimum: 1
                description: Number of payments including the first
              first_billing_interval:
                type: string
                description: Time interval between purchase and second installment (e.g. "1_month")
              other_billing_intervals:
                type: string
                description: Time interval for second and further payments
              test_interval:
                type: string
                description: Test interval before payment starts (e.g. "1_month")
              template:
                type: string
                description: ID of payment method used as template
              upgrade_type:
                type: string
                enum:
                  - upgrade
                  - downgrade
                default: upgrade
                description: Type of upgrade handling
        - name: tracking
          in: query
          required: false
          description: Data for tracking
          schema:
            type: object
            properties:
              custom:
                type: string
                description: Custom value for order reference
              affiliate:
                type: string
                description: Affiliate's Digistore24 ID
              campaignkey:
                type: string
                description: Campaign key of the affiliate
              trackingkey:
                type: string
                description: Vendor's tracking key
        - name: placeholders
          in: query
          required: false
          description: Placeholders for product title and description
          schema:
            type: object
            additionalProperties:
              type: string
        - name: settings
          in: query
          required: false
          description: Additional settings for the order form
          schema:
            type: object
            properties:
              voucher_code:
                type: string
                description: Voucher to apply at payment
              quantity:
                type: integer
                minimum: 1
                default: 1
                description: Quantity of the main product
              product_country:
                type: string
                minLength: 2
                maxLength: 2
                description: Two-letter country code for the product
        - name: addons
          in: query
          required: false
          description: List of add-on products
          schema:
            type: array
            items:
              type: object
              properties:
                product_id:
                  type: string
                  description: Product ID of the addon
                first_amount:
                  type: number
                  description: First payment amount for subscription/installment
                other_amounts:
                  type: number
                  description: Follow-up payment amounts
                single_amount:
                  type: number
                  description: Purchase amount for single payments
                quantity:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Quantity of the addon
                currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: Three-character currency code
                is_quantity_editable_after_purchase:
                  type: string
                  enum:
                    - Y
                    - N
                  default: N
                  description: Can buyer change quantity after purchase
                product_country:
                  type: string
                  minLength: 2
                  maxLength: 2
                  description: Two-letter country code for the addon
      responses:
        '200':
          description: Order form URL successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_purchase_id:
                    type: string
                    description: The ID of the new order
                  payment_status:
                    type: string
                    description: The payment status
                  payment_status_msg:
                    type: string
                    description: Payment status in readable form
                  billing_status:
                    type: string
                    description: Status of the new order
                  billing_status_msg:
                    type: string
                    description: Order status in readable form
        '403':
          description: Access denied - Full access required or Billing on demand not enabled
        '400':
          description: Invalid request parameters
      operationId: createBillingOnDemand
  /createAddon:
    post:
      tags:
        - Products
      summary: Create a product addon
      description: Creates an addon product that can be offered alongside a parent product
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Addon properties
          schema:
            type: object
            properties:
              parent_product_id:
                type: integer
                description: ID of the parent product
              product_id:
                type: integer
                description: ID of the addon product
              billing_type:
                type: string
                description: Billing type for the addon
              max_quantity:
                type: integer
                description: Maximum quantity that can be purchased
              max_quantity_type:
                type: string
                description: Type of max quantity restriction
              single_amount:
                type: number
                format: float
                description: Single payment amount
              first_amount:
                type: number
                format: float
                description: First payment amount for subscriptions
              other_amounts:
                type: number
                format: float
                description: Recurring payment amount for subscriptions
              currency:
                type: string
                maxLength: 3
                description: Currency code (e.g., EUR, USD)
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Y=addon is active, N=addon is inactive
              position:
                type: integer
                description: Display position of the addon
              default_quantity:
                type: integer
                description: Default quantity pre-selected
              is_quantity_change_allowed:
                type: string
                enum:
                  - Y
                  - N
                description: Y=buyer can change quantity, N=fixed quantity
              is_quantity_editable:
                type: string
                enum:
                  - Y
                  - N
                description: Y=quantity input is editable, N=not editable
              is_discount_enabled:
                type: string
                enum:
                  - Y
                  - N
                description: Y=discounts apply to addon, N=no discounts
              has_quantity_discount:
                type: string
                enum:
                  - Y
                  - N
                description: Y=quantity discounts enabled, N=no quantity discounts
              discount_unit_prices:
                type: array
                description: Quantity-based discount pricing tiers
                items:
                  type: object
                  properties:
                    from_quantity:
                      type: integer
                    unit_price_1st:
                      type: number
                    unit_price_oth:
                      type: number
            required:
              - parent_product_id
              - product_id
      responses:
        '200':
          description: Addon successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  addon_id:
                    type: integer
                    description: ID of the created addon
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createAddon
  /createAddonChangePurchase:
    post:
      tags:
        - Purchases
      summary: Create a package change order
      description: 'Creates a package change order to add or remove products from an order.

        The main product''s quantity cannot be changed.

        Added products must be subscriptions.

        Requires "Billing on demand" right to be enabled for the vendor account.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purchase_id
          in: query
          required: true
          description: The reference order. Must have been made with a payment method that supports rebilling.
          schema:
            type: string
        - name: addons
          in: query
          required: true
          description: List of add-on products
          schema:
            type: array
            items:
              type: object
              required:
                - product_id
              properties:
                product_id:
                  type: integer
                  description: Digistore24 product ID
                amount:
                  type: number
                  format: float
                  description: The rebilling amount of the subscription
                quantity:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Quantity of the addon
                is_quantity_editable_after_purchase:
                  type: string
                  enum:
                    - Y
                    - N
                  default: N
                  description: Can buyer change quantity after purchase
        - name: tracking
          in: query
          required: false
          description: Data for tracking. Fields not provided are taken from the initial purchase.
          schema:
            type: object
            properties:
              custom:
                type: string
                description: Custom value for order reference
              affiliate:
                type: string
                description: Affiliate's Digistore24 ID
              campaignkey:
                type: string
                description: Campaign key of the affiliate
              trackingkey:
                type: string
                description: Vendor's tracking key
        - name: placeholders
          in: query
          required: false
          description: Placeholders for product title and description
          schema:
            type: object
            additionalProperties:
              type: string
      responses:
        '200':
          description: Package change order successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_purchase_id:
                    type: string
                    description: The ID of the new order
                  payment_status:
                    type: string
                    description: The payment status
                  payment_status_msg:
                    type: string
                    description: Payment status in readable form
                  billing_status:
                    type: string
                    description: Status of the new order
                  billing_status_msg:
                    type: string
                    description: Order status in readable form
                  pay_url:
                    type: string
                    description: URL to restart payments if payment failed
        '403':
          description: Access denied - Full access required or Billing on demand not enabled
        '400':
          description: Invalid request parameters
      operationId: createAddonChangePurchase
  /createBuyUrl:
    post:
      tags:
        - Buy URLs
      summary: Create a customized order form URL
      description: 'Creates a special order form URL that can be customized for the visitor.

        For example, customer data can be entered and set as read-only. Prices can also be changed.

        '
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: query
          required: true
          description: The ID of the product in Digistore24
          schema:
            type: string
        - name: buyer
          in: query
          required: false
          description: Buyer data
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
              salutation:
                type: string
                enum:
                  - M
                  - F
                description: M (male) or F (female)
              title:
                type: string
                description: e.g. "Prof." or "Dr."
              last_name:
                type: string
              first_name:
                type: string
              company:
                type: string
              street:
                type: string
              city:
                type: string
              zipcode:
                type: string
              state:
                type: string
              country:
                type: string
                minLength: 2
                maxLength: 2
                description: Two-digit country code
              phone_no:
                type: string
              tax_id:
                type: string
              readonly_keys:
                type: string
                enum:
                  - all
                  - email
                  - email_and_name
                  - none
                default: none
                description: Indicates which fields are read-only
              id:
                type: string
                description: Buyer ID or order ID to use existing address
        - name: payment_plan
          in: query
          required: false
          description: Purchase price/payment plan data
          schema:
            type: object
            properties:
              first_amount:
                type: number
                description: Purchase price or first payment amount
              other_amounts:
                type: number
                description: Amount for follow-up payments
              currency:
                type: string
                minLength: 3
                maxLength: 3
                description: Three-digit currency code (e.g. EUR or USD)
              number_of_installments:
                type: integer
                minimum: 0
                default: 1
                description: Number of payments (1=single payment, 0=subscription)
              first_billing_interval:
                type: string
                default: 1_month
                description: Time interval between purchase and second installment
              other_billing_intervals:
                type: string
                description: Time interval for second and further payments
              test_interval:
                type: string
                description: Test period before payment starts
              template:
                type: string
                description: ID of payment method template
              upgrade_order_id:
                type: string
                description: Order ID for upgrade purchase
              upgrade_type:
                type: string
                enum:
                  - upgrade
                  - downgrade
                default: upgrade
                description: Type of upgrade
              tax_mode:
                type: string
                enum:
                  - as_set
                  - exclude
                  - include
                default: as_set
                description: Tax calculation mode
        - name: tracking
          in: query
          required: false
          description: Tracking data
          schema:
            type: object
            properties:
              custom:
                type: string
                description: Custom value for order reference
              affiliate:
                type: string
                description: Affiliate's Digistore24 ID
              affiliate_priority:
                type: string
                enum:
                  - email
                  - as_set
                default: as_set
                description: Priority for affiliate selection
              campaignkey:
                type: string
                description: Campaign key of the affiliate
              trackingkey:
                type: string
                description: Vendor's tracking key
              utm_source:
                type: string
              utm_medium:
                type: string
              utm_campaign:
                type: string
              utm_term:
                type: string
              utm_content:
                type: string
        - name: valid_until
          in: query
          required: false
          default: 24h
          description: Time period until link becomes invalid. Use 'forever' for no expiration.
          schema:
            type: string
        - name: urls
          in: query
          required: false
          description: Custom URLs
          schema:
            type: object
            properties:
              thankyou_url:
                type: string
                description: Custom thank you page URL
              fallback_url:
                type: string
                description: URL for invalid links
              upgrade_error_url:
                type: string
                description: URL for failed upgrades
        - name: placeholders
          in: query
          required: false
          description: Placeholders for product title and description
          schema:
            type: object
            additionalProperties:
              type: string
        - name: settings
          in: query
          required: false
          description: Additional order form settings
          schema:
            type: object
            properties:
              orderform_id:
                type: string
                description: ID of the order form
              img:
                oneOf:
                  - type: string
                  - type: object
                    additionalProperties:
                      type: string
                description: Product image ID or mapping
              affiliate_commission_rate:
                type: number
                description: Affiliate commission percentage
              affiliate_commission_fix:
                type: number
                description: Fixed affiliate commission amount
              voucher_code:
                type: string
                description: Voucher code to apply
              voucher_1st_rate:
                type: number
                description: Discount percentage on first payment
              voucher_oth_rates:
                type: number
                description: Discount percentage on follow-up payments
              voucher_1st_amount:
                type: number
                description: Discount amount on first payment
              voucher_oth_amounts:
                type: number
                description: Discount amount on follow-up payments
              force_rebilling:
                type: boolean
                description: Require payment method supporting automated payments
              pay_methods:
                type: array
                items:
                  type: string
                  enum:
                    - paypal
                    - sezzle
                    - creditcard
                    - elv
                    - banktransfer
                    - klarna
                description: Allowed payment methods
        - name: addons
          in: query
          required: false
          description: List of add-on products
          schema:
            type: array
            items:
              type: object
              properties:
                product_id:
                  type: string
                  description: Product ID of addon
                first_amount:
                  type: number
                  description: First payment amount for subscription/installment
                other_amounts:
                  type: number
                  description: Follow-up payment amounts
                single_amount:
                  type: number
                  description: Purchase amount for single payments
                default_quantity:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Preselected quantity
                max_quantity_type:
                  type: string
                  enum:
                    - unlimited
                    - like_main_item
                    - number
                  default: unlimited
                  description: Maximum quantity type
                max_quantity:
                  type: integer
                  minimum: 1
                  description: Maximum purchasable quantity
                currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: Three-character currency code
                is_quantity_editable_before_purchase:
                  type: string
                  enum:
                    - Y
                    - N
                  default: N
                  description: Can buyer change quantity before purchase
                is_quantity_editable_after_purchase:
                  type: string
                  enum:
                    - Y
                    - N
                  default: N
                  description: Can buyer change quantity after purchase
      responses:
        '200':
          description: Buy URL successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the BuyUrl object
                  url:
                    type: string
                    description: Order URL for purchase
                  valid_until:
                    type: string
                    format: date-time
                    description: Expiration date of the URL
                  upgrade_status:
                    type: string
                    enum:
                      - none
                      - ok
                      - error
                    description: Status of upgrade possibility
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createBuyUrl
  /createImage:
    post:
      tags:
        - Images
      summary: Create an image
      description: Creates an image on Digistore24
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Image data and properties
          schema:
            type: object
            required:
              - name
              - image-url
            properties:
              name:
                type: string
                maxLength: 63
                description: Name of the image
              image-url:
                type: string
                format: uri
                description: URL from which Digistore24 copies the image
              usage_type:
                type: string
                description: Purpose of the images (e.g. 'product'). See getGlobalSettings() image_usage_type
                  field.
              alt_tag:
                type: string
                description: Alternative text for the image
      responses:
        '200':
          description: Image successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_id:
                    type: string
                    description: ID of the created image
                  image_url:
                    type: string
                    format: uri
                    description: URL of the created image on Digistore24
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createImage
  /createJointVenture:
    post:
      tags:
        - Products
      summary: Create a joint venture
      description: Creates a joint venture partnership for a product
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Joint venture properties
          schema:
            type: object
            properties:
              product_id:
                type: integer
                description: ID of the product for the joint venture
              partner_id:
                type: integer
                description: User ID of the joint venture partner
              commission:
                type: number
                format: float
                description: Commission rate (0.0 to 1.0) or fixed amount
              commission_type:
                type: string
                enum:
                  - rate
                  - amount
                description: rate=percentage commission, amount=fixed commission
              is_vendor:
                type: string
                enum:
                  - Y
                  - N
                description: Y=partner is a vendor, N=partner is not a vendor
              can_see_order_details:
                type: string
                enum:
                  - Y
                  - N
                description: Y=partner can see order details, N=cannot see details
              role:
                type: string
                description: Role of the partner in the joint venture
              approval_status:
                type: string
                description: Approval status of the joint venture
              approved_at:
                type: string
                format: date-time
                description: Date and time of approval
              approved_by:
                type: integer
                description: User ID who approved the joint venture
              approval_note:
                type: string
                description: Note about the approval
              approval_reject_reason:
                type: string
                description: Reason for rejection if applicable
              invoice_vat_rate:
                type: number
                format: float
                description: VAT rate for invoices
              is_invoice_created:
                type: string
                enum:
                  - Y
                  - N
                description: Y=invoice is created, N=no invoice created
              invoice_settings_key:
                type: string
                description: Settings key for invoice generation
              invoice_description:
                type: string
                description: Description for invoice
              invoice_hint:
                type: string
                description: Hint text for invoice
              is_for_1st_payment_only:
                type: string
                enum:
                  - Y
                  - N
                description: Y=commission for first payment only, N=all payments
              is_for_new_orders_only:
                type: string
                enum:
                  - Y
                  - N
                description: Y=commission only for orders created after the joint venture, N=all orders
            required:
              - product_id
              - partner_id
              - commission
      responses:
        '200':
          description: Joint venture successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  joint_venture_id:
                    type: integer
                    description: ID of the created joint venture
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createJointVenture
  /createEticket:
    post:
      tags:
        - E-Tickets
      summary: Create free etickets
      description: Creates free etickets for events
      security:
        - ApiKeyAuth: []
      parameters:
        - name: buyer
          in: query
          required: true
          description: Buyer information
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
              title:
                type: string
              salutation:
                type: string
                enum:
                  - m
                  - f
                description: m (male) or f (female)
              last_name:
                type: string
              first_name:
                type: string
        - name: product_id
          in: query
          required: true
          description: The product ID
          schema:
            type: string
        - name: location_id
          in: query
          required: true
          description: The location ID (see listEticketLocations())
          schema:
            type: string
        - name: template_id
          in: query
          required: true
          description: The template ID (see listEticketTemplates())
          schema:
            type: string
        - name: date
          in: query
          required: true
          description: Event date
          schema:
            type: string
            format: date
        - name: days
          in: query
          required: false
          description: Number of days of the event
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: note
          in: query
          required: false
          description: Optional note (e.g. time)
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Number of etickets to create
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Etickets successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      etickets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: ID of the created eticket
                            url:
                              type: string
                              format: uri
                              description: URL to download the eticket PDF
                            email:
                              type: string
                              format: email
                              description: Email address the ticket was created for
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createEticket
  /createOrderform:
    post:
      tags:
        - Order Forms
      summary: Create an order form
      description: Creates an order form on Digistore24
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Property fields of the order form
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                maxLength: 63
                description: Name of the order form
              layout:
                type: string
                enum:
                  - widget
                  - legacy
                default: widget
                description: Order form layout type (responsive not supported)
              background_style:
                type: string
                enum:
                  - white
                  - blue
                description: Background style
              step_count:
                type: integer
                enum:
                  - 1
                  - 2
                  - 3
                description: Number of steps/tabs in the order form
              shipping_position:
                type: string
                enum:
                  - after_cart
                  - before_cart
                description: Position of shipping details relative to cart
              summary_positions:
                type: string
                description: Comma-separated positions for purchase order summaries (before_playplan,after_payplan,before_checkout,before_pay_button,after_pay_button)
              flex_elements_order:
                type: string
                enum:
                  - order_bumper
                  - order_summary
                  - refund_waiver
                  - order_bumper
                  - refund_waiver
                  - order_summary
                  - order_summary
                  - order_bumper
                  - refund_waiver
                  - order_summary
                  - refund_waiver
                  - order_bumper
                  - refund_waiver
                  - order_bumper
                  - order_summary
                  - refund_waiver
                  - order_summary
                  - order_bumper
                description: Order of elements (order bumper, summary, refund waiver)
              tab_style:
                type: string
                enum:
                  - bigtabs
                  - image
                  - image_url
                description: Style of tabs
              tab_text_1_hl:
                type: string
                description: Title of first tab (for bigtabs)
              tab_text_1_sl:
                type: string
                description: Subtitle of first tab (for bigtabs)
              tab_text_2_hl:
                type: string
                description: Title of second tab (for bigtabs)
              tab_text_2_sl:
                type: string
                description: Subtitle of second tab (for bigtabs)
              tab_text_3_hl:
                type: string
                description: Title of third tab (for bigtabs)
              tab_text_3_sl:
                type: string
                description: Subtitle of third tab (for bigtabs)
              tab_image_1_id:
                type: string
                description: Image ID for tabs when first tab selected
              tab_image_2_id:
                type: string
                description: Image ID for tabs when second tab selected
              tab_image_3_id:
                type: string
                description: Image ID for tabs when third tab selected
              tab_image_1_url:
                type: string
                format: uri
                description: Image URL for tabs when first tab selected (400x80px)
              tab_image_2_url:
                type: string
                format: uri
                description: Image URL for tabs when second tab selected (400x80px)
              tab_image_3_url:
                type: string
                format: uri
                description: Image URL for tabs when third tab selected (400x80px)
              order_bump_style:
                type: string
                enum:
                  - none
                  - dashed
                description: Style of order bump display
              orderbump_product_id:
                type: string
                description: Product ID for order bump (must be addon of main product)
              orderbump_headline:
                type: string
                description: Headline for order bump
              orderbump_html:
                type: string
                description: Text content for order bump
              orderbump_position:
                type: string
                enum:
                  - before_playplan
                  - after_payplan
                  - before_checkout
                  - before_pay_button
                  - after_pay_button
                description: Position of order bump
              refund_waiver_position:
                type: string
                enum:
                  - before_playplan
                  - after_payplan
                  - before_checkout
                  - before_pay_button
                  - after_pay_button
                description: Position of refund waiver
              custom_css:
                type: string
                description: Custom CSS for the order form
      responses:
        '200':
          description: Order form successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderform_id:
                    type: integer
                    description: ID of the created order form
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createOrderform
  /createPaymentplan:
    post:
      tags:
        - Payment Plans
      summary: Create a payment plan
      description: Creates a payment plan for a product on Digistore24
      security:
        - ApiKeyAuth: []
      parameters:
        - name: product_id
          in: query
          required: true
          description: Product ID to add the payment plan to
          schema:
            type: integer
        - name: data
          in: query
          required: true
          description: Payment plan properties
          schema:
            type: object
            properties:
              first_amount:
                type: number
                format: float
                description: Amount of first payment
              first_billing_interval:
                type: string
                description: Interval between purchase and second payment (e.g., 1_month, 14_day)
              currency:
                type: string
                minLength: 3
                maxLength: 3
                description: Three-character currency code (e.g., EUR, USD)
              other_amounts:
                type: number
                format: float
                description: Amount for follow-up payments
              other_billing_intervals:
                type: string
                description: Interval for follow-up payments (e.g., 1_month, 1_week)
              number_of_installments:
                type: integer
                minimum: 0
                description: Number of installments (0=subscription, 1=single payment, >=2=installment)
              test_interval:
                type: string
                description: Test/trial period interval (e.g., 7_day, 14_day)
              start_payplan_at:
                type: string
                format: date
                description: Fixed start date for the payment plan
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Y=payment plan is active, N=inactive
              position:
                type: integer
                description: Display position of the payment plan
              cancel_policy:
                type: string
                enum:
                  - 6m_0
                  - 6m_6m
                  - 6m_12m
                  - 12m_0
                  - 12m_3m
                  - 12m_6m
                  - 12m_12m
                  - 24m_0
                  - 24m_6m
                  - 24m_12m
                description: Minimum term policy
              is_for_sale:
                type: string
                description: Sale type (all, new, upgrade, or comma-separated list)
              is_switching_allowed:
                type: string
                enum:
                  - Y
                  - N
                description: Y=buyers can switch to this plan, N=no switching
              can_buyer_terminate_installments:
                type: string
                enum:
                  - Y
                  - N
                  - N_subscription
                description: Y=buyer can terminate, N=cannot terminate, N_subscription=cannot terminate
                  subscription
              is_discount_enabled:
                type: string
                enum:
                  - Y
                  - N
                description: Y=quantity discounts enabled, N=no quantity discounts
              discount_unit_prices:
                type: array
                description: Quantity-based discount pricing tiers
                items:
                  type: object
                  properties:
                    from_quantity:
                      type: integer
                      description: Minimum quantity for this tier
                    unit_price_1st:
                      type: number
                      format: float
                      description: Unit price for first payment
                    unit_price_oth:
                      type: number
                      format: float
                      description: Unit price for recurring payments
            required:
              - first_amount
              - currency
      responses:
        '200':
          description: Payment plan successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentplan_id:
                    type: integer
                    description: ID of the created payment plan
                  rendered_texts:
                    type: object
                    properties:
                      headline:
                        type: string
                        description: Rendered headline for order form
                      description:
                        type: string
                        description: Rendered description for order form
                      footnote:
                        type: string
                        description: Rendered footnote for order form
                  plan:
                    type: object
                    description: Full payment plan object
        '403':
          description: Access denied - Full access required
        '404':
          description: Product not found
        '400':
          description: Invalid request parameters
      operationId: createPaymentplan
  /createProduct:
    post:
      tags:
        - Products
      summary: Create a product
      description: Creates a product on Digistore24
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Product properties
          schema:
            type: object
            properties:
              name_intern:
                type: string
                maxLength: 63
                description: Internal product name
              name_de:
                type: string
                maxLength: 63
                description: German product name
              name_en:
                type: string
                maxLength: 63
                description: English product name
              name_es:
                type: string
                maxLength: 63
                description: Spanish product name
              description_de:
                type: string
                description: German product description (filtered HTML)
              description_en:
                type: string
                description: English product description (filtered HTML)
              description_es:
                type: string
                description: Spanish product description (filtered HTML)
              description_thankyou_page_de:
                type: string
                description: German thank you page description (filtered HTML)
              description_thankyou_page_en:
                type: string
                description: English thank you page description (filtered HTML)
              description_thankyou_page_es:
                type: string
                description: Spanish thank you page description (filtered HTML)
              access_instructions_de:
                type: string
                description: German access (usage) instructions shown to the buyer after purchase (filtered
                  HTML)
              access_instructions_en:
                type: string
                description: English access (usage) instructions shown to the buyer after purchase (filtered
                  HTML)
              access_instructions_es:
                type: string
                description: Spanish access (usage) instructions shown to the buyer after purchase (filtered
                  HTML)
              optin_text_de:
                type: string
                description: German opt-in checkbox text
              optin_text_en:
                type: string
                description: English opt-in checkbox text
              optin_text_es:
                type: string
                description: Spanish opt-in checkbox text
              currency:
                type: string
                description: Currency code or comma-separated list (e.g., EUR, USD,EUR)
              salespage_url:
                type: string
                maxLength: 255
                description: Sales page URL
              upsell_salespage_url:
                type: string
                maxLength: 255
                description: Upsell sales page URL
              thankyou_url:
                type: string
                maxLength: 255
                description: Thank you page URL
              upsell_thankyou_page_url:
                type: string
                maxLength: 255
                description: Upsell thank you page URL
              upsell_freeflow_thankyou_url:
                type: string
                maxLength: 255
                description: Free upsell flow thank you page URL
              image_id:
                type: integer
                description: ID of product image
              image_url:
                type: string
                maxLength: 255
                description: Product image URL
              product_type_id:
                type: integer
                description: Product type ID (see getGlobalSettings product_types)
              product_group_id:
                type: integer
                description: Product group/folder ID
              orderform_id:
                type: integer
                description: Order form ID to use
              social_proof_id:
                type: integer
                description: Social proof bubble ID
              approval_status:
                type: string
                enum:
                  - new
                  - pending
                description: Product approval status
              language:
                type: string
                description: Language code or comma-separated list (e.g., de, en,de)
              country:
                type: string
                description: Country code
              buyer_type:
                type: string
                enum:
                  - consumer
                  - business
                description: consumer=prices include VAT, business=prices exclude VAT
              note:
                type: string
                description: Internal note
              tag:
                type: string
                maxLength: 127
                description: 'Comma-separated tags for internal filtering. Each entry is trimmed; the
                  characters < > & # " '' ; \ plus tabs and line breaks are stripped, empty entries and
                  duplicates removed. The length limit applies to the sanitized value.'
              stop_sales_at:
                type: string
                format: date-time
                description: Date and time to stop sales
              support_note_html:
                type: string
                description: Support note HTML (network access only)
              use_community:
                type: string
                enum:
                  - Y
                  - N
                description: Y=use community, N=no community
              community_share:
                type: number
                format: float
                description: Community share rate in percent
              affiliate_commission:
                type: number
                format: float
                description: Affiliate commission rate in percent
              affiliate_commission_fix:
                type: number
                format: float
                description: Fixed affiliate commission amount
              affiliate_commission_cur:
                type: string
                maxLength: 3
                description: Currency for fixed affiliate commission
              is_affiliation_auto_accepted:
                type: string
                enum:
                  - Y
                  - N
                description: Y=auto-accept affiliates, N=manual approval
              is_address_input_mandatory:
                type: string
                enum:
                  - Y
                  - N
                description: Y=buyer must always enter address, N=only when required for delivery
              has_addr_salutation:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show salutation field, N=hide salutation
              is_vat_shown:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show VAT on order form, N=hide VAT
              add_order_data_to_thankyou_page_url:
                type: string
                enum:
                  - Y
                  - N
                description: Y=add order data to thankyou URL, N=no order data added
              add_order_data_to_upsell_sales_page_url:
                type: string
                enum:
                  - Y
                  - N
                description: Y=add order data to upsell sales page URL, N=no order data
              add_order_data_to_upsell_thankyou_page_url:
                type: string
                description: Policy for adding order data to upsell thank you page URL
              redirect_to_custom_upsell_thankyou_page:
                type: string
                description: Policy for redirecting to custom upsell thank you page
              encrypt_order_data_of_thankyou_page_url:
                type: string
                description: Encryption option for thank you page order data
              encrypt_order_data_of_upsell_thankyou_page_url:
                type: string
                description: Encryption option for upsell thank you page order data
              is_addon_thankyou_url_enabled:
                type: string
                enum:
                  - Y
                  - N
                description: Y=enable addon thank you URL, N=disabled
              is_free_upsell_started:
                type: string
                enum:
                  - Y
                  - N
                description: Y=free upsell started, N=not started
              is_free_upsell_enabled:
                type: string
                enum:
                  - Y
                  - N
                description: Y=free upsell enabled, N=disabled
              is_free_upsell_stopped:
                type: string
                enum:
                  - Y
                  - N
                description: Y=free upsell stopped, N=not stopped
              is_upsell_double_purchase_prevented:
                type: string
                enum:
                  - Y
                  - N
                description: Y=prevent double upsell purchase, N=allow
              is_optin_checkbox_shown:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show opt-in checkbox, N=hide
              max_quantity:
                type: integer
                description: Maximum quantity that can be purchased
              default_quantity:
                type: integer
                description: Default quantity pre-selected on order form
              is_phone_no_input_shown:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show phone number input, N=hide
              is_phone_no_mandatory:
                type: string
                enum:
                  - Y
                  - N
                description: Y=phone number required, N=optional
              is_title_input_shown:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show title input, N=hide
              is_name_shown_on_bank_statement:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show product name on bank statement, N=hide
              is_search_engine_allowed:
                type: string
                enum:
                  - Y
                  - N
                description: Y=allow search engines, N=block
              do_ask_for_company_by_default:
                type: string
                enum:
                  - Y
                  - N
                description: Y=ask for company by default, N=hide company field
              is_voucher_input_hidden:
                type: string
                enum:
                  - Y
                  - N
                description: Y=hide voucher input, N=show voucher input
              pay_methods:
                type: string
                description: Comma-separated list of payment methods (e.g., paypal,creditcard)
              notify_payment_emails:
                type: string
                description: Comma-separated email addresses for payment notifications
              notify_refund_emails:
                type: string
                description: Comma-separated email addresses for refund notifications
              notify_chargeback_emails:
                type: string
                description: Comma-separated email addresses for chargeback notifications
              notify_missed_payment_emails:
                type: string
                description: Comma-separated email addresses for missed payment notifications
              notify_rebilling_start_stop_emails:
                type: string
                description: Comma-separated email addresses for rebilling start/stop notifications
              notify_rebilling_payment_emails:
                type: string
                description: Comma-separated email addresses for rebilling payment notifications
              notify_affiliate_emails:
                type: string
                description: Comma-separated email addresses for affiliate notifications
              notify_addons_for:
                type: string
                description: Notification policy for addons
              service_interval:
                type: string
                description: Service interval type
              service_date:
                type: string
                format: date
                description: Service date
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Y=product is active, N=product is inactive
      responses:
        '200':
          description: Product successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_id:
                    type: integer
                    description: ID of the created product
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createProduct
  /createProductGroup:
    post:
      tags:
        - Product Groups
      summary: Create a product group
      description: Creates a product group (folder) for organizing products
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Product group properties
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                maxLength: 31
                description: Product group name
              position:
                type: integer
                default: 10
                description: Display order position
              is_shown_as_tab:
                type: string
                enum:
                  - Y
                  - N
                description: Whether the group is displayed as a tab in the product list
      responses:
        '200':
          description: Product group successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_group_id:
                    type: integer
                    description: ID of the created product group
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createProductGroup
  /createShippingCostPolicy:
    post:
      tags:
        - Shipping
      summary: Create a shipping cost policy
      description: Creates a new shipping cost policy with the specified parameters
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 63
                  description: Name of the shipping cost policy
                label_XX:
                  type: string
                  maxLength: 63
                  description: Label shown on orderform. Replace XX with language code
                position:
                  type: integer
                  default: 100
                  description: Display position
                is_active:
                  type: boolean
                  default: true
                  description: Whether the policy is active
                for_product_ids:
                  type: string
                  description: Comma separated list of product IDs this policy applies to
                for_countries:
                  type: string
                  description: Comma separated list of ISO country codes (e.g. US,DE)
                for_currencies:
                  type: string
                  description: Comma separated list of currency codes (e.g. USD,EUR)
                fee_type:
                  type: string
                  enum:
                    - total_fee
                    - fee_per_unit
                  description: Type of fee calculation
                billing_cycle:
                  type: string
                  enum:
                    - once
                    - monthly
                  description: When the shipping fee is charged
                currency:
                  type: string
                  description: Currency code for the fees (e.g. USD)
                scale_level_count:
                  type: integer
                  minimum: 1
                  maximum: 5
                  default: 1
                  description: Number of discount levels (1-5)
                scale_1_amount:
                  type: number
                  format: float
                  description: Base shipping cost amount
                scale_2_from:
                  type: integer
                  description: Number of items for second discount level
                scale_2_amount:
                  type: number
                  format: float
                  description: Shipping cost for scale_2_from or more items
                scale_3_from:
                  type: integer
                  description: Number of items for third discount level
                scale_3_amount:
                  type: number
                  format: float
                  description: Shipping cost for scale_3_from or more items
                scale_4_from:
                  type: integer
                  description: Number of items for fourth discount level
                scale_4_amount:
                  type: number
                  format: float
                  description: Shipping cost for scale_4_from or more items
                scale_5_from:
                  type: integer
                  description: Number of items for fifth discount level
                scale_5_amount:
                  type: number
                  format: float
                  description: Shipping cost for scale_5_from or more items
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: integer
                    description: ID of the created shipping cost policy
        '401':
          description: Unauthorized - Invalid or missing API key
        '403':
          description: Forbidden - Insufficient access rights
      operationId: createShippingCostPolicy
  /createSocialProofBubble:
    post:
      tags:
        - Conversion Tools
      summary: Create a social proof bubble
      description: Creates a social proof bubble widget that displays recent purchases
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Social proof bubble properties
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the social proof widget
              type:
                type: string
                enum:
                  - iframe
                  - dropin
                description: Widget type - iframe or dropin
              product_ids:
                type: string
                description: Comma-separated list of product IDs to show purchases for
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Y=widget is active, N=widget is inactive
              authkey:
                type: string
                description: Authentication key for the widget
              css_border_color:
                type: string
                description: CSS color for the border
              css_header_color:
                type: string
                description: CSS color for the header text
              css_header_bg_color:
                type: string
                description: CSS background color for the header
              css_bg_color:
                type: string
                description: CSS background color for the widget
              css_name_color:
                type: string
                description: CSS color for buyer names
              css_country_color:
                type: string
                description: CSS color for country names
              css_box_shadow_color:
                type: string
                description: CSS color for box shadow
              is_country_name_shown:
                type: string
                enum:
                  - Y
                  - N
                description: Y=show country name, N=hide country name
              is_custom_css_used:
                type: string
                enum:
                  - Y
                  - N
                description: Y=use custom CSS, N=use default styling
              custom_css:
                type: string
                description: Custom CSS for the widget
              width:
                type: integer
                description: Widget width in pixels
              height:
                type: integer
                description: Widget height in pixels
              columns:
                type: integer
                description: Number of columns for display
              api_url_type:
                type: string
                description: Type of API URL to use
              time_show:
                type: integer
                description: Time in ms to show each notification
              time_hide:
                type: integer
                description: Time in ms to hide between notifications
              time_wait_1st:
                type: integer
                description: Time in ms to wait before first notification
              max_show_count:
                type: integer
                description: Maximum number of notifications to show
              style:
                type: string
                description: Widget style preset
              buyername_format:
                type: string
                description: Format for displaying buyer names
              headline_de:
                type: string
                description: German headline text
              headline_en:
                type: string
                description: English headline text
              footline_de:
                type: string
                description: German footline text
              footline_en:
                type: string
                description: English footline text
            required:
              - name
              - type
      responses:
        '200':
          description: Social proof bubble successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  social_proof_id:
                    type: integer
                    description: ID of the created social proof widget
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createSocialProofBubble
  /createUpgrade:
    post:
      tags:
        - Products
      summary: Create an upgrade
      description: Creates a new upgrade option between products
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - to_product_id
              properties:
                name:
                  type: string
                  description: Name of the new upgrade
                to_product_id:
                  type: integer
                  description: The product ID being sold as the upgrade
                upgrade_from:
                  type: string
                  description: Comma-separated list of product IDs that can be upgraded from. Changes
                    take effect immediately.
                  default: ''
                downgrade_from:
                  type: string
                  description: Comma-separated list of product IDs that can be downgraded from. Changes
                    take effect next billing period.
                  default: ''
                special_offer_for:
                  type: string
                  description: Comma-separated list of product IDs eligible for special member offers
                  default: ''
                fallback_product_id:
                  type: integer
                  nullable: true
                  description: Product ID to offer if upgrade is not possible
                  default: null
                is_active:
                  type: string
                  enum:
                    - Y
                    - N
                  default: Y
                  description: Whether the upgrade is active and purchasable
                buyer_readonly_keys:
                  type: string
                  enum:
                    - none
                    - email
                    - email_and_name
                    - all
                  default: none
                  description: 'Determines which buyer data fields are protected:

                    * none - All fields editable

                    * email - Only email protected

                    * email_and_name - Email and name protected

                    * all - All fields protected

                    '
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  upgrade_id:
                    type: integer
                    description: ID of the created upgrade
        '401':
          description: Unauthorized - Invalid or missing API key
        '403':
          description: Forbidden - Insufficient access rights
      operationId: createUpgrade
  /createUpsellBuyButton:
    post:
      tags:
        - Upgrades
      summary: Create an upsell buy button
      description: Creates a new upsell buy button widget for use on thank you pages
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: query
          required: true
          description: Upsell buy button properties
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the upsell buy button widget
              is_active:
                type: string
                enum:
                  - Y
                  - N
                description: Y=widget is active, N=widget is inactive
              base_template:
                type: string
                enum:
                  - light
                  - dark
                description: Base template style for the widget
              custom_css:
                type: string
                description: Custom CSS for styling the widget
              not_buy_button_label:
                type: string
                description: Label for the "no thanks" button (supports language suffixes like _de, _en)
              preview_product_id:
                type: integer
                description: Product ID to use for preview
            required:
              - name
      responses:
        '200':
          description: Upsell buy button successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  upsell_buy_button_id:
                    type: integer
                    description: ID of the created upsell buy button widget
        '403':
          description: Access denied - Full access required
        '400':
          description: Invalid request parameters
      operationId: createUpsellBuyButton
  /createUpgradePurchase:
    post:
      tags:
        - Products
      summary: Create an upgrade purchase
      description: 'Performs an upgrade without user interaction.

        Requires full access rights and "Billing on demand" permission.

        Note: You must ensure the buyer is informed and agrees to automatic upgrades.

        '
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - purchase_ids
                - upgrade_id
              properties:
                purchase_ids:
                  type: string
                  description: Comma-separated list of purchase IDs. One matching purchase will be selected
                    for upgrade.
                upgrade_id:
                  type: string
                  description: ID of the upgrade to apply. Can be numeric ID (NNN) or ID with authkey
                    (NNN-XXXXXXX).
                payment_plan_id:
                  type: string
                  description: ID or index (starting with 1) of the payment plan to apply to the new purchase
                quantities:
                  type: object
                  description: 'Quantities for main product and addons. Keys can be either:

                    - Item positions (starting with 1)

                    - Product IDs

                    '
                  example:
                    '1': 1
                    '2': 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      new_purchase:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Purchase ID
                          billing_status:
                            type: string
                            description: Current billing status
                          paid_amount:
                            type: number
                            format: float
                            description: Amount already paid
                          next_payment_at:
                            type: string
                            format: date
                            description: Date of next payment
                          next_amount:
                            type: number
                            format: float
                            description: Amount of next payment
                          currency:
                            type: string
                            description: Currency code
                      upgrade_info:
                        type: object
                        properties:
                          upgrade_type:
                            type: string
                            description: Type of upgrade performed
                          upgrade_amount_left:
                            type: number
                            format: float
                            description: Remaining upgrade amount
                          upgrade_amount_total:
                            type: number
                            format: float
                            description: Total upgrade amount
                          upgraded_purchase_id:
                            type: string
                            description: ID of the upgraded purchase
        '401':
          description: Unauthorized - Invalid or missing API key
        '403':
          description: Forbidden - Insufficient access rights or missing "Billing on demand" permission
      operationId: createUpgradePurchase
  /createVoucher:
    post:
      tags:
        - Vouchers
      summary: Create a discount voucher
      description: Creates a new discount code/voucher
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: The voucher code
                product_ids:
                  type: string
                  description: Comma-separated list of product IDs this voucher applies to
                  default: all
                valid_from:
                  type: string
                  format: date-time
                  description: Point in time from when the code becomes valid (e.g. 2017-12-31 12:00:00)
                expires_at:
                  type: string
                  format: date-time
                  description: Point in time when the code becomes invalid
                first_rate:
                  type: number
                  format: float
                  description: Discount percentage on first payment (subscriptions/installments) or single
                    payment
                other_rates:
                  type: number
                  format: float
                  description: Discount percentage on follow-up payments (subscriptions/installments)
                first_amount:
                  type: number
                  format: float
                  description: Fixed discount amount on first/single payment
                other_amounts:
                  type: number
                  format: float
                  description: Fixed discount amount on follow-up payments
                currency:
                  type: string
                  description: Currency code for the fixed discount amounts
                is_count_limited:
                  type: boolean
                  default: false
                  description: Whether the number of uses is limited
                count_left:
                  type: integer
                  default: 1
                  description: Number of remaining uses if is_count_limited is true
                upgrade_policy:
                  type: string
                  enum:
                    - valid
                    - other_only
                    - not_valid
                  default: valid
                  description: 'How the code is used for upgrades:

                    * valid - voucher fully usable

                    * other_only - only discount on follow-up installments

                    * not_valid - voucher not usable

                    '
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      discount_code_id:
                        type: integer
                        description: ID of the created voucher
                      code:
                        type: string
                        description: The voucher code
        '401':
          description: Unauthorized - Invalid or missing API key
        '403':
          description: Forbidden - Insufficient access rights
      operationId: createVoucher
  /createMarketplaceEntry:
    post:
      tags:
        - Marketplace
      summary: Create a marketplace entry
      description: 'Creates a new marketplace entry for one of the vendor''s products. The

        fillable fields mirror the backoffice marketplace edit form. Operator-only

        fields and the approval status are not accepted here; use

        requestMarketplaceEntryApproval to submit the entry for review.

        '
      operationId: createMarketplaceEntry
      security:
        - ApiKeyAuth: []
      parameters:
        - name: main_product_id
          in: query
          required: true
          description: ID of the main product the entry is created for
          schema:
            type: integer
        - name: headline
          in: query
          required: true
          description: Headline of the marketplace entry (at least 3 characters, not purely numeric)
          schema:
            type: string
            minLength: 3
        - name: description
          in: query
          required: false
          description: Description text in HTML format
          schema:
            type: string
            default: ''
        - name: product_ids
          in: query
          required: false
          description: Comma-separated list of additional product IDs included in the entry
          schema:
            type: string
            default: ''
        - name: additional_affiliation_product_ids
          in: query
          required: false
          description: Comma-separated list of product IDs available for additional affiliation
          schema:
            type: string
            default: ''
        - name: product_category_id
          in: query
          required: false
          description: Primary category ID of the marketplace entry
          schema:
            type: integer
            default: 0
        - name: first_other_product_category_id
          in: query
          required: false
          description: First additional category ID
          schema:
            type: integer
            default: 0
        - name: second_other_product_category_id
          in: query
          required: false
          description: Second additional category ID
          schema:
            type: integer
            default: 0
        - name: support_url
          in: query
          required: false
          description: URL where buyers can get support
          schema:
            type: string
            format: uri
            default: ''
        - name: image_id
          in: query
          required: false
          description: ID of the image to display for the entry
          schema:
            type: string
            default: ''
        - name: is_price_msg_overriden
          in: query
          required: false
          description: Whether price_msg_override is used instead of the auto-generated price text
          schema:
            type: boolean
            default: false
        - name: price_msg_override
          in: query
          required: false
          description: Manually entered price text (required when is_price_msg_overriden is enabled)
          schema:
            type: string
            maxLength: 127
            default: ''
        - name: notify_error_emails
          in: query
          required: false
          description: Comma-separated list of email addresses notified about entry errors
          schema:
            type: string
            default: ''
        - name: is_active
          in: query
          required: false
          description: Whether the marketplace entry is active
          schema:
            type: boolean
            default: true
        - name: language
          in: query
          required: false
          description: Two-letter language code (e.g. "de" or "en"); defaults to the account language
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: Successful operation - the created marketplace entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID of the created marketplace entry
                  main_product_id:
                    type: integer
                    description: ID of the main product
                  merchant_id:
                    type: integer
                    description: ID of the vendor owning the entry
                  all_product_ids:
[...]
