openapi: 3.2.0
info:
  version: '1.1'
  title: TrustRadius Traffic Data API
  description: TrustRadius API
servers:
- url: https://api.trustradius.com/v1
tags:
- name: Traffic Data
paths:
  /reports/traffic/pages:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrafficPage'
        '400':
          $ref: '#/components/responses/validation-error'
        '404':
          $ref: '#/components/responses/not-found'
      parameters:
      - in: query
        name: products
        required: true
        description: Id of the product or products to get traffic data for in a comma-separated format (e.g., "product=id1,id2").
        schema:
          type: string
      - $ref: '#/components/parameters/filters_start-date'
      - $ref: '#/components/parameters/filters_end-date'
      - in: query
        name: group
        description: 'defines time period to group on: day, week (starts on Sunday), month (starts on 1st of the month)'
        schema:
          type: string
          enum:
          - month
          - day
          default: day
      - $ref: '#/components/parameters/listPaging_limit'
      - $ref: '#/components/parameters/listPaging_skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/format'
      x-amazon-apigateway-integration:
        uri: https://${stageVariables.host}/public_api/reports/traffic/pages
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-tr-gateway-secret: stageVariables.api_gateway_secret
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
      summary: Gets page-level traffic data (page views and visits)
      security:
      - x-api-key: []
      operationId: get_traffic_page_types
      description: Gets page-level traffic data (page views and visits) from www.trustradius.com, for pages about the requested product(s) during the requested time period.
      tags:
      - Traffic Data
  /reports/traffic/products:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrafficProduct'
        '400':
          $ref: '#/components/responses/validation-error'
        '404':
          $ref: '#/components/responses/not-found'
      x-amazon-apigateway-integration:
        uri: https://${stageVariables.host}/public_api/reports/traffic/products
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-tr-gateway-secret: stageVariables.api_gateway_secret
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
      security:
      - x-api-key: []
      parameters:
      - in: query
        name: products
        description: Id of the product or products to get traffic data for in a comma-separated format (e.g., "product=id1,id2").
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/filters_start-date'
      - $ref: '#/components/parameters/filters_end-date'
      - in: query
        name: group
        description: 'defines time period to group on: day, week (starts on Sunday), month (starts on 1st of the month)'
        schema:
          type: string
          enum:
          - month
          - day
          default: day
      - $ref: '#/components/parameters/listPaging_skip'
      - $ref: '#/components/parameters/listPaging_limit'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/format'
      summary: Gets aggregate traffic data (page views and visits)
      operationId: get_traffic_products
      description: Gets aggregate traffic data (page views and visits) from www.trustradius.com, for pages about the requested product(s) during the requested time period.
      tags:
      - Traffic Data
components:
  parameters:
    filters_end-date:
      name: end-date
      in: query
      description: For time-series data, this filters the results to include those occurring before or on the given date. Expected to be in ISO 8601 format.
      schema:
        type: string
        format: date
    filters_start-date:
      name: start-date
      in: query
      description: For time-series data, this filters the results to include those occurring on or after the given date. Expected to be in ISO 8601 format.
      schema:
        type: string
        format: date
    listPaging_limit:
      name: limit
      in: query
      description: The maximum number of records to return.
      schema:
        type: integer
        minimum: 1
    listPaging_skip:
      name: skip
      in: query
      description: The number of records to skip before returning records. This is most useful in combination with "limit" for paging through results.
      schema:
        type: integer
        minimum: 0
    sort:
      in: query
      name: sort
      description: Specifies the data fields to sort by as a comma-separated list of fields. Field names can be preceded by a hyphen to indicate that they should be sorted in descending order of values.
      schema:
        type: string
    format:
      name: format
      in: query
      description: Specifies the format of the results. Can be either "csv" or "json" (the default).
      schema:
        type: string
        enum:
        - csv
        - json
        default: json
  responses:
    validation-error:
      description: One or more input parameters failed validation.
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                enum:
                - ValidationError
                default: ValidationError
                description: The name is always "ValidationError".
              status:
                type: number
                enum:
                - 400
                default: 400
                description: The HTTP status code is always 400.
              message:
                type: string
                description: An error message. This may be a generic error message if parameter-specific errors are also included in the `errors` array.
              errors:
                type: array
                description: This can be an array of message strings or an array of objects that contain a message, field name, and location.
                items:
                  oneOf:
                  - type: string
                    description: Any error message string.
                  - type: object
                    properties:
                      param:
                        type: string
                        description: The name of the input parameter that is not valid.
                      msg:
                        type: string
                        description: An error message specifically for this parameter.
                      location:
                        type: string
                        enum:
                        - body
                        - query
                        - param
                        - header
                        description: The input location (path parameter, body property, query parameter, or header value) where this parameter was received.
    not-found:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                enum:
                - NotFound
                description: The name is always "NotFound".
              status:
                type: number
                enum:
                - 404
                description: The HTTP status code is always 404.
              message:
                type: string
  schemas:
    TrafficProduct:
      type: object
      title: Traffic Product
      properties:
        date:
          type: string
        vendor:
          type: string
        productId:
          type: string
        product:
          type: string
        categoryName:
          type: string
        categoryId:
          type: string
        totalPageViews:
          type: integer
        totalVisits:
          type: integer
        totalVisitors:
          type: integer
        totalCategoryPageViews:
          type: integer
        totalCategoryVisits:
          type: integer
        totalCategoryVisitors:
          type: integer
      required:
      - date
      - product
      - productId
      - categoryName
      - categoryId
      - totalPageViews
      - totalVisits
      - totalVisitors
    TrafficPage:
      title: Traffic Page
      type: object
      properties:
        date:
          type: string
        vendor:
          type: string
        productId:
          type: string
        product:
          type: string
        pageType:
          type: string
        pageTitle:
          type: string
        url:
          type: string
        totalPageViews:
          type: integer
        totalVisitors:
          type: integer
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: All API calls must send an API key in the "x-api-key" HTTP header. TrustRadius clients can get their key from their Client Success Manager.
