openapi: 3.1.0
info:
  title: Groq Chat Completions API (focused)
  version: v1
  description: >-
    Community-maintained focused definition for text chat completions. It
    covers basic messages, sampling controls, and standard JSON or streaming
    responses. Tool calling, structured outputs, multimodal content, and the
    provider's other API endpoints are not represented.
  externalDocs:
    description: Groq API reference
    url: https://console.groq.com/docs/api-reference
servers:
  - url: https://api.groq.com/openai/v1
security:
  - GroqApiKey: []
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create a chat completion
      description: >-
        Creates a model response for a chat conversation. Set stream to true
        for server-sent events; the stream ends with a data: [DONE] message.
      externalDocs:
        description: Create chat completion
        url: https://console.groq.com/docs/api-reference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
                - model
              properties:
                messages:
                  type: array
                  description: The messages comprising the conversation.
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        description: The message role.
                      content:
                        type: string
                        description: Text content for this focused definition.
                model:
                  type: string
                  description: ID of the model to use.
                max_completion_tokens:
                  type:
                    - integer
                    - 'null'
                  description: Maximum number of generated tokens.
                temperature:
                  type:
                    - number
                    - 'null'
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature.
                top_p:
                  type:
                    - number
                    - 'null'
                  minimum: 0
                  maximum: 1
                  default: 1
                  description: Nucleus sampling probability cutoff.
                stream:
                  type:
                    - boolean
                    - 'null'
                  default: false
                  description: Return partial message deltas as server-sent events.
      responses:
        '200':
          description: A chat completion or a server-sent event stream.
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - object
                  - created
                  - model
                  - choices
                properties:
                  id:
                    type: string
                  object:
                    type: string
                    const: chat.completion
                  created:
                    type: integer
                    format: int64
                  model:
                    type: string
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          format: int32
                        message:
                          type: object
                          properties:
                            role:
                              type: string
                            content:
                              type: string
                        finish_reason:
                          type: string
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                      completion_tokens:
                        type: integer
                      total_tokens:
                        type: integer
                  system_fingerprint:
                    type: string
                  x_groq:
                    type: object
                    properties:
                      id:
                        type: string
            text/event-stream:
              schema:
                type: string
              description: 'Server-sent event data chunks followed by data: [DONE].'
        default:
          description: Error response. Error body details are omitted from this focused definition.
components:
  securitySchemes:
    GroqApiKey:
      type: http
      scheme: bearer
      description: Groq API key.
