{
  "openapi": "3.0.3",
  "info": {
    "title": "Direct Mail Manager v3",
    "description": "API Collection Schema Definition and Documentation for Direct Mail Manager (DMM) v3.0.",
    "version": "1.0.0",
    "contact": {
      "name": "Direct Mail Manager Support Website",
      "url": "https://directmailmanager.com",
      "email": "support@directmailmanager.com"
    }
  },
  "servers": [
    {
      "url": "https://api.directmailmanager.com/api",
      "description": "production"
    },
    {
      "url": "https://sandbox.directmailmanager.com/api",
      "description": "sandbox"
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "description": "Welcome to the **Direct Mail Manager (DMM) v3 API**. This REST API lets you programmatically manage and send physical mail — postcards and letters — to recipients across the US, directly from your application.\n\n## Environments\n\nTwo environments are available:\n\n| Environment | Base URL |\n|---|---|\n| **Production** | `https://api.directmailmanager.com/api` |\n| **Sandbox** | `https://sandbox.directmailmanager.com/api` |\n\nUse the **sandbox** environment during development. Requests are fully validated and processed, but no physical mail is printed or delivered.\n\n## Request & Response Format\n\n- Request bodies are accepted as `application/json`, `application/x-www-form-urlencoded`, or `multipart/form-data`.\n- All responses are returned as **JSON**.\n- Successful responses use standard HTTP status codes: `200 OK` for reads, `201 Created` for newly created resources.\n- Errors are returned with an appropriate `4xx` or `5xx` status code and a JSON body describing the problem.\n\n## Postman Collection\n\nA ready-to-use Postman collection is available and kept in sync with this specification:\n\n[![Run this collection in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/10072298-23944277-5dbb-425a-9d36-c4114f4013ad?action=collection%2Ffork&collection-url=entityId%3D10072298-23944277-5dbb-425a-9d36-c4114f4013ad%26entityType%3Dcollection%26workspaceId%3Dbf321211-f70a-487a-9a01-458d49a748e3)"
    },
    {
      "name": "Authentication",
      "description": "The DMM v3 API uses **Bearer token** authentication. Every request must include a valid API key in the `Authorization` header.\n\n## Obtaining an API Key\n\nAPI keys are generated per company from your DMM account settings:\n\n**[https://app.directmailmanager.com/settings/api-keys](https://app.directmailmanager.com/settings/api-keys)**\n\nKeep your API key secure. Do not expose it in client-side code, public repositories, or logs.\n\n## Sending the Token\n\nAdd the following header to every API request:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n> **Important:** The word `Bearer` must be followed by a **single space** before your API key. Requests missing this header, or with a malformed value, will return a `401 Unauthorized` response.\n\n## Example Request\n\n```bash\ncurl -X GET \"https://api.directmailmanager.com/api/postcards\" \\\n  -H \"Authorization: Bearer sk_live_abc123...\"\n```\n\n## Sandbox vs. Production Keys\n\nAPI keys are environment-specific. A key generated in the sandbox account will only work against the sandbox base URL, and vice versa. Make sure you use the correct key for each environment."
    },
    {
      "name": "Idempotency",
      "description": "Idempotency ensures that performing the same API operation multiple times produces the same result as performing it once. The DMM v3 API implements this server-side, making it safe to retry any request without the risk of unintended duplicate operations.\n\n## When to Use It\n\nIdempotency applies to all **write operations** — `POST`, `PUT`, `PATCH`, and `DELETE` requests. Whenever a request fails, times out, or the response is lost in transit, you can safely retry it using the same idempotency key instead of guessing whether the original request succeeded.\n\n## The Idempotency-Key Header\n\nInclude an `Idempotency-Key` header with a unique UUID in any write request:\n\n```\nIdempotency-Key: 123e4567-e89b-12d3-a456-426614174000\n```\n\nThe server stores the key and the response for **24 hours**. Within that window, any request using the same key and the same payload returns the original cached response — the operation is not executed again.\n\n> **Note:** The key is matched against both the idempotency key **and the request payload**. Sending the same key with a different payload is treated as a new request.\n\n## Response Headers\n\nEvery write response includes two additional headers indicating whether the request was executed or replayed:\n\n| Header | Description |\n|---|---|\n| `Idempotency-Key` | Echoes back the key you submitted |\n| `Idempotency-Status` | `Original` on first execution; `Repeated` when returning a cached replay |\n\n## Example\n\n### First request\n\n```bash\ncurl -X POST \"https://api.directmailmanager.com/api/mailing-lists\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Idempotency-Key: 123e4567-e89b-12d3-a456-426614174000\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"name\": \"Spring Campaign\" }'\n```\n\nResponse headers:\n```\nIdempotency-Key: 123e4567-e89b-12d3-a456-426614174000\nIdempotency-Status: Original\n```\n\n### Safe retry with the same key\n\n```bash\ncurl -X POST \"https://api.directmailmanager.com/api/mailing-lists\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Idempotency-Key: 123e4567-e89b-12d3-a456-426614174000\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"name\": \"Spring Campaign\" }'\n```\n\nResponse headers:\n```\nIdempotency-Key: 123e4567-e89b-12d3-a456-426614174000\nIdempotency-Status: Repeated\n```\n\nThe original response is returned — the operation is not performed again.\n\n## Best Practices\n\n- Generate a **new UUID** for each distinct operation you intend to perform.\n- **Reuse the same key** only when retrying a request that failed or timed out.\n- Always send the **exact same payload** on a retry — changing the body while reusing the key will not trigger a cached replay.\n- Keys expire after **24 hours**. After expiry, the same key is treated as a fresh operation.\n"
    },
    {
      "name": "Mailing Lists",
      "description": "Mailing Lists group addresses together and allows sending a Postcard to all the addresses attached to them with one simple operation."
    },
    {
      "name": "Segments",
      "description": "Segments are saved filters which act like a mailing list. These are constructed based on logical conditions and relations (filters) which are applied to a list of addresses when requested and narrow down the result set of all the addresses that match the conditions defined as the segment."
    },
    {
      "name": "Custom Fields",
      "description": "Custom fields are used for storing virtually any information for contacts, beside the default and required address fields (for example birthday, voucher code, etc). These can also be used as dynamic variables for HTML artworks."
    },
    {
      "name": "Addresses",
      "description": "Addresses are the most important entities for Direct Mail Manager which define where the created postcards will be delivered, as well as the number of actual generated and printed postcard items."
    },
    {
      "name": "Artworks",
      "description": "Artwork defines the visual part of the postcard. It can be dynamic (HTML) or static (JPG, JPEG, PNG, PDF) and can contain images, texts styles and *merge tags*. Merge tags are dynamic variables replaced for each postcard from custom fields or default address properties."
    },
    {
      "name": "Artwork Versions",
      "description": "Artwork versions are designed to allow switching between different modifications/versions of an artwork. Every modification applied to the same artwork is saved as a different version. The version used by the artwork is called the *published version* and this can be set to any version of the artwork."
    },
    {
      "name": "Postcards",
      "description": "The postcard is one of the main entities of Direct Mail Manager. The main components of a postcard are the artwork, a \"to\" address or a mailing list which defines the number of postcards to be generated and printed, mail type, send date and a name."
    },
    {
      "name": "Letters",
      "description": "Letter is another mailable entity DMM v3 provides. It can contain up to 6 single sided or 12 pages if printed on both sides. It provides options for setting color properties (color or B&W), adding a blank first page to avoid *to_address* overlapping the content before the actual letter content and also the optin for printing on both sides of the paper or not."
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "description": "The API key generated for your company must be added to the header of each request as follows: key: `Authorization`, value: `Bearer ` **followed by a space** and then the actual API key.<br>\n<br>\n**TIP:** The API key can be generated by following this link: [https://app.directmailmanager.com/settings/api-keys](https://app.directmailmanager.com/settings/api-keys)<br>\n<br>\n**NOTE:** Please don't forget to add the word `Bearer ` **followed by a space** and then paste in your API key.<br>"
      }
    },
    "parameters": {
      "number": {
        "in": "query",
        "name": "page[number]",
        "description": "A number that specifies which page's results to return in the response",
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 1,
          "example": 2
        }
      },
      "size": {
        "in": "query",
        "name": "page[size]",
        "description": "A number which specifies how many objects to be returned per page (how long the result set should be)",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 10,
          "maximum": 100,
          "example": 10
        }
      },
      "from": {
        "in": "query",
        "name": "date[from]",
        "description": "Date filter to specify a date range to narrow the results down. This should be the beginning of the period for which the results should be returned from the database. **Creation date** of the entities is used here.",
        "schema": {
          "$ref": "#/components/schemas/created_at"
        }
      },
      "to": {
        "in": "query",
        "name": "date[to]",
        "description": "Date filter to specify a date range to narrow the results down. This should be the end of the period for which the results should be returned from the database. **Creation date** of the entities is used here.",
        "schema": {
          "$ref": "#/components/schemas/created_at"
        }
      },
      "search": {
        "in": "query",
        "name": "search",
        "description": "The filter allows to search by any given string between the entities to be queried. The applied logic for the search term is \"contains\" and the search string is used in a **case insensitive** manner.\nThe provided string will be matched against the entities which will be included in the search result in case the search term will be found **anywhere** inside the entities.",
        "schema": {
          "type": "string",
          "format": "text"
        }
      },
      "sort": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "created_at",
            "addresses_count"
          ]
        }
      },
      "name": {
        "in": "query",
        "name": "filter[name]",
        "description": "This filter is used for filtering the result set by the name (title) of the Mailing List.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the description of the mailing lists, the the mailing list will be included in the result set.\nThe actual value (the name of the mailing list) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My mailing list"
      },
      "address_sort": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "format": "text",
          "enum": [
            "id",
            "first_name",
            "last_name",
            "address_city",
            "address_state",
            "address_zip",
            "address_line1",
            "address_line2",
            "verification_status",
            "updated_at"
          ]
        }
      },
      "first_name": {
        "in": "query",
        "name": "filter[first_name]",
        "description": "Custom filter which can be used for **first name value that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *first_name* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the first name partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": "John"
      },
      "last_name": {
        "in": "query",
        "name": "filter[last_name]",
        "description": "Custom filter which can be used for **last name that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *last_name* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the last name partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": "Doe"
      },
      "address_city": {
        "in": "query",
        "name": "filter[address_city]",
        "description": "Custom filter which can be used for **city name that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *address_city* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the city name partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": "New York"
      },
      "address_state": {
        "in": "query",
        "name": "filter[address_state]",
        "description": "Custom filter which can be used for **state abbreviation that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *address_state* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the state partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": "FL"
      },
      "address_zip": {
        "in": "query",
        "name": "filter[address_zip]",
        "description": "Custom filter which can be used for **zip code value that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *zip_code* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the zip code partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": 34689
      },
      "address_line1": {
        "in": "query",
        "name": "filter[address_line1]",
        "description": "Custom filter which can be used for **address line 1 that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *address_line1* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the address line 1 partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        },
        "example": "425 East Spruce Street"
      },
      "address_line2": {
        "in": "query",
        "name": "filter[address_line2]",
        "description": "Custom filter which can be used for **address line 2 that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *address_line2* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the address line 2 partly matches the string provided in the filter.",
        "schema": {
          "type": "string"
        }
      },
      "verification_status": {
        "in": "query",
        "name": "filter[verification_status]",
        "description": "Custom filter which can be used for **address verification status value that exists inside the result set**.\nUsing this query param will narrow down the result to contain only objects matching the key specified in square brackets.\nIn this case, it will be matched against the *verification_status* property of the address objects inside the database.\nThe matching algorithm applied to the matching is **partial match** or \"***contains***\" meaning that all the addresses will be included in the result set where the verification status partly matches the string provided in the filter.",
        "schema": {
          "type": "string",
          "enum": [
            "valid",
            "invalid"
          ]
        },
        "example": "valid"
      },
      "show_archived": {
        "in": "query",
        "name": "show_archived",
        "description": "Custom filter which can be used for **including the archived addresses in the result set**.\nUsing this query param will extend the result set to also contain address objects which have been archived.",
        "schema": {
          "type": "boolean"
        },
        "example": true
      },
      "with_suppressed": {
        "in": "query",
        "name": "with_suppressed",
        "description": "Custom filter which can be used for **including the suppressed addresses in the result set**.\nUsing this query param will extend the result set to also contain suppressed address objects.",
        "schema": {
          "type": "boolean"
        },
        "example": true
      },
      "sort-2": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by.",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "description",
            "created_at",
            "updated_at",
            "campaign_name",
            "user",
            "size",
            "type",
            "side"
          ]
        }
      },
      "filter_name": {
        "in": "query",
        "name": "filter[name]",
        "description": "This filter is used for filtering the result set by the name (title) of the Artwork.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the name of the artworks, the artwork will be included in the result set.\nThe actual value (the name of the artwork) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Artwork"
      },
      "description": {
        "in": "query",
        "name": "filter[description]",
        "description": "This filter is used for filtering the result set by the description of the Artwork.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the description of the artworks, the artwork will be included in the result set.\nThe actual value (the description or part of the description of the artwork) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Artwork desctiption"
      },
      "filter_size": {
        "in": "query",
        "name": "filter[size]",
        "description": "This is used for filtering the result set by the size of the Artwork.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the size of the artworks, the artwork will be included in the result set.\nThe actual value (the size of the artwork) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string",
          "enum": [
            "4x6",
            "6x9"
          ]
        },
        "example": "4x6"
      },
      "side": {
        "in": "query",
        "name": "filter[side]",
        "description": "This is used for filtering the result set by the side of the Artwork.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the side of the artworks, the artwork will be included in the result set.\nThe actual value (the side of the artwork) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string",
          "enum": [
            "front",
            "back"
          ]
        },
        "example": "front"
      },
      "sort-3": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "description"
          ]
        }
      },
      "filter_name-2": {
        "in": "query",
        "name": "filter[name]",
        "description": "This filter is used for filtering the result set by the name (title) of the artwork version.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the name of the artwork versions, the artwork version will be included in the result set.\nThe actual value (the name of the artwork version) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Artwork Version"
      },
      "filter_description": {
        "in": "query",
        "name": "filter[description]",
        "description": "This filter is used for filtering the result set by the description of the artwork version.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the description of the artwork versions, the artwork version will be included in the result set.\nThe actual value (the description or part of the description of the artwork version) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Artwork Version desctiption"
      },
      "sort-4": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "type",
            "merge_tag",
            "default_value"
          ]
        }
      },
      "filter_name-3": {
        "in": "query",
        "name": "filter[name]",
        "description": "This filter is used for filtering the result set by the name (title) of the Custom Field.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the name of the custom fields, the custom field will be included in the result set.\nThe actual value (the name of the custom field) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Custom field"
      },
      "type": {
        "in": "query",
        "name": "filter[type]",
        "description": "This filter is used for filtering the result set by the type of the Custom Field.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the type of the custom fields, the custom field will be included in the result set.\nThe actual value (the type of the custom field) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string",
          "enum": [
            "text",
            "number",
            "date"
          ]
        },
        "example": "text"
      },
      "merge_tag": {
        "in": "query",
        "name": "filter[merge_tag]",
        "description": "This filter is used for filtering the result set by the merge tag of the Custom Field.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the merge tag of the custom fields, the custom field will be included in the result set.\nThe actual value (the merge tag of the custom field) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "my_custom_field"
      },
      "default_value": {
        "in": "query",
        "name": "filter[default_value]",
        "description": "This filter is used for filtering the result set by the default value of the Custom Field (if it has been set).\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the default value of the custom fields, the custom field will be included in the result set.\nThe actual value (the default value of the custom field) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "Some default value"
      },
      "sort-5": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "size",
            "mail_type",
            "created_by",
            "status",
            "items_count",
            "created_at",
            "updated_at",
            "targets",
            "campaign",
            "total_spent",
            "carrier",
            "created_by",
            "send_date",
            "cancelled_at"
          ]
        }
      },
      "filter_size-2": {
        "in": "query",
        "name": "filter[size]",
        "description": "This filter is used for filtering the result set by the size (height x width in inches) of the Postcard.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the size of the postcard, the postcard will be included in the result set.\nThe actual value (the size of the postcard) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "4x6"
      },
      "status": {
        "in": "query",
        "name": "filter[status]",
        "description": "This filter is used for filtering the result set by the status of the Postcard.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the status of the postcard, the postcard will be included in the result set.\nThe actual value (the status of the postcard) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "pending"
      },
      "sort-6": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "mail_type",
            "created_by",
            "status",
            "created_at",
            "updated_at",
            "targets",
            "campaign",
            "created_by",
            "send_date",
            "cancelled_at"
          ]
        }
      },
      "filter_status": {
        "in": "query",
        "name": "filter[status]",
        "description": "This filter is used for filtering the result set by the status of the letter.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the status of the letter, the letter will be included in the result set.\nThe actual value (the status of the letter) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "pending"
      },
      "sort-7": {
        "in": "query",
        "name": "sort",
        "description": "The name of the property to sort result by",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "created_at",
            "total"
          ]
        }
      },
      "filter_name-4": {
        "in": "query",
        "name": "filter[name]",
        "description": "This filter is used for filtering the result set by the name (title) of the segment.\nThe compare logic applied is of type ***contains***, so if the provided string is found anywhere in the name of the segments, the segment will be included in the result set.\nThe actual value (the name of the segment) should be provided between the square brackets as a query parameter.",
        "schema": {
          "type": "string"
        },
        "example": "My Segment"
      }
    },
    "schemas": {
      "created_at": {
        "type": "string",
        "format": "date-time",
        "description": "A timestamp in ISO 8601 format of the date the resource was created.",
        "example": "2020-03-18T12:57:21Z"
      },
      "failure_status_code": {
        "type": "integer",
        "enum": [
          401,
          403,
          404,
          413,
          422,
          429,
          500
        ],
        "description": "A conventional HTTP status code:\n  * `401` - Authorization error with your API key or account\n  * `403` - Forbidden error with your API key or account\n  * `404` - The requested item does not exist\n  * `413` - Payload too large\n  * `422` - The query or body parameters did not pass validation\n  * `429` - Too many requests have been sent with an API key in a given amount of time\n  * `500` - An internal server error occurred, please send an email to support@directmailmanager.com, call us at 1-888-275-2794 or just simply go to https://directmailmanager.com/contact/ and submit the contact form.\n"
      },
      "error": {
        "type": "object",
        "description": "This is the error example response of DMM v3, in case something goes wrong on the server or the request does not fulfill DMM v3's requirements regarding data structure, communication protocol, security measures, data size and length, etc. Every error response has a human readable message, an API doc url which points the developer in the right direction regarding the issue and an HTTP status code, which can be used to programmatically identify the error type.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "param",
              "status_code"
            ],
            "properties": {
              "message": {
                "type": "string",
                "description": "A human-readable message providing more details about the error.",
                "example": "Resource not found"
              },
              "param": {
                "type": "string",
                "description": "If the error is parameter-specific, the parameter related to the error. For example, you can use this to display a message near the correct form field.",
                "example": "first_name"
              },
              "doc_url": {
                "type": "string",
                "description": "A link to more information about the error."
              },
              "status_code": {
                "$ref": "#/components/schemas/failure_status_code"
              }
            }
          }
        }
      },
      "mailing_list_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the mailing list, which should be a string no longer than 255 characters.\nSpaces, numbers and some special characters are also allowed to be used."
          }
        },
        "example": {
          "name": "My mailing list"
        }
      },
      "updated_at": {
        "type": "string",
        "format": "date-time",
        "description": "A timestamp in ISO 8601 format of the date the resource was updated.",
        "example": "2020-03-18T12:57:21Z"
      },
      "object": {
        "type": "string",
        "description": "Value is type of resource."
      },
      "dmm_base": {
        "type": "object",
        "required": [
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "created_at": {
            "$ref": "#/components/schemas/created_at"
          },
          "updated_at": {
            "$ref": "#/components/schemas/updated_at"
          },
          "object": {
            "$ref": "#/components/schemas/object"
          }
        }
      },
      "mlg_lst_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `mlg_lst_`.",
        "pattern": "^mlg_lst_[a-z 0-9]+$",
        "example": "mlg_lst_5f07180419e2f"
      },
      "mailing_list": {
        "allOf": [
          {
            "$ref": "#/components/schemas/mailing_list_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/mlg_lst_id"
              },
              "addresses_count": {
                "type": "integer",
                "description": "The number of addresses added to the current mailing list.\nThis count includes all the addresses attached to the current mailing list, regardless of their *archived* or *suppressed* status (if any)."
              },
              "mailable_count": {
                "type": "integer",
                "description": "This number is the most important value in DMM v3.\nIt represents the number of addresses which are verified and valid for sending postcards.\nThis value is determined by the **mail strictness** setting which can be modified in the client area of DMM v3 -> account settings page, which can be found here: https://app.directmailmanager.com/settings/account.\nThe **mail strictness** setting has 3 values to choose from: *strict*, *normal* an *relaxed*.\n\n> **Explanation:** \n>- `strict`: this setting allows Postcards to be sent only to those addresses where the address verification status is fully *valid*. No other addresses counts as mailable in case the mail strictness setting is set to **strict**.\n>- `normal`: this setting allows Postcards to be sent also to corrected and accepted addresses.\n>- `relaxed`: this setting allows Postcards to be sent to any address, regardless of their verification status. Even if the address verification returned an invalid status, this setting allows the usage of those addresses for sending postcards. For the invalid addresses there's a good chance that the postcard will be returned to sender, since the address might be incomplete or misspelled."
              }
            },
            "example": {
              "id": "mlg_lst_616941213e7ec",
              "address_count": 1,
              "mailable_count": 1
            }
          }
        ]
      },
      "links": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "url"
          },
          "last": {
            "type": "string",
            "format": "url"
          },
          "prev": {
            "type": "string",
            "format": "url"
          },
          "next": {
            "type": "string",
            "format": "url"
          }
        }
      },
      "meta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "path": {
            "type": "string",
            "format": "url"
          },
          "per_page": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "list": {
        "type": "object",
        "description": "Multiple items returned in order",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "object": {
            "allOf": [
              {
                "$ref": "#/components/schemas/object"
              },
              {
                "type": "string",
                "enum": [
                  "list"
                ],
                "default": "list"
              }
            ]
          }
        }
      },
      "mailing_list_create": {
        "allOf": [
          {
            "$ref": "#/components/schemas/mailing_list_base"
          },
          {
            "required": [
              "name"
            ]
          }
        ]
      },
      "mailing_list_update": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the mailing list"
          }
        },
        "example": {
          "name": "Test Mailing List (updated name)"
        }
      },
      "deleted": {
        "type": "boolean",
        "description": "Represents the result of the *delete* action and results in a boolean *true*/*false* response."
      },
      "mailing_list_deletation": {
        "description": "Mailing list successfully deleted form the database.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/mlg_lst_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "metadata": {
        "type": "object",
        "description": "Metadata is used to store custom meta per object (object = any object that DMM uses, like: address object, mailing list object, postcard/letter object, artwork object, etc.) which can be used for back linking data to another system for example.\nIn case it needs to be removed, an empty `metadata` array should be provided here.\nOtherwise, if no update needed in the `metadata` the current value should be provided.\nIn case of update, just enter the new values in the array as `key`:`value` string.\nA few examples for sending meta: `campaign`, `internal_id` or `another_meta`:\n\n  > ```json\n  > \"metadata\": {\n  >     \"campaign\":\"SUMMER2022\",\n  >     \"internal_id\":\"322\",\n  >     \"another_meta\":\"test\"\n  >   }\n  >```",
        "properties": {
          "custom_meta": {
            "type": "string",
            "description": "The `key`:`value` pair of the metadata. **Please note** that both *key* and *value* can be freely provided, nothing is specified or predefined here. Any number of `key`:`value` pairs are accepted, but not more than 20. Values cannot exceed 500 characters.\n",
            "maxLength": 500
          }
        },
        "maxProperties": 20,
        "example": {
          "type": "object",
          "properties": {
            "gender": {
              "type": "string",
              "example": "male"
            },
            "campaign": {
              "type": "string",
              "example": "DMM2022"
            }
          }
        }
      },
      "address_base": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "The address object's first name parameter. This will be the recipient's (\"to\" address) first name. **Either this first name or the company name is required to be used when creating an address.**\n",
            "maxLength": 40,
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "description": "The address object's last name parameter. This will be the recipient's (\"to\" address) last name. This parameter is not required when creating an address object.\n",
            "maxLength": 40,
            "nullable": true
          },
          "company": {
            "type": "string",
            "description": "The address object's company name parameter. This will be the recipient's (\"to\" address) company name. **Either this company name or the first name is required to be used when creating an address.**\n",
            "maxLength": 40,
            "nullable": true
          },
          "address_line1": {
            "type": "string",
            "description": "The address object's address line 1 parameter. This will be the recipient's (\"to\" address) address line 1. This is a required parameter when creating an address object.\n",
            "maxLength": 64
          },
          "address_line2": {
            "type": "string",
            "description": "The address object's address line 2 parameter. This will be the recipient's (\"to\" address) address line 2. This parameter is not required when creating an address object.\n",
            "maxLength": 64,
            "nullable": true
          },
          "address_city": {
            "type": "string",
            "description": "The address object's city parameter. This will be the recipient's (\"to\" address) city. This is a required parameter when creating an address object.\n",
            "maxLength": 200
          },
          "address_state": {
            "description": "The address object's state parameter. This will be the recipient's (\"to\" address) state. This is a required parameter when creating an address object.\n",
            "type": "string",
            "maxLength": 200
          },
          "address_zip": {
            "type": "string",
            "description": "The address object's zip code parameter. This will be the recipient's (\"to\" address) zip code. The zip code can be provided in the legacy 5 digit format or completed with zip4, by adding a dash and the extra 4 digits to the standard zip code like this: **12345-678**. This is a required parameter when creating an address object.\n",
            "maxLength": 40
          },
          "address_country": {
            "type": "string",
            "description": "The address object's country parameter. This will be the recipient's (\"to\" address) country. For now, this is US by default, since DMM is only available for US customers and addresses. This is a required parameter when creating an address object.\n",
            "maxLength": 2,
            "default": "US"
          },
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          }
        },
        "example": {
          "first_name": "Jeff",
          "last_name": "Kingsford",
          "company": "One Brand Marketing",
          "address_line1": "425 East Spruce Street",
          "address_line2": null,
          "address_city": "Tarpon Springs",
          "address_state": "FL",
          "address_zip": 34689,
          "address_country": "US"
        }
      },
      "adr_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `adr_`.",
        "pattern": "^adr_[a-zA-Z0-9]+$",
        "example": "adr_5f293783e4ac2"
      },
      "address": {
        "allOf": [
          {
            "$ref": "#/components/schemas/address_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/adr_id"
              },
              "mailing_lists": {
                "type": "array",
                "description": "The mailing list(s) which the address is linked to.\nThis property is an array and it will contain multiple elements in case the address is present on multiple mailing lists at the same time.\nThis property also contains detailed information and meta data about the mailing list like creation and last update timestamps, the mailing list's unique ID, name, count of total addresses attached to the mailing list and a mailable address count which is calculated based on the address's verification statuses.",
                "items": {
                  "$ref": "#/components/schemas/mailing_list"
                }
              },
              "validation_errors": {
                "type": "string",
                "description": "Validation errors regarding the required properties of an address as well as the property type mismatches if data was not provided as required. This is an array of all the validation errors which happen on create/update operation of the address.\n"
              },
              "suppressed_at": {
                "type": "string",
                "description": "Date and time when the address was suppressed.\n"
              },
              "deleted_at": {
                "type": "string",
                "description": "Date and time when the address was deleted.\n"
              },
              "mailing_lists_count": {
                "type": "string",
                "description": "Number of mailing lists where the address appears. The address object is linked to these many mailing lists.\n"
              },
              "verification_status": {
                "type": "string",
                "description": "This is the address verification status of the created or updated address object. Every address is sent to an address verification service for validation upon creation or update. The address verification service responds with verification result and a list of all the corrections and/or adjustments applied to the address object (if any).\n"
              },
              "is_deliverable": {
                "type": "string",
                "description": "The value of this property is calculated based on the address verification statuses. The strictness of this value can be modified by changing the mail strictness option inside the client area of DMM v3, or by following this link: https://app.directmailmanager.com/settings/account\n"
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "address"
                    ],
                    "default": "address"
                  }
                ]
              }
            }
          }
        ],
        "example": {
          "id": "adr_5f293783e4ac2",
          "mailing_lists": [
            {
              "id": "mlg_lst_616941213e7ec",
              "name": "My New Mailing List",
              "created_at": "2021-10-15T08:51:45Z",
              "updated_at": "2021-10-15T08:51:45Z",
              "locked_at": null,
              "addresses_count": null,
              "mailable_count": null,
              "metadata": [
                {
                  "key": "test1",
                  "value": "value1"
                },
                {
                  "key": "test2",
                  "value": "value2"
                }
              ],
              "object": "mailing-list"
            }
          ],
          "validation_errors": null,
          "suppressed_at": null,
          "created_at": "2021-09-30T12:52:47Z",
          "updated_at": "2021-09-30T12:52:47Z",
          "deleted_at": null,
          "mailing_lists_count": 1,
          "verification_status": "valid",
          "is_deliverable": true,
          "object": "address"
        }
      },
      "address_editable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/address_base"
          },
          {
            "required": [
              "address_line1",
              "address_city",
              "address_state",
              "address_zip"
            ]
          }
        ]
      },
      "address_deletation": {
        "description": "The specified resource was deleted.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/adr_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "mailing_list_id": {
        "type": "object",
        "properties": {
          "mailing_list_id": {
            "type": "string",
            "example": "mlg_lst_5f29371e6f922",
            "description": "Unique identifier prefixed with `mlg_lst_`."
          }
        }
      },
      "company_address_base": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "The address object's first name parameter. This will be the recipient's (\"from\" address) first name. **Either this first name or the company name is required to be used when creating an address.**\n",
            "maxLength": 40,
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "description": "The address object's last name parameter. This will be the recipient's (\"from\" address) last name. This parameter is not required when creating an address object.\n",
            "maxLength": 40,
            "nullable": true
          },
          "company": {
            "type": "string",
            "description": "The address object's company name parameter. This will be the recipient's (\"from\" address) company name. **Either this company name or the first name is required to be used when creating an address.**\n",
            "maxLength": 40,
            "nullable": true
          },
          "address_line1": {
            "type": "string",
            "description": "The address object's address line 1 parameter. This will be the recipient's (\"from\" address) address line 1. This is a required parameter when creating an address object.\n",
            "maxLength": 64
          },
          "address_line2": {
            "type": "string",
            "description": "The address object's address line 2 parameter. This will be the recipient's (\"from\" address) address line 2. This parameter is not required when creating an address object.\n",
            "maxLength": 64,
            "nullable": true
          },
          "address_city": {
            "type": "string",
            "description": "The address object's city parameter. This will be the recipient's (\"from\" address) city. This is a required parameter when creating an address object.\n",
            "maxLength": 200
          },
          "address_state": {
            "description": "The address object's state parameter. This will be the recipient's (\"from\" address) state. This is a required parameter when creating an address object.\n",
            "type": "string",
            "maxLength": 200
          },
          "address_zip": {
            "type": "string",
            "description": "The address object's zip code parameter. This will be the recipient's (\"from\" address) zip code. The zip code can be provided in the legacy 5 digit format or completed with zip4, by adding a dash and the extra 4 digits to the standard zip code like this: **12345-678**. This is a required parameter when creating an address object.\n",
            "maxLength": 40
          }
        },
        "example": {
          "first_name": "Jeff",
          "last_name": "Kingsford",
          "company": "One Brand Marketing",
          "address_line1": "425 East Spruce Street",
          "address_line2": null,
          "address_city": "Tarpon Springs",
          "address_state": "FL",
          "address_zip": "34689"
        }
      },
      "cmpny_adr": {
        "type": "string",
        "description": "Unique identifier prefixed with `cmpny_adr_`.\n",
        "pattern": "^cmpny_adr_[a-z 0-9]+$",
        "example": "cmpny_adr_5f2ba56aa6d8e"
      },
      "company_address": {
        "allOf": [
          {
            "$ref": "#/components/schemas/company_address_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/cmpny_adr"
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "company-address"
                    ],
                    "default": "company-address"
                  }
                ]
              }
            }
          }
        ]
      },
      "html_string": {
        "type": "string",
        "description": "The actual HTML data provided as an HTML string which can also contain inline CSS style",
        "maxLength": 100000,
        "pattern": "(?i)^(?:<html|<!DOCTYPE)"
      },
      "remote_file_url": {
        "type": "string",
        "description": "The value of this property should be a STRING representing the publicly accessible URL of an artwork file (of type: pdf, html) which will be downloaded and saved in DMM v3 database everytime this property is used in a request.\n",
        "pattern": "^(?!https://)[a-zA-Z0-9@:%._+~#=/]{1,256}.(html?|pdf)$"
      },
      "local_file_path": {
        "type": "string",
        "description": "The value of this property is the binary file data in case *browse* functionality is implemented on a front-end application.\nWhen a user selects a file from their computer this is automatically converted to binary format, and is sent to the server through this property",
        "pattern": "^(?!https://)[a-zA-Z0-9@:%._+~#=/]{1,256}.(html?|pdf)$"
      },
      "artwork_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the artwork.",
            "example": "My Artwork"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "The description of the artwork (if any).",
            "example": "My Artwork description"
          },
          "size": {
            "type": "string",
            "enum": [
              "4x6",
              "6x9"
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "front",
              "back"
            ]
          },
          "html": {
            "description": "The HTML code which constructs the artwork design. It can include inline CSS.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/html_string"
              },
              {
                "$ref": "#/components/schemas/remote_file_url"
              },
              {
                "$ref": "#/components/schemas/local_file_path"
              }
            ]
          }
        }
      },
      "art_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `art_`.\n",
        "pattern": "^art_[a-z 0-9]+$",
        "example": "art_5f2ba56aa6d8e"
      },
      "artwork_version_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the artwork version.",
            "example": "My Artwork Version"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the artwork version.",
            "example": "My Artwork Version description"
          },
          "html": {
            "description": "The HTML content of the artwork version which stands as the base of the artwork design.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/html_string"
              },
              {
                "$ref": "#/components/schemas/remote_file_url"
              },
              {
                "$ref": "#/components/schemas/local_file_path"
              }
            ]
          }
        }
      },
      "art_vrsn_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `art_vrsn_`.",
        "pattern": "^art_vrsn_[a-z 0-9]+$",
        "example": "art_vrsn_5f2ba56aa6d8e"
      },
      "artwork_version": {
        "allOf": [
          {
            "$ref": "#/components/schemas/artwork_version_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/art_vrsn_id"
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "version"
                    ],
                    "default": "version"
                  }
                ]
              }
            }
          }
        ]
      },
      "artwork": {
        "allOf": [
          {
            "$ref": "#/components/schemas/artwork_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/art_id"
              },
              "versions": {
                "type": "array",
                "description": "The unique ID of the artwork object.",
                "items": {
                  "$ref": "#/components/schemas/artwork_version"
                }
              },
              "published_version": {
                "allOf": [
                  {
                    "description": "The description of the artwork version object."
                  },
                  {
                    "$ref": "#/components/schemas/artwork_version"
                  }
                ]
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "artwork"
                    ],
                    "default": "artwork"
                  }
                ]
              }
            }
          }
        ]
      },
      "artwork_create": {
        "allOf": [
          {
            "$ref": "#/components/schemas/artwork_base"
          },
          {
            "required": [
              "name",
              "size",
              "html",
              "side"
            ]
          }
        ]
      },
      "artwork_update": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The updated name of the artwork.",
            "example": "My Artwork"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "The updated description of the artwork.",
            "example": "My Artwork description"
          },
          "published_version": {
            "allOf": [
              {
                "description": "The updated description of the artwork version.",
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/art_vrsn_id"
              }
            ]
          }
        }
      },
      "artwork_deletation": {
        "description": "The response of the artwork delete operation.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/mlg_lst_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "merge_variables": {
        "type": "object",
        "description": "The variable data object, if there is any variable data inside the Mailable entity's (Postcard/Letter) artwork HTML code provided. If variable data is provided inside the address object, the **`merge_tag`** should be added to the Artwork between double curly braces.\n> **NOTE:** Variable data can only be used inside HTML artworks. The name of the variable can be a custom field or any default field of an address object, like `address_line1`, `first_name`, `last_name`, `company`, etc.\n> **Example:** Let's say we would like to use the first name of the recipient and a voucher code dynamically for each Postcard/Letter, printed on the front, matched with the design (artwork). In this case, inside the HTML of the artwork the following 2 merge tags should be added and styled (using CSS) to match the design: `{{first_name}}` and `{{voucher_code}}`. Please note, that the `voucher_code` is not a default address field, so it must be created as a custom field first. You can read more about custom field creation when using this endpoint: `/webhook-subscriptions`.\n",
        "nullable": true
      },
      "artwork_preview": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "postcard",
              "letter"
            ]
          },
          "merge_variables": {
            "$ref": "#/components/schemas/merge_variables"
          }
        }
      },
      "thumbnail": {
        "type": "object",
        "properties": {
          "small": {
            "type": "string",
            "format": "url"
          },
          "medium": {
            "type": "string",
            "format": "url"
          },
          "large": {
            "type": "string",
            "format": "url"
          }
        }
      },
      "artwork_version_create": {
        "allOf": [
          {
            "$ref": "#/components/schemas/artwork_version_base"
          },
          {
            "required": [
              "name",
              "html"
            ]
          }
        ]
      },
      "artwork_version_update": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the artwork version to be set as the new name.",
            "example": "My New Name of the Artwork Version"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "The description of the artwork version to be set as the new description.",
            "example": "My New Artwork Version description"
          }
        }
      },
      "artwork_version_deletation": {
        "description": "The response of the artwork version delete operation.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/art_vrsn_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "custom_field_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the custom field which will be used for diplaying the field on the list of custom fields in the client area of DMM.",
            "example": "My Custom field"
          },
          "type": {
            "type": "string",
            "description": "The type of the custom field, which will define the area of usage. If this is set to `merge_variable`, the current custom field will be used in the bulk postcard creation process.",
            "enum": [
              "text",
              "number",
              "date"
            ],
            "example": "text"
          },
          "merge_tag": {
            "type": "string",
            "description": "This is the name of the actual `merge_tag` used inside the *artwork*'s HTML between double curly braces.",
            "example": "my_merge_tag"
          },
          "default_value": {
            "type": "string",
            "nullable": true,
            "description": "The default value will be used when no value is defined for the current custom field. This is not required since the custom field or *merge_tag* used in the bulk creation porcess can have an empty valueit's not required to be set.",
            "example": "Some default value"
          }
        }
      },
      "cfld_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `cfld_`.\n",
        "pattern": "^cfld_[a-z 0-9]+$",
        "example": "cfld_5f2ba56aa6d8e"
      },
      "custom_field": {
        "allOf": [
          {
            "$ref": "#/components/schemas/custom_field_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/cfld_id"
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "custom-field"
                    ],
                    "default": "custom-field"
                  }
                ]
              }
            }
          }
        ]
      },
      "custom_field_editable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/custom_field_base"
          },
          {
            "required": [
              "name",
              "type",
              "merge_tag"
            ]
          }
        ]
      },
      "custom_field_deletation": {
        "description": "The custom field's delete operation response.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/cfld_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "inline_address": {
        "type": "object",
        "required": [
          "first_name",
          "address_line1",
          "address_city",
          "address_state",
          "address_zip"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "maxLength": 40,
            "description": "First name of the contact address"
          },
          "last_name": {
            "type": "string",
            "maxLength": 40,
            "description": "Last name of the contact address"
          },
          "company": {
            "type": "string",
            "maxLength": 40,
            "description": "Company name of the contact address"
          },
          "address_line1": {
            "type": "string",
            "maxLength": 64,
            "description": "Address line 1 of the contact address"
          },
          "address_line2": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Address line 2 of the contact address"
          },
          "address_city": {
            "type": "string",
            "maxLength": 200,
            "description": "City name of the contact address"
          },
          "address_state": {
            "type": "string",
            "description": "State name of the contact address",
            "pattern": "^[a-zA-Z]{2}$"
          },
          "address_zip": {
            "type": "string",
            "description": "Zip code of the contact address. Standard and zip4 formats are accepted.",
            "pattern": "^[0-9]{5}(-[0-9]{4})?$"
          }
        }
      },
      "postcard_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the created Postcard",
            "example": "My Postcard"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "The description of the created Postcard",
            "example": "My Postcard description"
          },
          "size": {
            "type": "string",
            "description": "The actual printed size of the created Postcard defined in inches",
            "enum": [
              "4x6",
              "6x9"
            ],
            "example": "4x6"
          },
          "mail_type": {
            "type": "string",
            "description": "This attribute defines the priority of mail delivery\n> **Note:** standard_class - a cheaper option that is less predictable, takes longer to deliver, and is harder to track. \n> standard_class mailing can not be used with 4x6 postcards or any postcards sent outside the United States.",
            "enum": [
              "first_class",
              "standard_class"
            ],
            "example": "first_class",
            "default": "first_class"
          },
          "send_date": {
            "type": "string",
            "format": "date",
            "description": "The exact date when the postcard should be mailed to the specified `to_address`. The next day can be the closest `send_date`.",
            "example": "2020-03-18"
          },
          "to_address": {
            "description": "If provided, it can be a reference to an existing address object, identified by it's unique ID.\nThe reference should be the unique ID of the address object obtained when the address object was created.\nIt can also be retrieved from the client area of DMM v3, by following this link: https://app.directmailmanager.com/lists/address and search for the address you need.\nOnce there, just hover over the initials displayed in a circle before the first name and click to copy the address ID to the clipboard, if needed.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/adr_id"
              },
              {
                "$ref": "#/components/schemas/mlg_lst_id"
              },
              {
                "$ref": "#/components/schemas/inline_address"
              }
            ]
          },
          "from_address": {
            "description": "If provided, it can be a reference to an existing company address object.\nThe reference should be the unique ID of the company address object obtained when the address object was created.\nCompany addresses can be retrieved by using this endpoint: `/company-addresses`.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/adr_id"
              },
              {
                "$ref": "#/components/schemas/mlg_lst_id"
              },
              {
                "$ref": "#/components/schemas/inline_address"
              }
            ]
          },
          "front_artwork": {
            "description": "Can be an HTML string, a reference to an existing artwork object or a publicly accessible URL to the static artwork file (PDF).\n\nReference can be used in which case this should be the unique ID of the artwork object.\n\nIn case HTML is used, this must be a valid HTML and can contain CSS styling.\n\n**The published version of the artwork object will be used for the postcard generation.**\n\n>**Artwork Sizes:**\n>- 4.25\"x6.25\"\n>- 6.25\"x9.25\"\n\n>**Note:**\n>The supplied HTML will be rendered to the specified `size`.\n\nTemplate examples:\n>- [4x6 - Front side - HTML](https://dmm-v3-assets.s3.amazonaws.com/templates/01_4x6_front_html)\n>- [6x9 - Front side - PDF](https://dmm-v3-assets.s3.amazonaws.com/templates/04_6x9-front_html)\n>- [6x9 - Front side - HTML](https://dmm-v3-assets.s3.amazonaws.com/templates/04_6x9-front_html)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/art_id"
              },
              {
                "$ref": "#/components/schemas/html_string"
              },
              {
                "$ref": "#/components/schemas/remote_file_url"
              },
              {
                "$ref": "#/components/schemas/local_file_path"
              }
            ]
          },
          "back_artwork": {
            "description": "Can be an HTML string, a reference to an existing artwork object or a publicly accessible URL to the static artwork file (PDF).\n\nReference can be used in which case this should be the unique ID of the artwork object.\n\nIn case HTML is used, this must be a valid HTML and can contain CSS styling.\n\n**The published version of the artwork object will be used for the postcard generation.**\n\n>**Artwork Sizes:**\n>- 4.25\"x6.25\"\n>- 6.25\"x9.25\"\n\n>**Note:**\n>The supplied HTML will be rendered to the specified `size`.\n\nMake sure to leave room for address and postage information by following the templates provided\n\nTemplate examples:\n>- [4x6 - Back side - HTML](https://dmm-v3-assets.s3.amazonaws.com/templates/02_4x6_back.html)\n>- [6x9 - Back side - PDF](https://dmm-v3-assets.s3.amazonaws.com/templates/06_6x9_postcard_template_2022-B.pdf)\n>- [6x9 - Back side - HTML](https://dmm-v3-assets.s3.amazonaws.com/templates/05_6x9-back.html)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/art_id"
              },
              {
                "$ref": "#/components/schemas/html_string"
              },
              {
                "$ref": "#/components/schemas/remote_file_url"
              },
              {
                "$ref": "#/components/schemas/local_file_path"
              }
            ]
          },
          "merge_variables": {
            "$ref": "#/components/schemas/merge_variables"
          },
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "is_hipaa_compliant": {
            "type": "boolean",
            "description": "The `is_hipaa_compliant` parameter will make your Postcard HIPAA Compliant.\nSince this has to be a boolean, it can be either `true` or `false`."
          },
          "opacity": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "maximum": 15,
            "multipleOf": 0.01,
            "nullable": true,
            "description": "Sets the opacity level of the address box printed on the back of the postcard. Accepts a decimal value between `0` and `15`, with up to two decimal places (e.g. `0.5`, `7.25`).\n\n> **Note:** This feature is not available to all customers. Please [contact support](mailto:support@directmailmanager.com) to request access.",
            "example": 1.5
          }
        }
      },
      "psc_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `psc_`.",
        "pattern": "^psc_[a-z 0-9]+$",
        "example": "psc_5f2ba56aa6d8e"
      },
      "postcard": {
        "allOf": [
          {
            "$ref": "#/components/schemas/postcard_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/psc_id"
              },
              "carrier": {
                "type": "string",
                "description": "The carrier name responsible for delivering the postcards to the provided addresses.",
                "default": "USPS",
                "example": "USPS"
              },
              "status": {
                "type": "string",
                "description": "The actual status of the postcard.",
                "enum": [
                  "pending",
                  "scheduled",
                  "preparing",
                  "ongoing",
                  "sent"
                ],
                "example": "pending"
              },
              "cancelled_at": {
                "description": "In case the postcard has been cancelled by a user from the client area or through the API, this property will return the cancellation timestamp.",
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "string",
                    "format": "date"
                  }
                ]
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "postcard"
                    ],
                    "default": "postcard"
                  }
                ]
              }
            }
          }
        ]
      },
      "postcard_editable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/postcard_base"
          },
          {
            "required": [
              "name",
              "to_address",
              "size",
              "mail_type",
              "front_artwork",
              "back_artwork"
            ]
          }
        ]
      },
      "postcard_deletation": {
        "description": "The response of the postcard delete operation.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/psc_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "letter_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the created Letter",
            "example": "My Letter"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "The description of the created Letter",
            "example": "My Letter description"
          },
          "size": {
            "type": "string",
            "description": "The actual printed size of the created Letter defined in inches",
            "enum": [
              "11x8.5"
            ],
            "example": "11x8.5"
          },
          "send_date": {
            "type": "string",
            "format": "date",
            "description": "The exact date when the letter should be mailed to the specified `to_address`. The next day can be the closest `send_date`.",
            "example": "2022-03-04"
          },
          "to_address": {
            "description": "If provided, it can be a reference to an existing address object. \nThe reference should be the unique ID of the address object obtained upon the address object was created.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/adr_id"
              },
              {
                "$ref": "#/components/schemas/mlg_lst_id"
              },
              {
                "$ref": "#/components/schemas/inline_address"
              }
            ]
          },
          "double_sided": {
            "type": "boolean",
            "description": "If provided, the letter will be printed on both sides of the paper. The values must be provided as boolean types.",
            "default": 1,
            "example": 1
          },
          "color": {
            "type": "boolean",
            "description": "If provided, the letter will be printed in color. The values must be provided as boolean types. If true, the artwork of the letter will be printed in color else it will be black and white.",
            "example": 1
          },
          "mail_type": {
            "type": "string",
            "description": "If provided this attribute defines the priority of mail delivery\n > **Note:** standard_class - a cheaper option that is less predictable, takes longer to deliver, and is harder to track.",
            "enum": [
              "first_class",
              "standard_class"
            ],
            "default": "first_class",
            "example": "standard_class"
          },
          "address_placement": {
            "type": "string",
            "description": "Defines how the to address will be placed on the printed letter.\n\n>By providing the:\n>- `top_first_page` value, the address details will be placed in the upper left area of the first page of the letter, *regardless* if artwork or text content exists there. A white filled rectangle will be placed in front of the artwork containing the `to_address` details where the letter should be sent to.\n>- `insert_blank_page` value, a new blank page will be inserted before the letter's first page and the address details will be printed on this new page, avoiding the overlapping of different content types on the letter artwork's first page.",
            "enum": [
              "top_first_page",
              "insert_blank_page"
            ],
            "default": "top_first_page",
            "example": "top_first_page"
          },
          "from_address": {
            "description": "If provided, it can be a reference to an existing address object.\nThe reference should be the unique ID of the address object obtained upon the address object was created.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/cmpny_adr"
              },
              {
                "$ref": "#/components/schemas/inline_address"
              }
            ]
          },
          "artwork": {
            "description": "This is the actual content and design of the letter. It can be provided in three different ways:\n<br>\n>- using an `artwork_id` which is a reference to an already existing artwork in DMM v3 database\n>- providing a publicly accessible URL to the artwork file, which will be downloaded by DMM v3\n>- providing a binary file when users select a file from their computer and sends it to DMM v3.\n\n>**Additional Notes:**\n>Every page of a supplied PDF file must be sized at **8.5\"x11\"**\n>Every page of the supplied HTML will be rendered and trimmed to 8.5\"x11\" size.\n\n**Page count limitations** (Where a `page` represents a printable page from the provided artwork file. Please don't confuse it with sheets of paper):\n>- 6 pages single sided\n>- 12 pages double sided\n\nPDFs that surpass the file limit will throw an error, while HTML that renders more pages than the file limit will be trimmed.\n\nLetter Templates:\n>- [8x11 - Letter - HTML](https://dmm-v3-assets.s3.amazonaws.com/templates/08_8.5x11-Letter-Template-Builder_html)      \n>- [8x11 - Letter - PDF](https://dmm-v3-assets.s3.amazonaws.com/templates/07_85x11letter_template_2023V4.pdf)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/art_id"
              },
              {
                "$ref": "#/components/schemas/remote_file_url"
              },
              {
                "$ref": "#/components/schemas/local_file_path"
              }
            ]
          },
          "merge_variables": {
            "$ref": "#/components/schemas/merge_variables"
          },
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "is_hipaa_compliant": {
            "type": "boolean",
            "description": "The `is_hipaa_compliant` parameter will make your Postcard HIPAA Compliant. \nSince this has to be a boolean, it can be either `true` or `false`."
          }
        }
      },
      "ltr_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `ltr_`.",
        "pattern": "^ltr_[a-z 0-9]+$",
        "example": "ltr_5f2ba56aa6d8e"
      },
      "letter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/letter_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/ltr_id"
              },
              "status": {
                "type": "string",
                "description": "The actual status of the letter.",
                "enum": [
                  "pending",
                  "scheduled",
                  "preparing",
                  "ongoing",
                  "sent"
                ],
                "example": "pending"
              },
              "cancelled_at": {
                "description": "In case the letter has been cancelled by a user from the client area or through the API, this property will return the cancellation timestamp.",
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "string",
                    "format": "date"
                  }
                ]
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "letter"
                    ],
                    "default": "letter"
                  }
                ]
              }
            }
          }
        ]
      },
      "letter_editable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/letter_base"
          },
          {
            "required": [
              "name",
              "to_address",
              "artwork",
              "color"
            ]
          }
        ]
      },
      "letter_deletation": {
        "description": "The response of the letter delete operation.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ltr_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      },
      "condition": {
        "type": "object",
        "properties": {
          "column": {
            "type": "string",
            "description": "The property of the address object which is used in the condition",
            "example": "first_name"
          },
          "operator": {
            "type": "string",
            "description": "The logical operator of the condition",
            "enum": [
              "is",
              "is_not",
              "contains",
              "not_contains",
              "begins_with",
              "ends_with",
              "is_blank",
              "is_not_blank"
            ]
          },
          "value": {
            "type": "string",
            "description": "The value to filter on",
            "example": "John"
          },
          "boolean": {
            "type": "string",
            "description": "Relation operator which will define the link between multiple conditions (if more than one condition is provided)",
            "enum": [
              "and",
              "or"
            ]
          }
        }
      },
      "segment_base": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the Segment to be created",
            "example": "My Segment"
          },
          "conditions": {
            "type": "array",
            "description": "The conditions of the segment.\nThis is the most important part of the segment, since these conditions construct the segment.\nThese are filters that have a boolean logic relation between them (AND / OR) and the result set of addresses returned from the database narrowed down based on these conditions (filters) can be saved as a segment.\nThe saved conditions which construct the segment can be modified or extended anytime using the /segments/{{list_segment_id}} endpoint, where the unique ID of the segment should be provided as a query parameter.",
            "items": {
              "$ref": "#/components/schemas/condition"
            }
          }
        }
      },
      "sgm_id": {
        "type": "string",
        "description": "Unique identifier prefixed with `sgm_`.",
        "pattern": "^sgm_[a-z 0-9]+$",
        "example": "sgm_5f2ba56aa6d8e"
      },
      "segment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/segment_base"
          },
          {
            "$ref": "#/components/schemas/dmm_base"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/sgm_id"
              },
              "total": {
                "type": "integer",
                "example": 10
              },
              "object": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/object"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "segment"
                    ],
                    "default": "segment"
                  }
                ]
              }
            }
          }
        ]
      },
      "segment_editable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/segment_base"
          },
          {
            "required": [
              "name",
              "conditions"
            ]
          }
        ]
      },
      "segment_deletation": {
        "description": "Segment deleted from the database. Only the rule set and the segment object has been removed, **none of the addresses or mailing lists suffered modifications**.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/sgm_id"
          },
          "deleted": {
            "$ref": "#/components/schemas/deleted"
          }
        }
      }
    },
    "responses": {
      "mailing_list_error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "message": "The name field is required.",
                "param": "name",
                "status_code": 422
              }
            }
          }
        }
      },
      "all_mailing_list": {
        "description": "The response object (JSON) contains all the requested Mailing Lists sorted by creation date by default in descending order.\nAll the related information is also returned for all the Mailing Lists in the result set, like meta information, pagination links, per page count, etc.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "list of mailing list",
                      "items": {
                        "$ref": "#/components/schemas/mailing_list"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/list"
                }
              ]
            },
            "example": {
              "data": [
                {
                  "id": "mlg_lst_616941213e7ec",
                  "name": "My Mailing List",
                  "created_at": "2021-10-15T08:51:45Z",
                  "updated_at": "2021-10-15T08:51:45Z",
                  "locked_at": "null,",
                  "address_count": 1,
                  "metadata": [],
                  "object": "mailing_list"
                },
                {
                  "id": "mlg_lst_616941213e7ec",
                  "name": "My Mailing List",
                  "created_at": "2021-10-15T08:51:45Z",
                  "updated_at": "2021-10-15T08:51:45Z",
                  "locked_at": "null,",
                  "address_count": 1,
                  "metadata": [],
                  "object": "mailing_list"
                }
              ],
              "links": {
                "first": "https://api.directmailmanager.com/api/mailing-lists?page%5Bnumber%5D=1",
                "last": "https://api.directmailmanager.com/api/mailing-lists?page%5Bnumber%5D=1",
                "prev": null,
                "next": null
              },
              "meta": {
                "current_page": 1,
                "from": 1,
                "last_page": 1,
                "links": [
                  {
                    "url": null,
                    "label": "&laquo; Previous",
                    "active": false
                  },
                  {
                    "url": "https://api.directmailmanager.com/api/mailing-lists?page%5Bnumber%5D=1",
                    "label": "1",
                    "active": true
                  },
                  {
                    "url": null,
                    "label": "Next &raquo;",
                    "active": false
                  }
                ],
                "path": "https://api.directmailmanager.com/api/mailing-lists",
                "per_page": 10,
                "to": 2,
                "total": 2,
                "object": "list"
              }
            }
          }
        }
      },
      "mailing_list_deleted": {
        "description": "Deleted",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/mailing_list_deletation"
            },
            "example": {
              "id": "mlg_lst_616941213e7ec",
              "deleted": true
            }
          }
        }
      },
      "address_error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "message": "The address_line1 field is required.",
                "param": "address_line1",
                "status_code": 422
              }
            }
          }
        }
      },
      "all_addresses": {
        "description": "The result set for requesting all the addresses from the database. In case one or more filters were used, the result set will be narrowed down or extended according to the provided filter values.\nThe address list will always include each address object's mailing list relation details.\nIn case the address is added to more than one mailing list, all the lists details will be returned for each address.\nAddress verification status and all the details regarding address correction, invalid or valid state are also included in the result set for each included address.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "list of artworks",
                      "items": {
                        "$ref": "#/components/schemas/address"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/list"
                }
              ]
            },
            "example": {
              "data": [
                {
                  "id": "adr_5f2bc98f7cbb9",
                  "mailing_lists": {
                    "id": "mlg_lst_616941213e7ec",
                    "name": "My New Mailing List",
                    "created_at": "2021-10-15T08:51:45Z",
                    "updated_at": "2021-10-15T08:51:45Z",
                    "locked_at": null,
                    "addresses_count": 1,
                    "mailable_count": 1,
                    "metadata": [],
                    "object": "mailing-list"
                  },
                  "first_name": "Jeff",
                  "last_name": "Kingsford",
                  "company": "One Brand Marketing",
                  "address_line1": "425 East Spruce Street",
                  "address_line2": null,
                  "address_city": "Tarpon Springs",
                  "address_state": "FL",
                  "address_zip": 34689,
                  "address_country": "US",
                  "validation_errors": null,
                  "suppressed_at": null,
                  "created_at": "2021-09-30T12:52:47Z",
                  "updated_at": "2021-09-30T12:52:47Z",
                  "deleted_at": null,
                  "mailing_lists_count": 1,
                  "verification_status": "valid",
                  "verification": {
                    "status": "valid",
                    "messages": {
                      "success": [
[...]
