{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "Mindbaz API",
    "x-swagger-net-version": "8.4.12.001"
  },
  "host": "api.mindbaz.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/{idsite}/advertisements/{idAdvertisement}": {
      "get": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to retrieve an advertisement from its identifier",
        "operationId": "Advertisements_GetAdvertisementById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAdvertisement",
            "in": "path",
            "description": "Advertisement identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertisement"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to delete an advertisement",
        "operationId": "Advertisements_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAdvertisement",
            "in": "path",
            "description": "Advertisement identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/advertisements": {
      "get": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to retrieve all advertisements",
        "operationId": "Advertisements_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertisement[]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to modify an advertisement.",
        "operationId": "Advertisements_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "advertisement",
            "in": "body",
            "description": "Advertisement to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertisement"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to create an advertisement.",
        "operationId": "Advertisements_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "advertisement",
            "in": "body",
            "description": "Advertisement to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertisement"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertisement"
            }
          }
        }
      }
    },
    "/api/{idsite}/advertisements/{idAdvertisement}/duplicate": {
      "post": {
        "tags": [
          "Advertisements"
        ],
        "summary": "Method to duplicate an advertisement.",
        "operationId": "Advertisements_Duplicate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAdvertisement",
            "in": "path",
            "description": "Advertisement to duplicate.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfInt32"
            }
          }
        }
      }
    },
    "/api/{idsite}/advertisers/{idAdvertiser}": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method to retrieve an advertiser from its identifier",
        "operationId": "Advertiser_GetAdvertiserById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAdvertiser",
            "in": "path",
            "description": "Advertiser identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertiser"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method to delete an advertiser",
        "operationId": "Advertiser_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAdvertiser",
            "in": "path",
            "description": "Advertiser identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/{idsite}/advertisers": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method to retrieve all advertisers",
        "operationId": "Advertiser_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertiser[]"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method to modify a advertiser.",
        "operationId": "Advertiser_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "advertiser",
            "in": "body",
            "description": "Advertiser to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertiser"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method to create an advertiser.",
        "operationId": "Advertiser_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "advertiser",
            "in": "body",
            "description": "Advertiser to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertiser"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAdvertiser"
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/{idsite}/CommonAdvertisers": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method for retrieving the Common Advertisers list.",
        "operationId": "CommonAdvertisers_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfICollectionOfObject"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method for create a Common Advertiser.",
        "operationId": "CommonAdvertisers_CreateCommonAdvertiser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Advertiser name",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfInt32"
            }
          }
        }
      }
    },
    "/api/{idsite}/CommonAdvertisers/{name}": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "summary": "Method for retrieving the Common Advertiser.",
        "operationId": "CommonAdvertisers_GetAdvertiserByName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Advertiser name",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfICollectionOfObject"
            }
          }
        }
      }
    },
    "/api/{idsite}/CommonAffiliatePlatform": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method for retrieving the Common Affiliate Platform list.",
        "operationId": "CommonAffiliatePlatform_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfICollectionOfObject"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method for create a Common affiliate platform.",
        "operationId": "CommonAffiliatePlatform_CreateAffiliatePlatform",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "platform name",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfInt32"
            }
          }
        }
      }
    },
    "/api/{idsite}/CommonAffiliatePlatform/{name}": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method for retrieving the Common Affiliate Platform .",
        "operationId": "CommonAffiliatePlatform_GetAffiliatePlatformByName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "platform name",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfICollectionOfObject"
            }
          }
        }
      }
    },
    "/api/{idsite}/affiliations/{idAffiliation}": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method to retrieve an affiliation from its identifier",
        "operationId": "Affiliation_GetAffiliationById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAffiliation",
            "in": "path",
            "description": "Affiliation identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAffiliation"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method to delete an affiliation",
        "operationId": "Affiliation_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idAffiliation",
            "in": "path",
            "description": "Affiliation identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/{idsite}/affiliations": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method to retrieve all affiliations",
        "operationId": "Affiliation_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAffiliation[]"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method to modify an affiliation.",
        "operationId": "Affiliation_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "affiliation",
            "in": "body",
            "description": "Affiliation to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Affiliation"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Method to create an affiliation.",
        "operationId": "Affiliation_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "affiliation",
            "in": "body",
            "description": "Affiliation to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Affiliation"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfAffiliation"
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/{idsite}/statistics/campaign": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Retrieves mailing stats from a campaign.",
        "operationId": "Statistics_Campaign",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetFullStatsResult"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/fai": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Returns statistics by isp based on a job or sent identifier.",
        "operationId": "Statistics_GetSentFaiStats",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idJob",
            "in": "query",
            "description": "Job id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetSentFaiResult[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/perftimeline": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Returns the hourly breakdown of the openings and clicks of a job or of a single mailing.",
        "operationId": "Statistics_GetPerfTimeline",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idJob",
            "in": "query",
            "description": "Job id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetPerfTimelineResult[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/manufacturers": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Returns the opening and click statistics of a campaign, a job or a single mailing, broken down by platform type and by device manufacturer (Samsung, Apple...).\r\n             At least one of the 3 identifiers is required. When several are supplied, they are combined as filters.\r\n             Each platform type is limited to its 5 most used manufacturers.\r\n             idPlatFormType values: 1 desktop, 2 mobile, 3 tablet, 4 imageproxy, 0 unknown.\r\n             Warning: human openings (nbHumanOpenings) and human openers (nbHumanOpeners) are not computed by this statistic, and neither are the unique openers / clickers.",
        "operationId": "Statistics_GetPlatformManufacturerStats",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idJob",
            "in": "query",
            "description": "Job id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetPlatformManufacturerStatsResult[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/operatingsystems": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Returns the opening and click statistics of a campaign, a job or a single mailing, broken down by platform type and by operating system (Windows 10, Android, Apple Image Proxy...).\r\n             At least one of the 3 identifiers is required. When several are supplied, they are combined as filters.\r\n             Each platform type is limited to its 5 most used operating systems.\r\n             idPlatFormType values: 1 desktop, 2 mobile, 3 tablet, 4 imageproxy, 0 unknown.\r\n             Warning: human openings (nbHumanOpenings) and human openers (nbHumanOpeners) are not computed by this statistic, and neither are the unique openers / clickers.",
        "operationId": "Statistics_GetPlatformOsStats",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idJob",
            "in": "query",
            "description": "Job id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetPlatformOsStatsResult[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/browsers": {
      "get": {
        "tags": [
          "Aggregated Stats"
        ],
        "summary": "Returns the opening and click statistics of a campaign, a job or a single mailing, broken down by platform type and by browser (Chrome, Outlook, Mobile Safari, Thunderbird...).\r\n             At least one of the 3 identifiers is required. When several are supplied, they are combined as filters.\r\n             Each platform type is limited to its 5 most used browsers.\r\n             idPlatFormType values: 1 desktop, 2 mobile, 3 tablet, 4 imageproxy, 0 unknown.\r\n             Warning: unique openers (nbOpeners) and unique clickers (nbClickers) are not computed by this statistic.",
        "operationId": "Statistics_GetBrowserStats",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idJob",
            "in": "query",
            "description": "Job id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetBrowserStatsResult[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/{idTarget}/behaviour": {
      "get": {
        "tags": [
          "Behaviour Filter"
        ],
        "summary": "Retrieves the filter by behaviour of a target by its identifier",
        "operationId": "TargetFilters_GetTargetBehaviourFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idTarget",
            "in": "path",
            "description": "Target identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfTargetBehaviourFilter"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/behaviour": {
      "post": {
        "tags": [
          "Behaviour Filter"
        ],
        "summary": "Sets a filter by behaviour to a specified target",
        "description": "If the target already has a filter by behaviour, the old one will be automatically replaced.",
        "operationId": "TargetFilters_SetTargetBehaviourFilter",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "behaviourFilter",
            "in": "body",
            "description": "Filter by behaviour",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetBehaviourFilter"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/campaigns/{idCampaign}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to retrieve a campaign from its identifier",
        "operationId": "Campaign_GetCampaignById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "path",
            "description": "Campaign identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfCampaign"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to delete a campaign from its identifier",
        "operationId": "Campaign_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "path",
            "description": "Campaign identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/campaigns/{idCampaign}/duplicate": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to duplicate a campaign.",
        "operationId": "Campaign_Duplicate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "path",
            "description": "Campaign identifier to duplicate.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "newCampName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfInt32"
            }
          }
        }
      }
    },
    "/api/{idsite}/campaigns/{idCampaign}/checklist": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetCampaignChecklist",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfCampaignChecklist"
            }
          }
        }
      }
    },
    "/api/{idsite}/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to retrieve campaigns by filter",
        "operationId": "Campaign_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.creationEndDate",
            "in": "query",
            "description": "End of date range to filter for creation date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.creationStartDate",
            "in": "query",
            "description": "Start of date range to filter for creation date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.isABTest",
            "in": "query",
            "description": "Indicates whether to fetch only Ab testing campaigns",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.isAutomation",
            "in": "query",
            "description": "Indicates whether to fetch only Automation campaigns",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.location",
            "in": "query",
            "description": "Location, possibles values:\r\n\"\" : All campaigns\r\n\"myCreatedLocation\" : Only the campaigns created by the current user\r\n\"1234\" : Directory identifier",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.mode",
            "in": "query",
            "description": "Mode to filter",
            "required": false,
            "type": "string",
            "enum": [
              "Unknown",
              "Simple",
              "Dynamic",
              "External",
              "TestAb"
            ]
          },
          {
            "name": "filter.name",
            "in": "query",
            "description": "Name to search",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Type to filter",
            "required": false,
            "type": "string",
            "enum": [
              "Unknown",
              "Newsletter",
              "Dedicated",
              "Other",
              "ExternalGame",
              "InternalGame",
              "Topic",
              "Rent",
              "Transac"
            ]
          },
          {
            "name": "filter.sortBy",
            "in": "query",
            "description": "Field on which to sort the results",
            "required": true,
            "type": "string",
            "enum": [
              "Name",
              "Id",
              "LastUpdateDate",
              "CreationDate",
              "Author",
              "Type",
              "Mode",
              "LastNbAddressesCount",
              "Directories"
            ]
          },
          {
            "name": "filter.order",
            "in": "query",
            "description": "Sort direction",
            "required": true,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "Starting line number for pagination (starts at 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.limit",
            "in": "query",
            "description": "Number of lines to retrieve (50 by default)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfPagedResultsListOfCampaign"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to modify a mailing campaign.",
        "operationId": "Campaign_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "campaign",
            "in": "body",
            "description": "Campaign to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          },
          {
            "name": "updateMode",
            "in": "query",
            "description": "Sets the update mode. If updateMode = true, you just have to set the value(s) to update",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "returnInformations",
            "in": "query",
            "description": "Defines whether complete information is returned. If returnInformations = false, you will get a boolean back",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "trackAllLinks",
            "in": "query",
            "description": "Tracks all campaign links",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfObject"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to create a campaign.",
        "operationId": "Campaign_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "campaign",
            "in": "body",
            "description": "Campaign to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          },
          {
            "name": "trackAllLinks",
            "in": "query",
            "description": "Tracks all campaign links",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfCampaign"
            }
          }
        }
      }
    },
    "/api/{idsite}/campaigns/byfields": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Method to modify a mailing campaign.",
        "operationId": "Campaign_PutByFields",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fieldsModel",
            "in": "body",
            "description": "fields to update from (name/value) parmis \"id_campaign;name;creationDate;majDate;msgHtml;msgTxt;mailObject;isArchive;id_user;id_config;id_campType;hasTxtMsg;genSpeed;isDynamic;id_campDynamic;id_planning;id_testFilter;id_prog;isTracked;nbPubInsert;id_campMode;useListUnsubscribe;nhdActive;nhdLinkActive;id_site_brand;expAlias;responseAlias;preheader;isTestAB;numTest;isOneshot;isAutomation;id_common_advertiser;id_common_affiliate;id_thematic\"",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateByFieldsModel"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/sents": {
      "get": {
        "tags": [
          "Detailled Segment Stats"
        ],
        "summary": "Retrieve statistics of a specific Sending / Segment from a Campaign for the last NbDays.",
        "operationId": "Statistics_Sents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idSent",
            "in": "query",
            "description": "Mailing Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Reading mode filter",
            "required": false,
            "type": "string",
            "default": "3",
            "enum": [
              "Mobile",
              "Desktop",
              "DesktopAndMobile"
            ]
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfSentStatistics[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics": {
      "get": {
        "tags": [
          "Detailled Segment Stats"
        ],
        "summary": "Retrieve statistics for all Sending / Segments for the last NbDays",
        "operationId": "Statistics_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "nbDays",
            "in": "query",
            "description": "nbDays max = 60.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Reading mode filter.",
            "required": false,
            "type": "string",
            "default": "3",
            "enum": [
              "Mobile",
              "Desktop",
              "DesktopAndMobile"
            ]
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetSentsStatsV2Result[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/campaigns": {
      "get": {
        "tags": [
          "Detailled Segment Stats"
        ],
        "summary": "Retrieves mailing stats from a campaign within the last nbDays.",
        "operationId": "Statistics_Campaigns",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nbDays",
            "in": "query",
            "description": "nbDays max = 60.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Reading mode filter.",
            "required": false,
            "type": "string",
            "default": "3",
            "enum": [
              "Mobile",
              "Desktop",
              "DesktopAndMobile"
            ]
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfStatsGetSentsStatsV2Result[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/statistics/joblist": {
      "get": {
        "tags": [
          "Detailled Segment Stats"
        ],
        "summary": "Returns jobs according to the specified criteria - one line per generation job",
        "operationId": "Statistics_GetJobListApi",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filters.startDate",
            "in": "query",
            "description": "Start date, DATETIME = NULL--default is 30 days ago, Default NULL",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.endDate",
            "in": "query",
            "description": "End date, NULL --now by default (max 6 months between startDate and endDate), Default NULL",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.search",
            "in": "query",
            "description": "Allow you to search on the camp name field, Default NULL",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.idCampType",
            "in": "query",
            "description": "Campaign type identifier, default NULL",
            "required": false,
            "type": "string",
            "enum": [
              "INCONNU",
              "NEWSLETTER",
              "DEDIE",
              "AUTRE",
              "JEU",
              "JEU_INTERNE",
              "DOSSIER",
              "LOCATION",
              "TRANSACTIONNEL"
            ]
          },
          {
            "name": "filters.tagList",
            "in": "query",
            "description": "One or more tags, separator ';' default NULL",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.author",
            "in": "query",
            "description": "Search for campaign author, default NULL",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sortField",
            "in": "query",
            "description": "Sorting column, 'id_job' by default, otherwise among the fields \"id_job\", \"startDate\", \"endDate\", \"jobStateName\", \"id_campaign\", \"campaignName\", \"isTest\", \"mailObject\", \"senderDomain\", \"groupName\", \"author\", \"nbSegments\", \"nbPubInsert\", \"nbLinks\", \"nbAddressToSend\", \"nbAddressSent\", \"nbClicks\", \"nbClickers\", \"nbAdClicks\", \"nbAdClickers\", \"nbEditoClicks\", \"nbEditoClickers\", \"nbMirrorClicks\", \"nbMirrorClickers\", \"nbUnsubClicks\", \"nbUnsubClickers\", \"nbOpenings\", \"nbOpeners\", \"nbHumanOpenings\", \"nbHumanOpeners\", \"nbUnsubs\", \"nbTotalBounces\", \"nbHardBounces\", \"nbSoftBounces\", \"nbAutoRespondersBounces\", \"nbDnsErrorsBounces\", \"nbSpamBounces\", \"nbSpamComplaints\", \"jobErrorInfo\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sortDesc",
            "in": "query",
            "description": "Sort in descending order",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.hideTest",
            "in": "query",
            "description": "whether or not to display tests",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.paginationLines",
            "in": "query",
            "description": "Number of lines to retrieve, INT = 20 --max 200 lines",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.paginationOffset",
            "in": "query",
            "description": "Number of elements from which to retrieve data from 0",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfICollectionOfStatsJobListResult"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/{idTarget}/pressure": {
      "get": {
        "tags": [
          "Email Pressure Filter"
        ],
        "summary": "Retrieves the filter by emailing pressure of a target by its identifier",
        "operationId": "TargetFilters_GetTargetPressureFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idTarget",
            "in": "path",
            "description": "Target identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfTargetPressureFilter"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/pressure": {
      "post": {
        "tags": [
          "Email Pressure Filter"
        ],
        "summary": "Sets a filter by emailing pressure to a specified target",
        "description": "If the target already has a filter by emailing pressure, the old one will be automatically replaced.",
        "operationId": "TargetFilters_SetTargetPressureFilter",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pressureFilter",
            "in": "body",
            "description": "Filter by pressure",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetPressureFilter"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/exports/subscribers": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Method to export subscribers to a file on SFTP",
        "description": "To select the subscribers to be exported, you will need a target. This target can be created in the mail applilcation or by [api](api/#operation/Targets_Post).\r\n             📝 The default output file is an ANSI encoded csv file with \";\" as column separator and CRLF windows newline character. Field names are used for column headers.\r\n             📝 The execution of the export is asynchronous, so you won't know right away if the export is successful. But in case of error, you will receive en email \"Error concerning the export...\".\r\n             At the end of the export, you will also receive an email with the subject starting with \"Export of the file...\"\r\n             ⚠️ Be careful, if you run too many exports at the same time, you'll get this error : \"Error, too many exports in progress (max 10)\". For performance reasons, we don't allow more than 10 simultaneous exports per database.\r\n             💡 You can call this [endpoint](#operation/Exports_LastExportStatus) to get the execution status of your export you just created.",
        "operationId": "Exports_Export",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "export",
            "in": "body",
            "description": "Informations about the export.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportModel"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/exports/repositories": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Method to get your repositories (sftp accounts)",
        "description": "If you don't want to use mindbaz sftp account as export output, you can ask customer service to add your own sftp account to mindbaz.\r\n             You can get your SFTP account ID with this endpoint and use it in the Post Method (IdRepository parameter) to create an new export job.",
        "operationId": "Exports_repositories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfRepository[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/exports/subscribers/{idExport}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Method to get complete subscriber export informations",
        "operationId": "Exports_ExportById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idExport",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfExportJob"
            }
          }
        }
      }
    },
    "/api/{idsite}/exports/subscribers/lastState": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Method to get the execution state of the last created subscriber export",
        "operationId": "Exports_LastExportStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfExportState"
            }
          }
        }
      }
    },
    "/api/{idsite}/exports/subscribers/state": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Method to get the execution state of a subscriber export",
        "operationId": "Exports_ExportStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idExport",
            "in": "query",
            "description": "id of the export job. If the job does not exist, the result will be a null object.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfExportState"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/{idTarget}/field": {
      "get": {
        "tags": [
          "Field Filter"
        ],
        "summary": "Retrieves the filter by field of a target by its identifier",
        "description": "Returns a TargetFieldFilter object describing subscriber field operations.\r\n            If the target has no filter by field, the returned object will have its filter param to null",
        "operationId": "TargetFilters_GetTargetFieldFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idTarget",
            "in": "path",
            "description": "Target identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfTargetFieldFilter"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/field": {
      "post": {
        "tags": [
          "Field Filter"
        ],
        "summary": "Sets a filter by field to a specified target",
        "description": "If the target already has a filter by field, the old one will be automatically replaced.",
        "operationId": "TargetFilters_SetTargetFieldFilter",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fieldFilters",
            "in": "body",
            "description": "Filter by field",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetFieldFilter"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/fields/list": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Method for retrieving the subscriber field list",
        "description": "the result is the same as the field management page. It is an array of Field object.",
        "operationId": "Fields_GetAllFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Optional, field type to retrieve",
            "required": false,
            "type": "string",
            "default": "Unspecified",
            "enum": [
              "Unspecified",
              "Text",
              "Integer",
              "Date",
              "List",
              "Boolean"
            ]
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfField[]"
            }
          }
        }
      }
    },
    "/api/{idsite}/fields/quota": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Method for retrieving the number of custom fields created",
        "description": "This corresponds to the number of fields whose ID is greater than 100.\r\n            ⚠️ The maximum number of fields you can create is by default 50",
        "operationId": "Fields_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfFieldsQuota"
            }
          }
        }
      }
    },
    "/api/{idsite}/Fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Method for retrieving specific subscriber field list",
        "operationId": "Fields_GetByIdFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idFields",
            "in": "query",
            "required": true,
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfField[]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Fields"
        ],
        "summary": "Method to modify a field in the main subscriber table",
        "description": "If the field id does not exist, a null object is returned. Otherwise, the updated field object is returned.\r\n⚠️ You can't modify a system field (id &lt; 100) !\r\n📝 You can change only the parameter you want to update. But if you want to change the fieldType to \"List\", you must provide a \"List\" value too.\r\nAnd if you want to change the fieldType to \"Text\", you must provide a \"Length\" value too.\r\n⚠️ Beware, if you change the field type, the field values will be emptied!\r\n⚠️ **Please do not call this method too often. The processing to modify a field type can be long, especially if the subscribers table is large! In addition, it is not recommended to modify the type of a field if a sending or import is in progress.**",
        "operationId": "Fields_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "field",
            "in": "body",
            "description": "Field to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Field"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfField"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fields"
        ],
        "summary": "Creates a new field in the main subscriber table",
        "description": "The new field id is created automaticaly (with the max ID + 1). So you don't to pass the id to the Post method.\r\n            On the other hand, the mandatory parameters are the Name and the FieldType\r\n            And if you create a new \"List\" field, you must provide a \"List\" value too.\r\n            And if you create a new \"Text\" field, you must provide a \"Length\" value too.\r\n            💡 It is recommended to choose a unique name (but not required).\r\n            The newly created field object is returned by the post method.",
        "operationId": "Fields_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "description": "Field to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Field"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfField"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/{idTarget}/file": {
      "get": {
        "tags": [
          "File Filter"
        ],
        "summary": "Retrieves the filter by file of a target by its identifier",
        "operationId": "TargetFilters_GetTargetFileFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idTarget",
            "in": "path",
            "description": "Target identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfTargetFileFilter"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/file": {
      "post": {
        "tags": [
          "File Filter"
        ],
        "summary": "Sets a filter by file to a specified target.",
        "description": "If the target already has a filter by file, the old one will be automatically replaced.",
        "operationId": "TargetFilters_SetTargetFileFilter",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fileFilter",
            "in": "body",
            "description": "Filter by file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetFileFilter"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/{idTarget}/geoloc": {
      "get": {
        "tags": [
          "Geoloc Filter"
        ],
        "summary": "Retrieves the filter by geoloc of a target by its identifier",
        "operationId": "TargetFilters_GetTargetGeolocFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idTarget",
            "in": "path",
            "description": "Target identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfTargetGeolocFilter"
            }
          }
        }
      }
    },
    "/api/{idsite}/targetfilters/geoloc": {
      "post": {
        "tags": [
          "Geoloc Filter"
        ],
        "summary": "Sets a filter by geoloc to a specified target.",
        "operationId": "TargetFilters_SetTargetGeolocFilter",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "geolocFilter",
            "in": "body",
            "description": "Filter by geoloc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetGeolocFilter"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/imports/{idImport}": {
      "get": {
        "tags": [
          "Imports"
        ],
        "summary": "Retrieves an import by its identifier",
        "operationId": "Imports_GetByIdImport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idImport",
            "in": "path",
            "description": "Import identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfImport"
            }
          }
        }
      }
    },
    "/api/{idsite}/imports/scheduleNow": {
      "post": {
        "tags": [
          "Imports"
        ],
        "summary": "Create and schedules an import in Current time + 2 minutes.",
        "operationId": "Imports_ScheduleImportNow",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "import",
            "in": "body",
            "description": "Import to schedule\r\n             📝 You must only provide values for the mandatory parameter named \"parameters\"",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Import"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfImport"
            }
          }
        }
      }
    },
    "/api/{idsite}/imports/scheduleOnce": {
      "post": {
        "tags": [
          "Imports"
        ],
        "summary": "Create and schedules an import for an exact date.",
        "operationId": "Imports_ScheduleImportOnce",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "import",
            "in": "body",
            "description": "Import to schedule\r\n             📝 You must only provide values for mandatory parameters named \"parameters\" and \"schedulingInfos\"",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportOnceModel"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfImportOnceModel"
            }
          }
        }
      }
    },
    "/api/{idsite}/imports/{idImport}/stop": {
      "put": {
        "tags": [
          "Imports"
        ],
        "summary": "Stops an import in progress or cancels a scheduled import.",
        "operationId": "Imports_StopImport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idImport",
            "in": "path",
            "description": "import ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/Imports": {
      "get": {
        "tags": [
          "Imports"
        ],
        "summary": "Lists all imports scheduled or terminated during the last 15 days",
        "operationId": "Imports_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.sortBy",
            "in": "query",
            "description": "Field on which to sort the results",
            "required": true,
            "type": "string",
            "enum": [
              "ID",
              "IdImportState",
              "ImportState",
              "Author"
            ]
          },
          {
            "name": "filter.order",
            "in": "query",
            "description": "Sort direction",
            "required": true,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "Starting line number for pagination (starts at 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.limit",
            "in": "query",
            "description": "Number of lines to retrieve (50 by default)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfPagedResultsListOfImportListItem"
            }
          }
        }
      }
    },
    "/api/{idsite}/OneShot": {
      "post": {
        "tags": [
          "OneShot"
        ],
        "summary": "Method for sending a campaign email to a single subscriber.",
        "operationId": "OneShot_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/octet-stream",
          "multipart/form-data",
          "application/pdf"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Informations about the sending. The subscriber can be found from his hash (using the subscriberMD5 field), his identifier (SubscriberId) or his client identifier (ClientId)(",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OneShotData"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfString"
            }
          }
        }
      }
    },
    "/api/{idsite}/pictures/{idPicture}": {
      "put": {
        "tags": [
          "Pictures"
        ],
        "summary": "Rename a picture.",
        "operationId": "Pictures_Put",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idPicture",
            "in": "path",
            "description": "Picture id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "newName",
            "in": "body",
            "description": "New picture name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pictures"
        ],
        "summary": "Add a picture from the html builder.",
        "operationId": "Pictures_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idPicture",
            "in": "path",
            "description": "Picture id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/pictures/frombuilder": {
      "post": {
        "tags": [
          "Pictures"
        ],
        "summary": "Add a picture from the html builder.",
        "operationId": "Pictures_AddFromBuilder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfPicture"
            }
          }
        }
      }
    },
    "/api/{idsite}/pictures/directory": {
      "put": {
        "tags": [
          "Pictures"
        ],
        "summary": "Method used to update a picture directory",
        "operationId": "Pictures_UpdateDirectory",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Directory to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDirectory"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pictures"
        ],
        "summary": "Method used to create a picture directory or sub-directory",
        "operationId": "Pictures_CreateDirectory",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "directory",
            "in": "body",
            "description": "Directory to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDirectory"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfInt32"
            }
          }
        }
      }
    },
    "/api/{idsite}/pictures/directory/{id}": {
      "delete": {
        "tags": [
          "Pictures"
        ],
        "summary": "Method used to delete a picture directory",
        "operationId": "Pictures_DeletePictureDirectory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Picture directory id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfBoolean"
            }
          }
        }
      }
    },
    "/api/{idsite}/Pictures": {
      "get": {
        "tags": [
          "Pictures"
        ],
        "summary": "Retrieve a list of pictures by filter",
        "operationId": "Pictures_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.location",
            "in": "query",
            "description": "Place to search configurations",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "MyFavorites",
              "MyCreated",
              "Archives"
            ]
          },
          {
            "name": "filter.name",
            "in": "query",
            "description": "Name to search",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.fileName",
            "in": "query",
            "description": "File name to search",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.sortBy",
            "in": "query",
            "description": "Field on which to sort the results",
            "required": true,
            "type": "string",
            "enum": [
              "Name",
              "Id",
              "LastUpdate",
              "Author",
              "RandomMode",
              "PictureSize",
              "FileName"
            ]
          },
          {
            "name": "filter.order",
            "in": "query",
            "description": "Sort direction",
            "required": true,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "Starting line number for pagination (starts at 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.limit",
            "in": "query",
            "description": "Number of lines to retrieve (50 by default)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfPagedResultsListOfPicture"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pictures"
        ],
        "summary": "Upload a picture with the specified informations.",
        "operationId": "Pictures_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "picture",
            "in": "body",
            "description": "Picture to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfPicture"
            }
          }
        }
      }
    },
    "/api/{idsite}/pregeneration/{idSent}": {
      "post": {
        "tags": [
          "PreGeneration"
        ],
        "summary": "Method for pre-generating a HTML content.",
        "operationId": "PreGeneration_PregenByidSent",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idSent",
            "in": "path",
            "description": "Sent identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "html",
            "in": "body",
            "description": "Html content to transform",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfString"
            }
          }
        }
      }
    },
    "/api/{idsite}/pregeneration": {
      "post": {
        "tags": [
          "PreGeneration"
        ],
        "summary": "Method for pre-generating a HTML content.",
        "operationId": "PreGeneration_Pregen",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "query",
            "description": "Campaign identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idSent",
            "in": "query",
            "description": "Sent identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idJob",
            "in": "query",
            "description": "Job identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
            "schema": {
              "$ref": "#/definitions/ServiceResultOfString"
            }
          }
        }
      }
    },
    "/api/{idsite}/segments/{idCampaign}": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "Retrieves all the segments of a campaign.",
        "operationId": "Segments_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCampaign",
            "in": "path",
            "description": "Campaign identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idsite",
            "in": "path",
            "description": "database identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK [see RESPONSE SCHEMA]",
[...]
