openapi: 3.2.0
info:
  version: 2.1.0
  title: Sinch Engage
  termsOfService: https://www.sinch.com/legal/terms-and-conditions/
  contact:
    name: Sinch Engage Support
    email: support@app.sinch.com
    url: https://support.app.sinch.com/hc/en-us/categories/10516535548943-Sinch-Engage-Developer-Guides
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: ./logo.png
  description: |
    # Introduction
    The Sinch APIs provide powerful business messaging capabilities across sending, receiving, and processing SMS, MMS, and rich messaging. 

    All requests to the Sinch REST API must be authenticated, this can either be done using Basic Authentication or by signing with a HMAC signature.



    # Base URI
      
    The API uses the following base URI

    For EU instance please use https://eu.app.api.sinch.com

    For APAC instance, use https://au.app.api.sinch.com

    For US instance, use https://us.app.api.sinch.com

    # Credentials
      
    To access the API, an API key and secret are required.
      
    [Sign up for a developer account here to get access](https://support.app.sinch.com/hc/en-us/categories/10516535548943-Sinch-Engage-Developer-Guides)

    # Features
    ###  De-Duplication 
    De-Duplication helps you avoid having to undertake data cleansing before commencing send outs.  
    It automatically detects and withholds messages deemed to be duplicates through the use of a 24-hour window – if a message is sent to the same number with the same content within a 24hr period, the subsequent message(s) will be withheld and rejected. To enable this, you don't need to make any changes to your application, just an account configuration change by Sinch's support team.

    ###  Social Sending 
    Social Sending permits messages to be sent only during sociable hours - i.e. 8am to 6pm (based on your accounts local time zone - not local time). 
    Messages sent outside of these hours are scheduled to be released during the next social time period. This feature helps businesses avoid send-outs during a time that would be deemed unsuitable by the customer. To enable this, you don't need to make any changes to your application, just an account configuration change by Sinch's support team.

    ###  Familiar Sender
    Familiar Sender ensures all communication sent to a customer are from the same phone number. 
    This allows businesses to build trust and familiarity with their customers and not confuse them by changing outgoing numbers. To enable this, you don't need to make any changes to your application, just an account configuration change by Sinch's support team.

    ### Character Converter
    Characters in a message may not always fall within the GSM-7 supported character set, and when this occurs all 
    outbound messages will be encoded using UCS-2 leading to the customer being double-charged for the SMS. Character Converter 
    can help you avoid being double-charged for your SMS by converting all characters into the GSM-7 format ensuring you always 
    get the maximum characters into an SMS. Bear in mind, this will downgrade all your unicode characters so for instance, 
    your emojis will be translated into a string of unknown characters (eg: �).  To enable this, you don't need to make any 
    changes to your application, just an account configuration change by Sinch's support team.

    # AI Integration
    Agent-readable copies of this reference are published on every docs build, so they never drift from the documentation you are reading. Nothing here needs an API key.

    * [llms.txt](https://developers.app.sinch.com/llms.txt) — a curated, token-budgeted index of the whole API. Point your tool here first.

    * [llms-full.txt](https://developers.app.sinch.com/llms-full.txt) — every reference and guide page inlined in one file, for when you want the whole corpus in context.

    * Per-page Markdown — one clean `.md` per operation, for example `https://developers.app.sinch.com/docs/api/messages/send-messages.md`. Use View as Markdown / Copy for LLM beside any section heading to grab just that page.

    * [openapi.yaml](https://developers.app.sinch.com/openapi.yaml) and [openapi.json](https://developers.app.sinch.com/openapi.json) — the machine-readable contract, authoritative for schemas and limits.

    Every page declares these artifacts in its `<head>` using `rel="describedby"` (the llms.txt v2 discovery relation) and `rel="alternate"`, and this specification's root `externalDocs` points at the curated index, so a crawler does not need to hard-code the paths.

    Setup instructions for Claude Code, Cursor, ChatGPT, and Perplexity, plus the versioning conventions, are in the [AI Integration guide](https://developers.app.sinch.com/docs/guides/ai-integration.md).
servers:
  - url: https://eu.app.api.sinch.com
    description: EU instance
    name: EU
  - url: https://au.app.api.sinch.com
    description: APAC instance
    name: APAC
  - url: https://us.app.api.sinch.com
    description: US instance
    name: US
tags:
  - name: Basic Authentication
    kind: nav
    description: |-

      Every request requires an `Authorization` header in the following format:
      ```plain
      Authorization: Basic Base64(api_key:api_secret)
      ```
      Where the header consists of the Basic keyword followed by your Basic Authentication `api_key` and `api_secret` that you have been supplied by support, separated with a colon (:) which is then Base64 encoded.
      ### Example request with Basic Authentication
      ```plain
      POST /v1/messages HTTP/1.1
      Host: eu.app.api.sinch.com
      Accept: application/json
      Content-Type: application/json
      Authorization: Basic dGhpc2lzYWtleTp0aGlzaXNhc2VjcmV0Zm9ybW1iYXNpY2F1dGhyZXN0YXBp
      {
        "messages": [
          {
            "content": "Hello World",
            "destination_number": "+61491570156",
            "format": "SMS"
          }
        ]
      } 
      ```
      _Note: spaces are used as indentation in the body of the above request._
  - name: HMAC Authentication
    kind: nav
    description: |-

      Every request requires an `Authorization` header in the following formats:
      For a request with a request body:
      ```plain
      Authorization: hmac username="<API KEY>", algorithm="hmac-sha256", headers  ="Date Content-MD5 request-line", signature="<SIGNATURE>"
      ```

      For a request _without_ a request body:

      ```plain
      Authorization: hmac username="<API KEY>", algorithm="hmac-sha256", headers="Date request-line", signature="<SIGNATURE>"
      ```
      ### To create this header
      #### Step 1
      Add a `Date` header to the request using the current date time in [RFC7231 Section 7.1.1.2](http://tools.ietf.org/html/rfc7231#section-7.1.1.2) format
      #### Step 2
      If the request has a body, add a header called `Content-MD5` where the value of this header is an MD5 hash of the request body, otherwise this header is not required
      #### Step 3
      Create a signing string by concatenating the `Date` header, the
      `Content-MD5` header (if set) and the request line with line breaks:
      ```plain
      Date: Sat, 30 Jul 2016 05:13:23 GMT\nContent-MD5: 10fd4feab20d38432480c07301e49616\nPOST /v1/messages HTTP/1.1
      ```
      or
      ```plain
      Date: Sat, 30 Jul 2016 05:13:23 GMT\nGET /v1/messages/404b941b-2a29-469f-b114-9ea3e16bbe18 HTTP/1.1
      ```
      #### Step 4
      Create a SHA256 HMAC hash using the signing string and the secret key (both converted to bytes using UTF-8) ```HMAC-SHA256(signing string, secret)```
      #### Step 5
      Base64 encode the HMAC hash and include it as the signature in the ```Authorization``` header
      ### Example request with body
      ```plain
      POST /v1/messages HTTP/1.1
      Host: eu.app.api.sinch.com
      Accept: application/json
      Content-Type: application/json
      Date: Sat, 30 Jul 2016 05:18:52 GMT
      Authorization: hmac username="uCXUdoogNfCsehEClbO2", algorithm="hmac-sha256", headers="Date Content-MD5 request-line", signature="Ia4G5lkhH/3NDYpix+8ZHUnp6bA="
      Content-MD5: 5407644fa83bec240dede971307e0cad
      Content-Length: 133
      {
        "messages": [
          {
            "content": "Hello World",
            "destination_number": "+61491570156",
          "format": "SMS"
          }
        ]
      }
      ```
      _Note: spaces are used as indentation in the body of the above request._
      ### Example request without body
      ```plain
      GET /v1/messages/404b941b-2a29-469f-b114-9ea3e16bbe18 HTTP/1.1
      Host: eu.app.api.sinch.com
      Accept: application/json
      Date: Sat, 30 Jul 2016 05:18:52 GMT
      Authorization: hmac username="uCXUdoogNfCsehEClbO2", algorithm="hmac-sha256", headers="Date request-line", signature="NTUwMjUwNTVmZGYzZTIxODMyYjc1ZmM3M2EwZWQ1NzA3NzA4ZTZjNw==" ```
  - name: Sub-accounts
    kind: nav
    description: |
      ## Performing actions on behalf of sub-accounts
      Using API keys at the parent account level, you can perform actions on behalf of a sub-account. 

      This feature is supported by the Messages, Replies, Delivery Reports and Webhooks APIs. 

      To do this
        include a header key ```Account``` with the sub-account ID as the value. For example:
        ```Account: mySubAccount```

        **Example request with Sending from sub-accounts**

        ```plain
        POST /v1/messages HTTP/1.1
        Host: eu.app.api.sinch.com
        Accept: application/json
        Content-Type: application/json
        Authorization: Basic dGhpc2lzYWtleTp0aGlzaXNhc2VjcmV0Zm9ybW1iYXNpY2F1dGhyZXN0YXBp
        Account: SubAccount
        {
          "messages": [
            {
              "content": "Hello World",
              "destination_number": "+61491570156",
              "delivery_report": true
            }
          ]
        } 
        ```
  - name: Messages
    description: |-
      The Sinch Messages API provides a number of endpoints for building powerful two-way messaging applications. The Messages API provides access to three main resources:
      * Messages - Messages delivered from an application to a handset.
      * Delivery Reports - Real time reports on the delivery status of a message. As a message is processed, it's status may change several times before it is finally delivered to a handset.
      * Replies - Messages sent from a handset to an application. These messages are typically a reply to a previously sent message.
      ![Message Flow](./message-flow.png)
  - name: Source Address
    description: |
      The source address API provides several endpoints for you to request an SMS sender ID and track its approval status.

      ### Sender address request vs sender address

      This API uses two different resources, each with its own UUID:

      | | Sender address **request** | Approved sender **address** |
      |---|----------------------------|-----------------------------|
      | What it is | Your registration / verification application | The approved sender ID on your account |
      | Path | `/v1/messaging/numbers/sender_address/requests` | `/v1/messaging/numbers/sender_address/addresses` |
      | `id` returned by | **Request a Sender Address** (`POST .../requests`) | **Get all approved sender addresses** (`GET .../addresses`) |
      | Use that `id` for | Get request status, submit a verification code | Get, update, re-verify, or **delete** the sender |

      The request `id` and the address `id` are **not the same**. After a sender is approved, call **Get all approved sender addresses** to obtain the address `id` before deleting or managing it. Using the request `id` on address endpoints (for example delete) returns `404 Not found`.

      **What is Trusted Sender ID?**

      Simply put, a sender ID is whatever you send a text message from. This is typically either a phone number, or a string of alphanumeric characters (commonly referred to as an "Alpha Tag").

      With regulations surrounding SMS becoming much stricter all over the world in an effect to combat scam SMS messages, Sinch is working on "Trusted Sender ID" a concept that allows customers to request a Sender ID and have it verified.

      Currently, Trusted Sender ID supports two types of Sender ID: Alpha Tags and Personal ("Own") Numbers. It will likely be extended to support additional number types, such as TFN and 10DLC where additional registration, (external) verification, and overall account allowlist of numbers will be required.

      ### Alpha Tag
        Sending messages from your brand name is particularly ideal for SMS marketing and two-factor authentication, as it increases recognition and trust. There are, however, a few considerations to be aware of. 
        
        Alpha tags are made up of 3-11 letters and/or numbers. Alpha tags must be registered and approved before sending and must have clear relevancy to your business and/or use case.
        
        Alpha Tags appear as the "From" number when you receive messages.
        
        A good alpha tag meets at least one of the following valid use cases: 
        * Business names
        * Trademark names    
        * Product or service name
        * an acronym, initialism, or contraction of your entity
        
        In addition to the requirements around clearly relating to the business, we typically advise the following for alpha tags to ensure maximum compatibility with the various carriers:
        * 6-11 characters long
        * Only contains characters from the following sets:
        * A-Z
        * a-z
        * 0-9
        * _ (underscore)
        * \- (hyphen)
        
        Alpha Tags can currently be registered through the Source Address API for the following countries: ```AD```, ```AI```, ```AL```, ```AS```, ```AT```, ```AU```, ```AW```, ```BA```, ```BB```, ```BH```, ```BW```, ```CD```, ```CH```, ```CK```, ```CY```, ```DE```, ```DJ```, ```DK```, ```DM```, ```EE```, ```ES```, ```FI```, ```FJ```, ```FM```, ```FO```, ```FR```, ```GB```, ```GD```, ```GG```, ```GI```, ```GL```, ```GM```, ```GQ```, ```GR```, ```GY```, ```IL```, ```IM```, ```IS```, ```JE```, ```JM```, ```JP```, ```KI```, ```KY```, ```LA```, ```LI```, ```LS```, ```LT```, ```LU```, ```LV```, ```MC```, ```ME```, ```MH```, ```MO```, ```MR```, ```MS```, ```MT```, ```MV```, ```NC```, ```NF```, ```NL```, ```NO```, ```NR```, ```NU```, ```PF```, ```PM```, ```PT```, ```SB```, ```SC```, ```SE```, ```SH```, ```SL```, ```SM```, ```ST```, ```TC```, ```TD```, ```TO```, ```VC```, ```VG``` and ```WS```
        
        To register an Alpha Tag as a sender ID you must:
        1. Make a request to the **Request a Sender Address** endpoint
        2. Wait for the alpha tag to be approved. The status of the alpha tag can be monitored using the **Get status of a sender address request** endpoint
        
        Once the alpha tag has been approved, you can begin using it as a Sender ID for SMS messages.

        ### Personal Number
        A personal number, or "My Own Number", is a number that you own rather than one provided to you by Sinch. Typically, this is your personal mobile phone number. You may wish to register this number for use with our service so that you can easily send messages from a number already associated with your organisation.
        
        Before you can send messages using your own number, you need to verify that you have a right to use that number. Ensuring you have a right to use a phone number is an important regulatory requirement, aiming to prevent scam, spam, and misuse of messaging services.

        Personal numbers can currently be registered through the Source Address API for the following countries: ```AT```, ```AU```, ```CH```, ```CY```, ```DE```, ```DK```, ```EE```, ```ES```, ```FI```, ```GB```, ```HR```, ```IE```, ```IT```, ```LT```, ```LU```, ```LV```, ```MT```, ```NL```, ```NO```, ```PT```, ```SE```, and ```SI```

        To register a personal number as a Sender ID you must:
        1. Make a request to the **Request a Sender Address** endpoint (store the **request** UUID for verification)
        2. A unique verification code will be sent to the requested number
        3. Make a request to the **Submitting a Verification Code** endpoint, using the verification code that was sent in the previous step. A 200 OK response will indicate the number has been verified and is ready for use.
        4. To delete or manage the sender later, call **Get all approved sender addresses** and use the **address** UUID from that response (different from the request UUID in step 1).

        ⚠️ Own numbers need to be re-verified every 12 months. You will be notified by email that verification of your number is about to expire.

        ### Requesting a Source Address on behalf of a sub-account
        By default, all requests made through the API are made on behalf of the account that the API keys used to authorize the request were made on. API keys created on a parent account can request a source address on behalf of a sub-account. To do this, include a header key ```Account``` with the sub-account ID as the value. For example: 
        ```Account: mySubAccount```

        **Example request with Request a Sender Address from a sub-account**
        ```plain
        POST /v1/messaging/numbers/sender_address/requests HTTP/1.1
        Host: eu.app.api.sinch.com
        Accept: application/json
        Content-Type: application/json
        Authorization: Basic dGhpc2lzYWtleTp0aGlzaXNhc2VjcmV0Zm9ybW1iYXNpY2F1dGhyZXN0YXBp
        Account: mySubAccount
        {
          "sender_address": "+61341234131",
          "sender_address_type": "INTERNATIONAL",
          "usage_type": "OWN_NUMBER",
          "destination_countries": [
              "AU"
          ],
          "reason": "I confirm that my business has a valid use case",
          "label": "my number sample"
        } 
        ```
        *Note: The use of the Account header key applies to all Source Address endpoints.*
  - name: Delivery Reports
    description: |
      If a callback URL is specified in the submit message request, then changes to the message status, 
      replies received in response to the message or delivery reports received for the message will be pushed via a HTTP POST request. An alternative to delivery reports via a callback URL is custom webhooks using the webhooks management API. 

      All notifications are JSON encoded and the request expects to receive a response in the HTTP 200 range. If a valid response isn't received the request will be retried in an exponentially backing off fashion.

      Delivery Reports may carry an additional charge. For pricing, please contact your Account Manager or Support Team (<support@app.sinch.com>).

      To include billing units in your delivery receipts via Webhooks, ensure that the switch "Enable billing units in Delivery Reports and Callbacks" is enabled in the API settings of your account.

      For delivery reports or changes in the status of a message, the POST request to the specified URL will be as follows:
        
        _Note, multiple delivery report notifications will be received for a single message._

      ```javascript
      {
        "callback_url":"http://mockbin.org/bin/ac52ebd4-eca1-4c86-bf38-4dce79633906",
        "delivery_report_id":"693e87f2-a553-4281-9ffe-ddf04cbc4bf3",
        "source_number":"+61491570156",
        "date_received":"2016-11-03T11:49:02.807Z",
        "status":"delivered",
        "delay":0,
        "billing_units":1,
        "submitted_date":"2016-11-03T11:49:01.551Z",
        "original_text":"Hello world!",
        "message_id":"389dc1a8-62a4-4110-ba61-af94806c006f",
        "vendor_account_id":{
          "vendor_id":"SinchEU",
          "account_id":"MyAccount"
        },
        "error_code":"220",
        "metadata":{
          "key":"value"
        }
      }
      ```


      The properties included in the notification are as follows:

      * **Callback URL**: The URL specified as the callback URL in the original submit message request.

      * **Delivery Report ID**: A unique ID for the delivery report that this notification represents.

      * **Source Number**: The destination address of the original message.

      * **Date Received**: The date and time at which this notification was generated in UTC.

      * **Status**: The status of the message as indicated by this delivery report. The status field can be one of the following values:

        * `enroute`: Message has been received by the gateway and is being processed (or waiting to be processed).

        * `submitted`: Message has been submitted to a provider/carrier for delivery.

        * `delivered`: Message delivery has been confirmed by the provider, including to the handset (where possible).

        * `expired`: The message has expired.

        * `rejected`: The message will not be delivered - permanent failure. Reasons may include usage limit exceeded, insufficient credit, number blocked, or content filtered

        * `failed`: The message has failed. Reasons may include no active routes to destination or undeliverable by downstream provider.

      * **Delay**: _Deprecated, no longer in use_

      * **Billing Units**: The number of billing units charged for the message.

      * **Submitted Date**: Date time status of the message changed in UTC. For a delivered DR this may indicate the time at which the message was received on the handset.

      * **Original Text**: Text of the original message.

      * **Message ID**: ID of the original message.

      * **Vendor Account ID**: The account used to submit the original message. The vendor will always be `SinchEU`

      * **Error Code**: A status code which provides additional information about the message status:

        * `101`: Message being processed by the gateway.
        
        * `102`: Message is being rerouted to a different provider after failing via the first provider.
        
        * `151`: Message held for screening.
        
        * `200`: Message submitted to downstream provider for delivery.
        
        * `210`: Message accepted by downstream provider.
        
        * `211`: Message is enroute for delivery by provider.
        
        * `212`: Message submitted. Delivery pending.
        
        * `213`: Message scheduled for delivery by downstream provider.
        
        * `220`: Message delivered.
        
        * `221`: Message delivered to the handset.
        
        * `320`: Message validity period has expired (prior to submission).
        
        * `401`: Message validity period has expired (before delivery).
        
        * `301`: Usage threshold reached. Message discarded.
        
        * `302`: Destination address blocked. Message discarded.
        
        * `303`: Source address blocked. Message discarded.
        
        * `304`: Message dropped. Contact support.
        
        * `305`: Message discarded due to duplicate detection.
        
        * `402`: Message rejected by downstream provider.
        
        * `403`: Message skipped by downstream provider.
        
        * `410`: Invalid source address.
        
        * `411`: Invalid destination address.
        
        * `412`: Destination address blocked.
        
        * `413`: SMS service unavailable on destination.
        
        * `414`: Destination unreachable.
        
        * `330`: Gateway failure.
        
        * `331`: Message discarded.
        
        * `332`: No available route to destination.
        
        * `333`: Source address unsupported for this destination.
        
        * `400`: Message failed; undeliverable.
        
        * `405`: Message cancelled or deleted by provider.
  - name: Replies
    description: Endpoints for checking and confirming inbound message replies (MO) received by your account.
  - name: Number Authorisation
    description: |-
      The number authorisation API allows you to manage your blacklists. Sinch automatically adds numbers to your blacklist if people send one of the opt-out keywords in response to one of your messages.
      This is a legal requirement. If you decide to handle the legal compliance yourself, calls to this endpoint will not affect your messages.
  - name: Dedicated Numbers
    description: "The Numbers API allows your to purchase, provision and configure the dedicated numbers assigned to your Sinch account. \n\nTo learn more about the benefits of dedicated numbers, and their use cases,\_visit our [feature page](https://support.app.sinch.com/hc/en-us/articles/10526389880207-Dedicated-numbers).\n\nThis is a paid feature and must be enabled on your account. Please contact [support@app.sinch.com](mailto:support@app.sinch.com) or your account manager.\n\n## Concepts\n\nThis API allows you to purchase and assign to your account a number from a pool of dedicated numbers. Dedicated numbers are priced differently according to their classification.\n\nThe following is the system by which we classify dedicated numbers. \n\n| Pattern Type | Gold|  Silver |\n|---|---|---|\n| Same Number  |  Six of same (e.g. 999999) | Five of same (e.g. 999991 or 199999)  | \n| Sequence  |  Six in sequence (e.g. 234567, or 765432) | Five in sequence (e.g. 245678, 456782, or 287654)  |\n|  Triplets |  Two identical (e.g. 123123) or two double (e.g. 444666) | Identical pairs within triplets (e.g. 004008, or 400800), one identical and one in sequence (e.g. 444789, or 345777), or mirror image (e.g. 468864)| \n|Pair|Three identical (e.g. 454545)|Three non-identical (e.g. 447700) or three in sequence (e.g. 232425, or 090807)|\n\nAny numbers that do not meet the criteria for Gold or Silver are classified as Bronze.\n\nFor pricing on dedicated numbers please refer to the Numbers page in our Hub web portal, or speak with your Sinch Account Manager.\n"
  - name: Messaging Reports
    description: |
      The Sinch Reports API provides a number of endpoints for running reports of messages sent and received through
      a Sinch Account. The API allows two kinds of reports, _Detailed Reports_ and _Summary Reports_.

      Detailed reports list all messages and the details of each message sent or received in a specified time period. Summary reports allow inbound and outbound message data to be aggregated on a number of dimensions.
  - name: Short Trackable Links Reports
    description: |
      Short Trackable Links is a feature available to [Messaging API](https://support.app.sinch.com/hc/en-us/categories/10516535548943-Sinch-Engage-Developer-Guides) users whereby it automatically and seamlessly shortens any URL to just 22 characters. Every shortened URL is unique to each recipient.

      The reporting API has endpoints specific to 
      this feature, allowing users to obtain details regarding 
      the number of click-throughs on each URL.

      To enable this feature on your account, contact your account manager or contact support on [support@app.sinch.com](mailto:support@app.sinch.com).

      To learn more about the benefits of the Short Trackable Links feature, [visit our feature page](https://support.app.sinch.com/hc/en-us/articles/10525004171919-Short-Trackable-Links-URL-shortener).
  - name: Webhooks Management
    description: Webhooks Management API allows you to manage your webhooks configuration. You can subscribe to one or several events, retrieve the webhooks, update them or even delete them if needed. An account can have at most 150 webhooks. Creating another webhook is rejected with HTTP 400 when the account already has 150 or more.
  - name: Webhook Payloads
    description: Machine-readable request bodies for the webhook events you can subscribe to via Webhooks Management. These describe the default payload produced by the sample `template` shown on the Create webhook operation — the actual JSON structure sent to your `url` is fully controlled by the `template` you configure, so treat these as suggested defaults rather than a fixed contract.
  - name: Signature Key Management
    description: |
      As a Sinch customer, you want to be able to ensure that webhooks are coming from Sinch and not from a 3rd party. Since 
      these are calls to your own system, you should be provided with an extra level of security 
      when calling your resources.

      The Sinch Signature Key API provides a number of endpoints 
      for managing key used to sign each unique request to ensure security 
      and the requests can't (easily) be spoofed. This is similar to using 
      HMAC in your outbound messaging (rather than HTTP Basic).

      The Signature Key API provides seven main endpoints:
      - ```Create signature key``` Create a new signature key for signature verification in webhooks.
      - ```Get signature key detail``` Retrieve the current detail of a signature key using the key_id returned in the ```create signature key``` endpoint.
      - ```Delete signature key``` Delete a signature key using the key_id returned in the ```create signature key``` endpoint.
      - ```Get signature key list``` Retrieve the paginated list of signature keys.
      - ```Enable signature key``` Enable a signature key using the key_id returned in the ```create signature key``` endpoint.
      - ```Get enabled signature key``` Retrieve the current enabled signature key.
      - ```Disable an enabled signature key``` Disable the current enabled signature key.
  - name: Contacts
    description: |
      The API provides access to two main resources:

        * **Contacts**: Data associated with the individuals you need to contact.
        * **Lists**: Groups of contacts created for specific purposes.
        * **Custom Fields**: Additional fields that can be tailored to complement the basic contact fields.
  - name: Account Management
    description: |
      The Account Management API is for **reseller** accounts. It allows resellers to add and remove sub-accounts on their primary Sinch Engage account, and to manage Sinch Engage web portal users for those accounts.

      This is distinct from sending messages *on behalf of* an existing sub-account, which uses the `Account` header described in the [Sub-accounts](#tag/Sub-accounts) guide.

      The Account Management API provides three main endpoints:

      - ```Create a sub-account``` Create a new sub-account with an initial admin user.
      - ```Create users for an account``` Add a Sinch Engage user to an existing account.
      - ```Delete a sub-account``` Permanently delete a sub-account.
externalDocs:
  description: Agent-readable curated docs index (llms.txt)
  url: https://developers.app.sinch.com/llms.txt
paths:
  /v2-preview/reporting/messages/metakeys:
    post:
      security:
        - basic_auth: []
        - hmac_auth: []
      tags:
        - Messaging Reports
      summary: Metadata Keys
      description: Returns a list of metadata keys.
      operationId: PostMetadataKeys
      parameters: []
      requestBody:
        description: Request body.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/metakeyrequest"
      responses:
        "200":
          description: A list of metadata keys.
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/metakeyresponse"
        "400":
          description: Bad Request. Check the json response for more details on what went wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400response"
        "401":
          $ref: "#/components/responses/Unauthorized"
      x-codeSamples:
        - lang: curl
          label: curl
          source: |
            #!/usr/bin/env bash
            API_KEY="YOUR_API_KEY"
            API_SECRET="YOUR_API_SECRET"
            API_HOST="YOUR_API_HOST" # Set YOUR_API_HOST to the regional host from the servers section in the docs

            BODY=$(cat <<'EOF'
            {
              "page": 2,
              "page_size": 15,
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "accounts": [
                "Account1",
                "Account2"
              ]
            }
            EOF
            )

            # HMAC authentication is also supported instead of Basic
            BASIC_AUTH=$(printf '%s' "${API_KEY}:${API_SECRET}" | base64 | tr -d '\n')
            curl -sS -X POST "${API_HOST}/v2-preview/reporting/messages/metakeys" \
              -H "Authorization: Basic ${BASIC_AUTH}" \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -d "${BODY}"
        - lang: C#
          label: C#
          source: |
            using System;
            using System.Net.Http;
            using System.Net.Http.Headers;
            using System.Text;
            using System.Threading.Tasks;

            class Program
            {
                static async Task Main()
                {
                    var apiKey = "YOUR_API_KEY";
                    var apiSecret = "YOUR_API_SECRET";
                    var apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    var body = """
                    {
                      "page": 2,
                      "page_size": 15,
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "direction": "all",
                      "accounts": [
                        "Account1",
                        "Account2"
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    using var client = new HttpClient();
                    var credentials = Convert.ToBase64String(Encoding.UTF8.GetBytes($"{apiKey}:{apiSecret}"));
                    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", credentials);
                    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

                    var url = $"{apiHost}/v2-preview/reporting/messages/metakeys";
                    using var content = new StringContent(body, Encoding.UTF8, "application/json");
                    using var response = await client.PostAsync(url, content);
                    Console.WriteLine((int)response.StatusCode);
                    Console.WriteLine(await response.Content.ReadAsStringAsync());
                }
            }
        - lang: Java
          label: Java
          source: |
            import java.net.URI;
            import java.net.http.HttpClient;
            import java.net.http.HttpRequest;
            import java.net.http.HttpResponse;
            import java.nio.charset.StandardCharsets;
            import java.util.Base64;

            public class Sample {
                public static void main(String[] args) throws Exception {
                    String apiKey = "YOUR_API_KEY";
                    String apiSecret = "YOUR_API_SECRET";
                    String apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    String body = """
                    {
                      "page": 2,
                      "page_size": 15,
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "direction": "all",
                      "accounts": [
                        "Account1",
                        "Account2"
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    String auth = Base64.getEncoder().encodeToString((apiKey + ":" + apiSecret).getBytes(StandardCharsets.UTF_8));
                    String url = apiHost + "/v2-preview/reporting/messages/metakeys";
                    HttpClient client = HttpClient.newHttpClient();
                    HttpRequest.Builder builder = HttpRequest.newBuilder()
                        .uri(URI.create(url))
                        .header("Authorization", "Basic " + auth)
                        .header("Accept", "application/json");
                    builder.header("Content-Type", "application/json");
                    builder.method("POST", HttpRequest.BodyPublishers.ofString(body));
                    HttpResponse<String> response = client.send(builder.build(), HttpResponse.BodyHandlers.ofString());
                    System.out.println(response.statusCode());
                    System.out.println(response.body());
                }
            }
        - lang: JavaScript
          label: JavaScript
          source: |
            const apiKey = 'YOUR_API_KEY';
            const apiSecret = 'YOUR_API_SECRET';
            const apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            const body = {
              "page": 2,
              "page_size": 15,
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "accounts": [
                "Account1",
                "Account2"
              ]
            };

            // HMAC authentication is also supported instead of Basic
            const auth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');

            const response = await fetch(`${apiHost}/v2-preview/reporting/messages/metakeys`, {
              method: 'POST',
              headers: {
                Authorization: `Basic ${auth}`,
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(body),
            });

            console.log(response.status);
            console.log(await response.text());
        - lang: PHP
          label: PHP
          source: |
            <?php
            $apiKey = 'YOUR_API_KEY';
            $apiSecret = 'YOUR_API_SECRET';
            $apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            $body = [
              'page' => 2,
              'page_size' => 15,
              'start_date' => '2022-12-12T00:00:00.000z',
              'end_date' => '2022-12-14T00:00:00.000z',
              'direction' => 'all',
              'accounts' => [
                'Account1',
                'Account2'
              ]
            ];

            // HMAC authentication is also supported instead of Basic
            $url = $apiHost . '/v2-preview/reporting/messages/metakeys';
            $headers = [
                'Authorization: Basic ' . base64_encode($apiKey . ':' . $apiSecret),
                'Accept: application/json',
                'Content-Type: application/json',
            ];

            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');
            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($body));

            $response = curl_exec($ch);
            $status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
            curl_close($ch);

            echo $status, PHP_EOL;
            echo $response, PHP_EOL;
        - lang: Python
          label: Python
          source: |
            import base64
            import json
            import urllib.request

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST'  # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "page": 2,
              "page_size": 15,
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "accounts": [
                "Account1",
                "Account2"
              ]
            }

            # HMAC authentication is also supported instead of Basic
            auth = base64.b64encode(f'{api_key}:{api_secret}'.encode()).decode()
            url = f'{api_host}/v2-preview/reporting/messages/metakeys'
            headers = {
                'Authorization': f'Basic {auth}',
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }

            data = json.dumps(body).encode('utf-8')
            request = urllib.request.Request(url, data=data, headers=headers, method='POST')

            with urllib.request.urlopen(request) as response:
                print(response.status)
                print(response.read().decode())
        - lang: Ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'json'
            require 'base64'
            require 'uri'

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST' # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "page" => 2,
              "page_size" => 15,
              "start_date" => "2022-12-12T00:00:00.000z",
              "end_date" => "2022-12-14T00:00:00.000z",
              "direction" => "all",
              "accounts" => [
                "Account1",
                "Account2"
              ]
            }

            # HMAC authentication is also supported instead of Basic
            uri = URI.parse("#{api_host}/v2-preview/reporting/messages/metakeys")
            http = Net::HTTP.new(uri.host, uri.port)
            http.use_ssl = uri.scheme == 'https'

            request = Net::HTTP::Post.new(uri)
            request['Authorization'] = 'Basic ' + Base64.strict_encode64("#{api_key}:#{api_secret}")
            request['Accept'] = 'application/json'
            request['Content-Type'] = 'application/json'
            request.body = JSON.generate(body)

            response = http.request(request)
            puts response.code
            puts response.body
  /v2-preview/reporting/messages/detail:
    post:
      security:
        - basic_auth: []
        - hmac_auth: []
      tags:
        - Messaging Reports
      summary: Post detail report
      description: Generates a report listing all sent and/or received messages within a specified time period.
      operationId: PostDetailReport
      requestBody:
        description: Request body.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/detailrequest"
      responses:
        "200":
          description: A list of all messages received in the specified time window
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailresponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400response"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403response"
      x-codeSamples:
        - lang: curl
          label: curl
          source: |
            #!/usr/bin/env bash
            API_KEY="YOUR_API_KEY"
            API_SECRET="YOUR_API_SECRET"
            API_HOST="YOUR_API_HOST" # Set YOUR_API_HOST to the regional host from the servers section in the docs

            BODY=$(cat <<'EOF'
            {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "timezone": "Australia/Sydney",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "mms_media": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "page": 0,
              "page_size": 20
            }
            EOF
            )

            # HMAC authentication is also supported instead of Basic
            BASIC_AUTH=$(printf '%s' "${API_KEY}:${API_SECRET}" | base64 | tr -d '\n')
            curl -sS -X POST "${API_HOST}/v2-preview/reporting/messages/detail" \
              -H "Authorization: Basic ${BASIC_AUTH}" \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -d "${BODY}"
        - lang: C#
          label: C#
          source: |
            using System;
            using System.Net.Http;
            using System.Net.Http.Headers;
            using System.Text;
            using System.Threading.Tasks;

            class Program
            {
                static async Task Main()
                {
                    var apiKey = "YOUR_API_KEY";
                    var apiSecret = "YOUR_API_SECRET";
                    var apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    var body = """
                    {
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "direction": "all",
                      "timezone": "Australia/Sydney",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "Account1",
                        "Account2"
                      ],
                      "status": [
                        "DELIVERED"
                      ],
                      "opt_out": "true",
                      "mms_media": "true",
                      "message_format": [
                        "MMS",
                        "TTS"
                      ],
                      "channels": [
                        "SMS",
                        "WHATSAPP"
                      ],
                      "page": 0,
                      "page_size": 20
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    using var client = new HttpClient();
                    var credentials = Convert.ToBase64String(Encoding.UTF8.GetBytes($"{apiKey}:{apiSecret}"));
                    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", credentials);
                    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

                    var url = $"{apiHost}/v2-preview/reporting/messages/detail";
                    using var content = new StringContent(body, Encoding.UTF8, "application/json");
                    using var response = await client.PostAsync(url, content);
                    Console.WriteLine((int)response.StatusCode);
                    Console.WriteLine(await response.Content.ReadAsStringAsync());
                }
            }
        - lang: Java
          label: Java
          source: |
            import java.net.URI;
            import java.net.http.HttpClient;
            import java.net.http.HttpRequest;
            import java.net.http.HttpResponse;
            import java.nio.charset.StandardCharsets;
            import java.util.Base64;

            public class Sample {
                public static void main(String[] args) throws Exception {
                    String apiKey = "YOUR_API_KEY";
                    String apiSecret = "YOUR_API_SECRET";
                    String apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    String body = """
                    {
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "direction": "all",
                      "timezone": "Australia/Sydney",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "Account1",
                        "Account2"
                      ],
                      "status": [
                        "DELIVERED"
                      ],
                      "opt_out": "true",
                      "mms_media": "true",
                      "message_format": [
                        "MMS",
                        "TTS"
                      ],
                      "channels": [
                        "SMS",
                        "WHATSAPP"
                      ],
                      "page": 0,
                      "page_size": 20
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    String auth = Base64.getEncoder().encodeToString((apiKey + ":" + apiSecret).getBytes(StandardCharsets.UTF_8));
                    String url = apiHost + "/v2-preview/reporting/messages/detail";
                    HttpClient client = HttpClient.newHttpClient();
                    HttpRequest.Builder builder = HttpRequest.newBuilder()
                        .uri(URI.create(url))
                        .header("Authorization", "Basic " + auth)
                        .header("Accept", "application/json");
                    builder.header("Content-Type", "application/json");
                    builder.method("POST", HttpRequest.BodyPublishers.ofString(body));
                    HttpResponse<String> response = client.send(builder.build(), HttpResponse.BodyHandlers.ofString());
                    System.out.println(response.statusCode());
                    System.out.println(response.body());
                }
            }
        - lang: JavaScript
          label: JavaScript
          source: |
            const apiKey = 'YOUR_API_KEY';
            const apiSecret = 'YOUR_API_SECRET';
            const apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            const body = {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "timezone": "Australia/Sydney",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "mms_media": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "page": 0,
              "page_size": 20
            };

            // HMAC authentication is also supported instead of Basic
            const auth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');

            const response = await fetch(`${apiHost}/v2-preview/reporting/messages/detail`, {
              method: 'POST',
              headers: {
                Authorization: `Basic ${auth}`,
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(body),
            });

            console.log(response.status);
            console.log(await response.text());
        - lang: PHP
          label: PHP
          source: |
            <?php
            $apiKey = 'YOUR_API_KEY';
            $apiSecret = 'YOUR_API_SECRET';
            $apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            $body = [
              'start_date' => '2022-12-12T00:00:00.000z',
              'end_date' => '2022-12-14T00:00:00.000z',
              'direction' => 'all',
              'timezone' => 'Australia/Sydney',
              'source' => '+61555555555',
              'sources' => [
                '+61555555555',
                '+614987654321'
              ],
              'destination' => '+61555555555',
              'destinations' => [
                '+61555555555',
                '+614987654321'
              ],
              'metadata_key' => 'broadcastId',
              'metadata_value' => 'ABC',
              'metadata_values' => [
                'meta1',
                'meta2'
              ],
              'accounts' => [
                'Account1',
                'Account2'
              ],
              'status' => [
                'DELIVERED'
              ],
              'opt_out' => 'true',
              'mms_media' => 'true',
              'message_format' => [
                'MMS',
                'TTS'
              ],
              'channels' => [
                'SMS',
                'WHATSAPP'
              ],
              'page' => 0,
              'page_size' => 20
            ];

            // HMAC authentication is also supported instead of Basic
            $url = $apiHost . '/v2-preview/reporting/messages/detail';
            $headers = [
                'Authorization: Basic ' . base64_encode($apiKey . ':' . $apiSecret),
                'Accept: application/json',
                'Content-Type: application/json',
            ];

            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');
            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($body));

            $response = curl_exec($ch);
            $status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
            curl_close($ch);

            echo $status, PHP_EOL;
            echo $response, PHP_EOL;
        - lang: Python
          label: Python
          source: |
            import base64
            import json
            import urllib.request

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST'  # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "direction": "all",
              "timezone": "Australia/Sydney",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "mms_media": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "page": 0,
              "page_size": 20
            }

            # HMAC authentication is also supported instead of Basic
            auth = base64.b64encode(f'{api_key}:{api_secret}'.encode()).decode()
            url = f'{api_host}/v2-preview/reporting/messages/detail'
            headers = {
                'Authorization': f'Basic {auth}',
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }

            data = json.dumps(body).encode('utf-8')
            request = urllib.request.Request(url, data=data, headers=headers, method='POST')

            with urllib.request.urlopen(request) as response:
                print(response.status)
                print(response.read().decode())
        - lang: Ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'json'
            require 'base64'
            require 'uri'

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST' # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date" => "2022-12-12T00:00:00.000z",
              "end_date" => "2022-12-14T00:00:00.000z",
              "direction" => "all",
              "timezone" => "Australia/Sydney",
              "source" => "+61555555555",
              "sources" => [
                "+61555555555",
                "+614987654321"
              ],
              "destination" => "+61555555555",
              "destinations" => [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key" => "broadcastId",
              "metadata_value" => "ABC",
              "metadata_values" => [
                "meta1",
                "meta2"
              ],
              "accounts" => [
                "Account1",
                "Account2"
              ],
              "status" => [
                "DELIVERED"
              ],
              "opt_out" => "true",
              "mms_media" => "true",
              "message_format" => [
                "MMS",
                "TTS"
              ],
              "channels" => [
                "SMS",
                "WHATSAPP"
              ],
              "page" => 0,
              "page_size" => 20
            }

            # HMAC authentication is also supported instead of Basic
            uri = URI.parse("#{api_host}/v2-preview/reporting/messages/detail")
            http = Net::HTTP.new(uri.host, uri.port)
            http.use_ssl = uri.scheme == 'https'

            request = Net::HTTP::Post.new(uri)
            request['Authorization'] = 'Basic ' + Base64.strict_encode64("#{api_key}:#{api_secret}")
            request['Accept'] = 'application/json'
            request['Content-Type'] = 'application/json'
            request.body = JSON.generate(body)

            response = http.request(request)
            puts response.code
            puts response.body
  /v2-preview/reporting/messages/insights:
    post:
      security:
        - basic_auth: []
        - hmac_auth: []
      tags:
        - Messaging Reports
      summary: Post insight report
      description: Create report summary containing total number of sent, received and billing units, using pre-calculated data to improve performance.
      operationId: PostInsightReport
      requestBody:
        description: Request body.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/insightsrequest"
      responses:
        "200":
          description: A list of all messages received in the specified time window
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insightsresponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400response"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403response"
      x-codeSamples:
        - lang: curl
          label: curl
          source: |
            #!/usr/bin/env bash
            API_KEY="YOUR_API_KEY"
            API_SECRET="YOUR_API_SECRET"
            API_HOST="YOUR_API_HOST" # Set YOUR_API_HOST to the regional host from the servers section in the docs

            BODY=$(cat <<'EOF'
            {
              "start_date": "2022-12-12T01:01:01.001z",
              "end_date": "2022-12-14T01:01:01.001z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "account1",
                "account2"
              ],
              "status": [
                "DELIVERED",
                "ENROUTE"
              ],
              "opt_out": "true",
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "group_by": [
                "WEEK",
                "ACCOUNT"
              ]
            }
            EOF
            )

            # HMAC authentication is also supported instead of Basic
            BASIC_AUTH=$(printf '%s' "${API_KEY}:${API_SECRET}" | base64 | tr -d '\n')
            curl -sS -X POST "${API_HOST}/v2-preview/reporting/messages/insights" \
              -H "Authorization: Basic ${BASIC_AUTH}" \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -d "${BODY}"
        - lang: C#
          label: C#
          source: |
            using System;
            using System.Net.Http;
            using System.Net.Http.Headers;
            using System.Text;
            using System.Threading.Tasks;

            class Program
            {
                static async Task Main()
                {
                    var apiKey = "YOUR_API_KEY";
                    var apiSecret = "YOUR_API_SECRET";
                    var apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    var body = """
                    {
                      "start_date": "2022-12-12T01:01:01.001z",
                      "end_date": "2022-12-14T01:01:01.001z",
                      "timezone": "Australia/Sydney",
                      "direction": "all",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "account1",
                        "account2"
                      ],
                      "status": [
                        "DELIVERED",
                        "ENROUTE"
                      ],
                      "opt_out": "true",
                      "channels": [
                        "SMS",
                        "WHATSAPP"
                      ],
                      "group_by": [
                        "WEEK",
                        "ACCOUNT"
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    using var client = new HttpClient();
                    var credentials = Convert.ToBase64String(Encoding.UTF8.GetBytes($"{apiKey}:{apiSecret}"));
                    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", credentials);
                    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

                    var url = $"{apiHost}/v2-preview/reporting/messages/insights";
                    using var content = new StringContent(body, Encoding.UTF8, "application/json");
                    using var response = await client.PostAsync(url, content);
                    Console.WriteLine((int)response.StatusCode);
                    Console.WriteLine(await response.Content.ReadAsStringAsync());
                }
            }
        - lang: Java
          label: Java
          source: |
            import java.net.URI;
            import java.net.http.HttpClient;
            import java.net.http.HttpRequest;
            import java.net.http.HttpResponse;
            import java.nio.charset.StandardCharsets;
            import java.util.Base64;

            public class Sample {
                public static void main(String[] args) throws Exception {
                    String apiKey = "YOUR_API_KEY";
                    String apiSecret = "YOUR_API_SECRET";
                    String apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    String body = """
                    {
                      "start_date": "2022-12-12T01:01:01.001z",
                      "end_date": "2022-12-14T01:01:01.001z",
                      "timezone": "Australia/Sydney",
                      "direction": "all",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "account1",
                        "account2"
                      ],
                      "status": [
                        "DELIVERED",
                        "ENROUTE"
                      ],
                      "opt_out": "true",
                      "channels": [
                        "SMS",
                        "WHATSAPP"
                      ],
                      "group_by": [
                        "WEEK",
                        "ACCOUNT"
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    String auth = Base64.getEncoder().encodeToString((apiKey + ":" + apiSecret).getBytes(StandardCharsets.UTF_8));
                    String url = apiHost + "/v2-preview/reporting/messages/insights";
                    HttpClient client = HttpClient.newHttpClient();
                    HttpRequest.Builder builder = HttpRequest.newBuilder()
                        .uri(URI.create(url))
                        .header("Authorization", "Basic " + auth)
                        .header("Accept", "application/json");
                    builder.header("Content-Type", "application/json");
                    builder.method("POST", HttpRequest.BodyPublishers.ofString(body));
                    HttpResponse<String> response = client.send(builder.build(), HttpResponse.BodyHandlers.ofString());
                    System.out.println(response.statusCode());
                    System.out.println(response.body());
                }
            }
        - lang: JavaScript
          label: JavaScript
          source: |
            const apiKey = 'YOUR_API_KEY';
            const apiSecret = 'YOUR_API_SECRET';
            const apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            const body = {
              "start_date": "2022-12-12T01:01:01.001z",
              "end_date": "2022-12-14T01:01:01.001z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "account1",
                "account2"
              ],
              "status": [
                "DELIVERED",
                "ENROUTE"
              ],
              "opt_out": "true",
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "group_by": [
                "WEEK",
                "ACCOUNT"
              ]
            };

            // HMAC authentication is also supported instead of Basic
            const auth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');

            const response = await fetch(`${apiHost}/v2-preview/reporting/messages/insights`, {
              method: 'POST',
              headers: {
                Authorization: `Basic ${auth}`,
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(body),
            });

            console.log(response.status);
            console.log(await response.text());
        - lang: PHP
          label: PHP
          source: |
            <?php
            $apiKey = 'YOUR_API_KEY';
            $apiSecret = 'YOUR_API_SECRET';
            $apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            $body = [
              'start_date' => '2022-12-12T01:01:01.001z',
              'end_date' => '2022-12-14T01:01:01.001z',
              'timezone' => 'Australia/Sydney',
              'direction' => 'all',
              'source' => '+61555555555',
              'sources' => [
                '+61555555555',
                '+614987654321'
              ],
              'destination' => '+61555555555',
              'destinations' => [
                '+61555555555',
                '+614987654321'
              ],
              'metadata_key' => 'broadcastId',
              'metadata_value' => 'ABC',
              'metadata_values' => [
                'meta1',
                'meta2'
              ],
              'accounts' => [
                'account1',
                'account2'
              ],
              'status' => [
                'DELIVERED',
                'ENROUTE'
              ],
              'opt_out' => 'true',
              'channels' => [
                'SMS',
                'WHATSAPP'
              ],
              'group_by' => [
                'WEEK',
                'ACCOUNT'
              ]
            ];

            // HMAC authentication is also supported instead of Basic
            $url = $apiHost . '/v2-preview/reporting/messages/insights';
            $headers = [
                'Authorization: Basic ' . base64_encode($apiKey . ':' . $apiSecret),
                'Accept: application/json',
                'Content-Type: application/json',
            ];

            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');
            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($body));

            $response = curl_exec($ch);
            $status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
            curl_close($ch);

            echo $status, PHP_EOL;
            echo $response, PHP_EOL;
        - lang: Python
          label: Python
          source: |
            import base64
            import json
            import urllib.request

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST'  # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date": "2022-12-12T01:01:01.001z",
              "end_date": "2022-12-14T01:01:01.001z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "account1",
                "account2"
              ],
              "status": [
                "DELIVERED",
                "ENROUTE"
              ],
              "opt_out": "true",
              "channels": [
                "SMS",
                "WHATSAPP"
              ],
              "group_by": [
                "WEEK",
                "ACCOUNT"
              ]
            }

            # HMAC authentication is also supported instead of Basic
            auth = base64.b64encode(f'{api_key}:{api_secret}'.encode()).decode()
            url = f'{api_host}/v2-preview/reporting/messages/insights'
            headers = {
                'Authorization': f'Basic {auth}',
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }

            data = json.dumps(body).encode('utf-8')
            request = urllib.request.Request(url, data=data, headers=headers, method='POST')

            with urllib.request.urlopen(request) as response:
                print(response.status)
                print(response.read().decode())
        - lang: Ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'json'
            require 'base64'
            require 'uri'

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST' # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date" => "2022-12-12T01:01:01.001z",
              "end_date" => "2022-12-14T01:01:01.001z",
              "timezone" => "Australia/Sydney",
              "direction" => "all",
              "source" => "+61555555555",
              "sources" => [
                "+61555555555",
                "+614987654321"
              ],
              "destination" => "+61555555555",
              "destinations" => [
                "+61555555555",
                "+614987654321"
              ],
              "metadata_key" => "broadcastId",
              "metadata_value" => "ABC",
              "metadata_values" => [
                "meta1",
                "meta2"
              ],
              "accounts" => [
                "account1",
                "account2"
              ],
              "status" => [
                "DELIVERED",
                "ENROUTE"
              ],
              "opt_out" => "true",
              "channels" => [
                "SMS",
                "WHATSAPP"
              ],
              "group_by" => [
                "WEEK",
                "ACCOUNT"
              ]
            }

            # HMAC authentication is also supported instead of Basic
            uri = URI.parse("#{api_host}/v2-preview/reporting/messages/insights")
            http = Net::HTTP.new(uri.host, uri.port)
            http.use_ssl = uri.scheme == 'https'

            request = Net::HTTP::Post.new(uri)
            request['Authorization'] = 'Basic ' + Base64.strict_encode64("#{api_key}:#{api_secret}")
            request['Accept'] = 'application/json'
            request['Content-Type'] = 'application/json'
            request.body = JSON.generate(body)

            response = http.request(request)
            puts response.code
            puts response.body
  /v2-preview/reporting/messages/async/detail:
    post:
      security:
        - basic_auth: []
        - hmac_auth: []
      tags:
        - Messaging Reports
      summary: Post async detail report
      description: Generates an asynchronous report listing all sent and/or received messages within a specified time period.
      operationId: PostAsyncDetailReport
      parameters: []
      requestBody:
        description: Request body.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/asyncsentmessagesdetailrequest"
        required: true
      responses:
        "202":
          description: A list of all messages received in the specified time window
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asyncreportresponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400response"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403response"
      x-codeSamples:
        - lang: curl
          label: curl
          source: |
            #!/usr/bin/env bash
            API_KEY="YOUR_API_KEY"
            API_SECRET="YOUR_API_SECRET"
            API_HOST="YOUR_API_HOST" # Set YOUR_API_HOST to the regional host from the servers section in the docs

            BODY=$(cat <<'EOF'
            {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "addresses": [
                "+61400000001",
                "+61400000002"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "fields": [
                {
                  "name": "id",
                  "display_name": "id"
                }
              ],
              "delivery_options": [
                {
                  "delivery_type": "EMAIL",
                  "delivery_addresses": [
                    "email@example.com",
                    "test@example.com"
                  ],
                  "delivery_format": "CSV"
                }
              ]
            }
            EOF
            )

            # HMAC authentication is also supported instead of Basic
            BASIC_AUTH=$(printf '%s' "${API_KEY}:${API_SECRET}" | base64 | tr -d '\n')
            curl -sS -X POST "${API_HOST}/v2-preview/reporting/messages/async/detail" \
              -H "Authorization: Basic ${BASIC_AUTH}" \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -d "${BODY}"
        - lang: C#
          label: C#
          source: |
            using System;
            using System.Net.Http;
            using System.Net.Http.Headers;
            using System.Text;
            using System.Threading.Tasks;

            class Program
            {
                static async Task Main()
                {
                    var apiKey = "YOUR_API_KEY";
                    var apiSecret = "YOUR_API_SECRET";
                    var apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    var body = """
                    {
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "timezone": "Australia/Sydney",
                      "direction": "all",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "addresses": [
                        "+61400000001",
                        "+61400000002"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "Account1",
                        "Account2"
                      ],
                      "status": [
                        "DELIVERED"
                      ],
                      "opt_out": "true",
                      "message_format": [
                        "MMS",
                        "TTS"
                      ],
                      "fields": [
                        {
                          "name": "id",
                          "display_name": "id"
                        }
                      ],
                      "delivery_options": [
                        {
                          "delivery_type": "EMAIL",
                          "delivery_addresses": [
                            "email@example.com",
                            "test@example.com"
                          ],
                          "delivery_format": "CSV"
                        }
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    using var client = new HttpClient();
                    var credentials = Convert.ToBase64String(Encoding.UTF8.GetBytes($"{apiKey}:{apiSecret}"));
                    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", credentials);
                    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

                    var url = $"{apiHost}/v2-preview/reporting/messages/async/detail";
                    using var content = new StringContent(body, Encoding.UTF8, "application/json");
                    using var response = await client.PostAsync(url, content);
                    Console.WriteLine((int)response.StatusCode);
                    Console.WriteLine(await response.Content.ReadAsStringAsync());
                }
            }
        - lang: Java
          label: Java
          source: |
            import java.net.URI;
            import java.net.http.HttpClient;
            import java.net.http.HttpRequest;
            import java.net.http.HttpResponse;
            import java.nio.charset.StandardCharsets;
            import java.util.Base64;

            public class Sample {
                public static void main(String[] args) throws Exception {
                    String apiKey = "YOUR_API_KEY";
                    String apiSecret = "YOUR_API_SECRET";
                    String apiHost = "YOUR_API_HOST"; // Set YOUR_API_HOST to the regional host from the servers section in the docs

                    String body = """
                    {
                      "start_date": "2022-12-12T00:00:00.000z",
                      "end_date": "2022-12-14T00:00:00.000z",
                      "timezone": "Australia/Sydney",
                      "direction": "all",
                      "source": "+61555555555",
                      "sources": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "destination": "+61555555555",
                      "destinations": [
                        "+61555555555",
                        "+614987654321"
                      ],
                      "addresses": [
                        "+61400000001",
                        "+61400000002"
                      ],
                      "metadata_key": "broadcastId",
                      "metadata_value": "ABC",
                      "metadata_values": [
                        "meta1",
                        "meta2"
                      ],
                      "accounts": [
                        "Account1",
                        "Account2"
                      ],
                      "status": [
                        "DELIVERED"
                      ],
                      "opt_out": "true",
                      "message_format": [
                        "MMS",
                        "TTS"
                      ],
                      "fields": [
                        {
                          "name": "id",
                          "display_name": "id"
                        }
                      ],
                      "delivery_options": [
                        {
                          "delivery_type": "EMAIL",
                          "delivery_addresses": [
                            "email@example.com",
                            "test@example.com"
                          ],
                          "delivery_format": "CSV"
                        }
                      ]
                    }
                    """;

                    // HMAC authentication is also supported instead of Basic
                    String auth = Base64.getEncoder().encodeToString((apiKey + ":" + apiSecret).getBytes(StandardCharsets.UTF_8));
                    String url = apiHost + "/v2-preview/reporting/messages/async/detail";
                    HttpClient client = HttpClient.newHttpClient();
                    HttpRequest.Builder builder = HttpRequest.newBuilder()
                        .uri(URI.create(url))
                        .header("Authorization", "Basic " + auth)
                        .header("Accept", "application/json");
                    builder.header("Content-Type", "application/json");
                    builder.method("POST", HttpRequest.BodyPublishers.ofString(body));
                    HttpResponse<String> response = client.send(builder.build(), HttpResponse.BodyHandlers.ofString());
                    System.out.println(response.statusCode());
                    System.out.println(response.body());
                }
            }
        - lang: JavaScript
          label: JavaScript
          source: |
            const apiKey = 'YOUR_API_KEY';
            const apiSecret = 'YOUR_API_SECRET';
            const apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            const body = {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "addresses": [
                "+61400000001",
                "+61400000002"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "fields": [
                {
                  "name": "id",
                  "display_name": "id"
                }
              ],
              "delivery_options": [
                {
                  "delivery_type": "EMAIL",
                  "delivery_addresses": [
                    "email@example.com",
                    "test@example.com"
                  ],
                  "delivery_format": "CSV"
                }
              ]
            };

            // HMAC authentication is also supported instead of Basic
            const auth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');

            const response = await fetch(`${apiHost}/v2-preview/reporting/messages/async/detail`, {
              method: 'POST',
              headers: {
                Authorization: `Basic ${auth}`,
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(body),
            });

            console.log(response.status);
            console.log(await response.text());
        - lang: PHP
          label: PHP
          source: |
            <?php
            $apiKey = 'YOUR_API_KEY';
            $apiSecret = 'YOUR_API_SECRET';
            $apiHost = 'YOUR_API_HOST'; // Set YOUR_API_HOST to the regional host from the servers section in the docs

            $body = [
              'start_date' => '2022-12-12T00:00:00.000z',
              'end_date' => '2022-12-14T00:00:00.000z',
              'timezone' => 'Australia/Sydney',
              'direction' => 'all',
              'source' => '+61555555555',
              'sources' => [
                '+61555555555',
                '+614987654321'
              ],
              'destination' => '+61555555555',
              'destinations' => [
                '+61555555555',
                '+614987654321'
              ],
              'addresses' => [
                '+61400000001',
                '+61400000002'
              ],
              'metadata_key' => 'broadcastId',
              'metadata_value' => 'ABC',
              'metadata_values' => [
                'meta1',
                'meta2'
              ],
              'accounts' => [
                'Account1',
                'Account2'
              ],
              'status' => [
                'DELIVERED'
              ],
              'opt_out' => 'true',
              'message_format' => [
                'MMS',
                'TTS'
              ],
              'fields' => [
                [
                  'name' => 'id',
                  'display_name' => 'id'
                ]
              ],
              'delivery_options' => [
                [
                  'delivery_type' => 'EMAIL',
                  'delivery_addresses' => [
                    'email@example.com',
                    'test@example.com'
                  ],
                  'delivery_format' => 'CSV'
                ]
              ]
            ];

            // HMAC authentication is also supported instead of Basic
            $url = $apiHost . '/v2-preview/reporting/messages/async/detail';
            $headers = [
                'Authorization: Basic ' . base64_encode($apiKey . ':' . $apiSecret),
                'Accept: application/json',
                'Content-Type: application/json',
            ];

            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');
            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($body));

            $response = curl_exec($ch);
            $status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
            curl_close($ch);

            echo $status, PHP_EOL;
            echo $response, PHP_EOL;
        - lang: Python
          label: Python
          source: |
            import base64
            import json
            import urllib.request

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST'  # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date": "2022-12-12T00:00:00.000z",
              "end_date": "2022-12-14T00:00:00.000z",
              "timezone": "Australia/Sydney",
              "direction": "all",
              "source": "+61555555555",
              "sources": [
                "+61555555555",
                "+614987654321"
              ],
              "destination": "+61555555555",
              "destinations": [
                "+61555555555",
                "+614987654321"
              ],
              "addresses": [
                "+61400000001",
                "+61400000002"
              ],
              "metadata_key": "broadcastId",
              "metadata_value": "ABC",
              "metadata_values": [
                "meta1",
                "meta2"
              ],
              "accounts": [
                "Account1",
                "Account2"
              ],
              "status": [
                "DELIVERED"
              ],
              "opt_out": "true",
              "message_format": [
                "MMS",
                "TTS"
              ],
              "fields": [
                {
                  "name": "id",
                  "display_name": "id"
                }
              ],
              "delivery_options": [
                {
                  "delivery_type": "EMAIL",
                  "delivery_addresses": [
                    "email@example.com",
                    "test@example.com"
                  ],
                  "delivery_format": "CSV"
                }
              ]
            }

            # HMAC authentication is also supported instead of Basic
            auth = base64.b64encode(f'{api_key}:{api_secret}'.encode()).decode()
            url = f'{api_host}/v2-preview/reporting/messages/async/detail'
            headers = {
                'Authorization': f'Basic {auth}',
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }

            data = json.dumps(body).encode('utf-8')
            request = urllib.request.Request(url, data=data, headers=headers, method='POST')

            with urllib.request.urlopen(request) as response:
                print(response.status)
                print(response.read().decode())
        - lang: Ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'json'
            require 'base64'
            require 'uri'

            api_key = 'YOUR_API_KEY'
            api_secret = 'YOUR_API_SECRET'
            api_host = 'YOUR_API_HOST' # Set YOUR_API_HOST to the regional host from the servers section in the docs

            body = {
              "start_date" => "2022-12-12T00:00:00.000z",
              "end_date" => "2022-12-14T00:00:00.000z",
              "timezone" => "Australia/Sydney",
              "direction" => "all",
              "source" => "+61555555555",
              "sources" => [
                "+61555555555",
                "+614987654321"
              ],
              "destination" => "+61555555555",
              "destinations" => [
                "+61555555555",
                "+614987654321"
              ],
              "addresses" => [
                "+61400000001",
                "+61400000002"
              ],
              "metadata_key" => "broadcastId",
              "metadata_value" => "ABC",
              "metadata_values" => [
                "meta1",
                "meta2"
              ],
              "accounts" => [
                "Account1",
                "Account2"
              ],
              "status" => [
                "DELIVERED"
              ],
              "opt_out" => "true",
              "message_format" => [
                "MMS",
                "TTS"
              ],
              "fields" => [
                {
                  "name" => "id",
                  "display_name" => "id"
                }
              ],
              "delivery_options" => [
                {
                  "delivery_type" => "EMAIL",
[...]
