openapi: 3.1.0
info:
  title: MailUp REST API
  version: '1.1'
  description: Community OpenAPI definition derived from the public WCF service references. JSON examples provide
    the body shapes; property requirements are not inferred.
externalDocs:
  url: https://services.mailup.com/API/v1.1/Rest/ConsoleService.svc/help
servers:
- url: https://services.mailup.com
security:
- mailupOAuth: []
tags:
- name: Console / Console / Authentication
- name: Console / Console / ContentProvider
- name: Console / Console / Email
- name: Console / Console / Group
- name: Console / Console / Images
- name: Console / Console / Import
- name: Console / Console / Imports
- name: Console / Console / List
- name: Console / Console / Personalization
- name: Console / Console / Recipient
- name: Console / Console / Recipients
- name: Console / Console / Sms
- name: Console / Console / SmtpPlusPriorities
- name: Console / Console / Sso
- name: Console / Console / TimeZones
- name: Console / Console / Tracking
- name: Console / Console / TrustedSenders
- name: Console / Console / User
- name: Statistics / List / Count
- name: Statistics / List / Group
- name: Statistics / Message / Count
- name: Statistics / Message / List
- name: Statistics / Message / Pages
- name: Statistics / Recipient / Count
- name: Statistics / Recipient / List
paths:
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Images:
    post:
      operationId: console_post_addlistimage
      summary: Add List Image
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Base64Data:
                  type: string
                Name:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getlistimages
      summary: Get List Images
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Email/{ID_MESSAGE}/Attachment/{SLOT}:
    post:
      operationId: console_post_addmessageattachments
      summary: Add Message Attachments
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      - name: SLOT
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Base64Data:
                  type: string
                Name:
                  type: string
                Slot:
                  type: integer
                idList:
                  type: integer
                idMessage:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
                    Path:
                      type: string
                    Slot:
                      type: integer
                  additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      operationId: console_delete_deletemessageattachments
      summary: Delete Message Attachments
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      - name: SLOT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
                    Path:
                      type: string
                    Slot:
                      type: integer
                  additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Personalization/Endpoints:
    post:
      operationId: console_post_addpersonalizationendpoint
      summary: Add Personalization Endpoint
      tags:
      - Console / Console / Personalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CreationDate:
                  type: string
                IdEndpoint:
                  type: integer
                Label:
                  type: string
                Url:
                  type: string
                Credentials:
                  type: object
                  properties:
                    Password:
                      type: string
                    Username:
                      type: string
                  additionalProperties: true
                Headers:
                  type: array
                  items:
                    type: object
                    properties:
                      Key:
                        type: string
                      Value:
                        type: string
                    additionalProperties: true
                Parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      Field:
                        type: string
                      FieldTestValue:
                        type: string
                      Name:
                        type: string
                    additionalProperties: true
                Recipient:
                  type: object
                  properties:
                    Field:
                      type: string
                    FieldTestValue:
                      type: string
                  additionalProperties: true
                UpdateDate:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  IdEndpoint:
                    type: integer
                  Label:
                    type: string
                  Url:
                    type: string
                  Credentials:
                    type: object
                    properties:
                      Password:
                        type: string
                      Username:
                        type: string
                    additionalProperties: true
                  Headers:
                    type: array
                    items:
                      type: object
                      properties:
                        Key:
                          type: string
                        Value:
                          type: string
                      additionalProperties: true
                  Parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        Field:
                          type: string
                        FieldTestValue:
                          type: string
                        Name:
                          type: string
                      additionalProperties: true
                  Recipient:
                    type: object
                    properties:
                      Field:
                        type: string
                      FieldTestValue:
                        type: string
                    additionalProperties: true
                  UpdateDate:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getpersonalizationendpoints
      summary: Get Personalization Endpoints
      tags:
      - Console / Console / Personalization
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        CreationDate:
                          type: string
                        IdEndpoint:
                          type: integer
                        Label:
                          type: string
                        Url:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Personalization/Endpoints/{ID_ENDPOINT}/List/{ID_LIST}:
    post:
      operationId: console_post_addpersonalizationendpointtolist
      summary: Add Personalization Endpoint To List
      tags:
      - Console / Console / Personalization
      parameters:
      - name: ID_ENDPOINT
        in: path
        required: true
        schema:
          type: string
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      operationId: console_delete_deletepersonalizationendpointfromlistbyid
      summary: Delete Personalization Endpoint From List By Id
      tags:
      - Console / Console / Personalization
      parameters:
      - name: ID_ENDPOINT
        in: path
        required: true
        schema:
          type: string
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Images:
    post:
      operationId: console_post_addsharedimage
      summary: Add Shared Image
      tags:
      - Console / Console / Images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Base64Data:
                  type: string
                Name:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      operationId: console_delete_deleteimage
      summary: Delete Image
      tags:
      - Console / Console / Images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getsharedimages
      summary: Get Shared Images
      tags:
      - Console / Console / Images
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Group/{ID_GROUP}/Recipient:
    post:
      operationId: console_post_asyncimportrecipienttogroup
      summary: Async Import Recipient To Group
      tags:
      - Console / Console / Group
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Name:
                  type: string
                idRecipient:
                  type: integer
                Email:
                  type: string
                MobileNumber:
                  type: string
                MobilePrefix:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Recipient:
    post:
      operationId: console_post_asyncimportrecipienttolist
      summary: Async Import Recipient To List
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Name:
                  type: string
                idRecipient:
                  type: integer
                Email:
                  type: string
                MobileNumber:
                  type: string
                MobilePrefix:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Group/{ID_GROUP}/Recipients:
    post:
      operationId: console_post_asyncimportrecipientstogroup
      summary: Async Import Recipients To Group
      tags:
      - Console / Console / Group
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Name:
                    type: string
                  idRecipient:
                    type: integer
                  Email:
                    type: string
                  MobileNumber:
                    type: string
                  MobilePrefix:
                    type: string
                additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getrecipientsbygroup
      summary: Get Recipients By Group
      tags:
      - Console / Console / Group
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        Fields:
                          type: array
                          items:
                            type: object
                            properties:
                              Description:
                                type: string
                              Id:
                                type: integer
                              Value:
                                type: string
                            additionalProperties: true
                        Name:
                          type: string
                        idRecipient:
                          type: integer
                        Email:
                          type: string
                        MobileNumber:
                          type: string
                        MobilePrefix:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Recipients:
    post:
      operationId: console_post_asyncimportrecipientstolist
      summary: Async Import Recipients To List
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Name:
                    type: string
                  idRecipient:
                    type: integer
                  Email:
                    type: string
                  MobileNumber:
                    type: string
                  MobilePrefix:
                    type: string
                additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/Group/{ID_GROUP}/Recipient:
    post:
      operationId: console_post_asyncimportsmsrecipienttogroup
      summary: Async Import Sms Recipient To Group
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Name:
                  type: string
                idRecipient:
                  type: integer
                MobileNumber:
                  type: string
                MobilePrefix:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/List/{ID_LIST}/Recipient:
    post:
      operationId: console_post_asyncimportsmsrecipienttolist
      summary: Async Import Sms Recipient To List
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Name:
                  type: string
                idRecipient:
                  type: integer
                MobileNumber:
                  type: string
                MobilePrefix:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/Group/{ID_GROUP}/Recipients:
    post:
      operationId: console_post_asyncimportsmsrecipientstogroup
      summary: Async Import Sms Recipients To Group
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Name:
                    type: string
                  idRecipient:
                    type: integer
                  MobileNumber:
                    type: string
                  MobilePrefix:
                    type: string
                additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getsmsrecipientsbygroup
      summary: Get Sms Recipients By Group
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        Fields:
                          type: array
                          items:
                            type: object
                            properties:
                              Description:
                                type: string
                              Id:
                                type: integer
                              Value:
                                type: string
                            additionalProperties: true
                        Name:
                          type: string
                        idRecipient:
                          type: integer
                        Email:
                          type: string
                        MobileNumber:
                          type: string
                        MobilePrefix:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/List/{ID_LIST}/Recipients:
    post:
      operationId: console_post_asyncimportsmsrecipientstolist
      summary: Async Import Sms Recipients To List
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Name:
                    type: string
                  idRecipient:
                    type: integer
                  MobileNumber:
                    type: string
                  MobilePrefix:
                    type: string
                additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/{SENDERNUMBER}/ConfirmCode:
    post:
      operationId: console_post_confirmsmsnumericsender
      summary: Confirm Sms Numeric Sender
      tags:
      - Console / Console / Sms
      parameters:
      - name: SENDERNUMBER
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: integer
                  ValidationResult:
                    type: object
                    properties:
                      Code:
                        type: integer
                      Description:
                        type: string
                    additionalProperties: true
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getsmsconfirmationcode
      summary: Get Sms Confirmation Code
      tags:
      - Console / Console / Sms
      parameters:
      - name: SENDERNUMBER
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Email/{ID_MESSAGE}:
    post:
      operationId: console_post_copyemailmessage
      summary: Copy Email Message
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Notes:
                  type: string
                Subject:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      operationId: console_delete_deleteemailmessage
      summary: Delete Email Message
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getmessagedetails
      summary: Get Message Details
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                  Content:
                    type: string
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Structure:
                    type: string
                  Tags:
                    type: array
                    items:
                      type: object
                      properties:
                        Enabled:
                          type: boolean
                        Id:
                          type: integer
                        Name:
                          type: string
                      additionalProperties: true
                  UseDynamicField:
                    type: boolean
                  Embed:
                    type: boolean
                  IsConfirmation:
                    type: boolean
                  PreHeader:
                    type: string
                  TrackingInfo:
                    type: object
                    properties:
                      CustomParams:
                        type: string
                      Enabled:
                        type: boolean
                      Protocols:
                        type: array
                        items:
                          type: string
                    additionalProperties: true
                  Attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                        Path:
                          type: string
                        Slot:
                          type: integer
                      additionalProperties: true
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    put:
      operationId: console_put_updateemailmessage
      summary: Update Email Message
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CreationDate:
                  type: string
                Notes:
                  type: string
                Subject:
                  type: string
                idList:
                  type: integer
                idMessage:
                  type: integer
                Content:
                  type: string
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Structure:
                  type: string
                Tags:
                  type: array
                  items:
                    type: object
                    properties:
                      Enabled:
                        type: boolean
                      Id:
                        type: integer
                      Name:
                        type: string
                    additionalProperties: true
                UseDynamicField:
                  type: boolean
                Embed:
                  type: boolean
                IsConfirmation:
                  type: boolean
                PreHeader:
                  type: string
                TrackingInfo:
                  type: object
                  properties:
                    CustomParams:
                      type: string
                    Enabled:
                      type: boolean
                    Protocols:
                      type: array
                      items:
                        type: string
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Email:
    post:
      operationId: console_post_createemailmessage
      summary: Create Email Message
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CreationDate:
                  type: string
                Notes:
                  type: string
                Subject:
                  type: string
                idList:
                  type: integer
                idMessage:
                  type: integer
                Content:
                  type: string
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Structure:
                  type: string
                Tags:
                  type: array
                  items:
                    type: object
                    properties:
                      Enabled:
                        type: boolean
                      Id:
                        type: integer
                      Name:
                        type: string
                    additionalProperties: true
                UseDynamicField:
                  type: boolean
                Embed:
                  type: boolean
                IsConfirmation:
                  type: boolean
                PreHeader:
                  type: string
                TrackingInfo:
                  type: object
                  properties:
                    CustomParams:
                      type: string
                    Enabled:
                      type: boolean
                    Protocols:
                      type: array
                      items:
                        type: string
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Email/Template/{ID_TEMPLATE}:
    post:
      operationId: console_post_createemailmessagefromtemplate
      summary: Create Email Message From Template
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_TEMPLATE
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Group:
    post:
      operationId: console_post_creategroup
      summary: Create Group
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Count:
                  type: integer
                Deletable:
                  type: boolean
                Name:
                  type: string
                Notes:
                  type: string
                idGroup:
                  type: integer
                idList:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                  Deletable:
                    type: boolean
                  Name:
                    type: string
                  Notes:
                    type: string
                  idGroup:
                    type: integer
                  idList:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/User/Lists:
    post:
      operationId: console_post_createlist
      summary: Create List
      tags:
      - Console / Console / User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bouncedemail:
                  type: string
                charset:
                  type: string
                conversionlab_trackcode:
                  type: string
                default_prefix:
                  type: string
                description:
                  type: string
                disclaimer:
                  type: string
                displayas:
                  type: string
                format:
                  type: string
                frontendform:
                  type: boolean
                headerlistunsubscriber:
                  type: string
                headerxabuse:
                  type: string
                kbmax:
                  type: integer
                listGuid:
                  type: string
                multi_optout_list:
                  type: string
                multipart_text:
                  type: boolean
                nl_sendername:
                  type: string
                notifyemail:
                  type: string
                optout_type:
                  type: integer
                owneremail:
                  type: string
                public:
                  type: boolean
                replyto:
                  type: string
                sendconfirmsms:
                  type: boolean
                sendemailoptout:
                  type: boolean
                senderfax:
                  type: string
                senderfaxname:
                  type: string
                sms_sendername:
                  type: string
                subscribedemail:
                  type: boolean
                tracking:
                  type: boolean
                Address:
                  type: string
                City:
                  type: string
                CompanyName:
                  type: string
                ContactName:
                  type: string
                CountryCode:
                  type: string
                Customer:
                  type: boolean
                Name:
                  type: string
                PermissionReminder:
                  type: string
                Phone:
                  type: string
                PostalCode:
                  type: string
                StateOrProvince:
                  type: string
                WebSiteUrl:
                  type: string
                business:
                  type: boolean
                copyTemplate:
                  type: boolean
                copyWebhooks:
                  type: boolean
                idSettings:
                  type: integer
                scope:
                  type: string
                useDefaultSettings:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: integer
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getconsolelistsbyuser
      summary: Get Console Lists By User
      tags:
      - Console / Console / User
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        Company:
                          type: string
                        Description:
                          type: string
                        Name:
                          type: string
                        idList:
                          type: integer
                        listGuid:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List:
    post:
      operationId: console_post_createnewlist
      summary: Create New List
      tags:
      - Console / Console / List
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                BouncedEmail:
                  type: string
                Charset:
                  type: string
                ConversionlabTrackCode:
                  type: string
                DefaultPrefix:
                  type: string
                Description:
                  type: string
                Disclaimer:
                  type: string
                Format:
                  type: string
                FrontendForm:
                  type: boolean
                HeaderListUnsubscriber:
                  type: string
                HeaderXAbuse:
                  type: string
                KBMax:
                  type: integer
                LinkTrackingParameters:
                  type: string
                MultiOptoutList:
                  type: string
                MultipartText:
                  type: boolean
                NotifyEmail:
                  type: string
                OptoutType:
                  type: integer
                Public:
                  type: boolean
                ScopeCode:
                  type: integer
                SendConfirmSms:
                  type: boolean
                SendEmailOptout:
                  type: boolean
                SmsSenderName:
                  type: string
                SubscribedEmail:
                  type: boolean
                TimeZoneCode:
                  type: string
                TrackOnOpened:
                  type: boolean
                Address:
                  type: string
                Business:
                  type: boolean
                City:
                  type: string
                CompanyName:
                  type: string
                ContactName:
                  type: string
                CopyFromWebhooks:
                  type: boolean
                CountryCode:
                  type: string
                Customer:
                  type: boolean
                DisplayAs:
                  type: string
                IdSettings:
                  type: integer
                NLSenderName:
                  type: string
                Name:
                  type: string
                OwnerEmail:
                  type: string
                PermissionReminder:
                  type: string
                Phone:
                  type: string
                PostalCode:
                  type: string
                ReplyTo:
                  type: string
                StateOrProvince:
                  type: string
                UseDefaultSettings:
                  type: boolean
                WebSiteUrl:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  BouncedEmail:
                    type: string
                  Charset:
                    type: string
                  ConversionlabTrackCode:
                    type: string
                  DefaultPrefix:
                    type: string
                  Description:
                    type: string
                  Disclaimer:
                    type: string
                  Format:
                    type: string
                  FrontendForm:
                    type: boolean
                  HeaderListUnsubscriber:
                    type: string
                  HeaderXAbuse:
                    type: string
                  KBMax:
                    type: integer
                  LinkTrackingParameters:
                    type: string
                  MultiOptoutList:
                    type: string
                  MultipartText:
                    type: boolean
                  NotifyEmail:
                    type: string
                  OptoutType:
                    type: integer
                  Public:
                    type: boolean
                  ScopeCode:
                    type: integer
                  SendConfirmSms:
                    type: boolean
                  SendEmailOptout:
                    type: boolean
                  SmsSenderName:
                    type: string
                  SubscribedEmail:
                    type: boolean
                  TimeZoneCode:
                    type: string
                  TrackOnOpened:
                    type: boolean
                  Address:
                    type: string
                  Business:
                    type: boolean
                  City:
                    type: string
                  CompanyName:
                    type: string
                  ContactName:
                    type: string
                  CountryCode:
                    type: string
                  Customer:
                    type: boolean
                  DisplayAs:
                    type: string
                  IdList:
                    type: integer
                  ListGuid:
                    type: string
                  NLSenderName:
                    type: string
                  Name:
                    type: string
                  OwnerEmail:
                    type: string
                  PermissionReminder:
                    type: string
                  Phone:
                    type: string
                  PostalCode:
                    type: string
                  ReplyTo:
                    type: string
                  StateOrProvince:
                    type: string
                  WebSiteUrl:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getexistinglists
      summary: Get Existing Lists
      tags:
      - Console / Console / List
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        Company:
                          type: string
                        Description:
                          type: string
                        IdList:
                          type: integer
                        ListGuid:
                          type: string
                        Name:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/List/{ID_LIST}/Message:
    post:
      operationId: console_post_createsmsmessage
      summary: Create Sms Message
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CreationDate:
                  type: string
                Notes:
                  type: string
                Subject:
                  type: string
                idList:
                  type: integer
                idMessage:
                  type: integer
                Content:
                  type: string
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      Description:
                        type: string
                      Id:
                        type: integer
                      Value:
                        type: string
                    additionalProperties: true
                Structure:
                  type: string
                Tags:
                  type: array
                  items:
                    type: object
                    properties:
                      Enabled:
                        type: boolean
                      Id:
                        type: integer
                      Name:
                        type: string
                    additionalProperties: true
                UseDynamicField:
                  type: boolean
                IsUnicode:
                  type: boolean
                Sender:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/SmtpPlus:
    post:
      operationId: console_post_createsmtpplusaccount
      summary: Create Smtp Plus Account
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                IsEnabled:
                  type: boolean
                Note:
                  type: string
                PriorityCode:
                  type: integer
                TrustedDomains:
                  type: array
                  items:
                    type: string
                TrustedSenders:
                  type: array
                  items:
                    type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  IdList:
                    type: integer
                  IsEnabled:
                    type: boolean
                  IsTrusted:
                    type: boolean
                  Note:
                    type: string
                  Password:
                    type: string
                  PriorityCode:
                    type: integer
                  SmtpPlusEncryption:
                    type: string
                  SmtpPlusPort:
                    type: string
                  SmtpPlusServer:
                    type: string
                  TrustedDomains:
                    type: array
                    items:
                      type: string
                  TrustedSenders:
                    type: array
                    items:
                      type: string
                  UpdateDate:
                    type: string
                  Username:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/ContentProvider/Sources:
    post:
      operationId: console_post_createsource
      summary: Create Source
      tags:
      - Console / Console / ContentProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                IsEnabled:
                  type: boolean
                SourceName:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  IdSource:
                    type: integer
                  IsEnabled:
                    type: boolean
                  SourceName:
                    type: string
                  SourceType:
                    type: integer
                  UpdateDate:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getsources
      summary: Get Sources
      tags:
      - Console / Console / ContentProvider
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsPaginated:
                    type: boolean
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        CreationDate:
                          type: string
                        IdSource:
                          type: integer
                        IsEnabled:
                          type: boolean
                        SourceName:
                          type: string
                        SourceType:
                          type: integer
                        UpdateDate:
                          type: string
                      additionalProperties: true
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  Skipped:
                    type: integer
                  TotalElementsCount:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Tag:
    post:
      operationId: console_post_createtag
      summary: Create Tag
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Enabled:
                    type: boolean
                  Id:
                    type: integer
                  Name:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/ContentProvider/Sources/{ID_SOURCE}/Content/{CONTENT_KEY}:
    delete:
      operationId: console_delete_deletecontent
      summary: Delete Content
      tags:
      - Console / Console / ContentProvider
      parameters:
      - name: ID_SOURCE
        in: path
        required: true
        schema:
          type: string
      - name: CONTENT_KEY
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}:
    delete:
      operationId: console_delete_deleteexistinglist
      summary: Delete Existing List
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getexistinglistbyid
      summary: Get Existing List By Id
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  BouncedEmail:
                    type: string
                  Charset:
                    type: string
                  ConversionlabTrackCode:
                    type: string
                  DefaultPrefix:
                    type: string
                  Description:
                    type: string
                  Disclaimer:
                    type: string
                  Format:
                    type: string
                  FrontendForm:
                    type: boolean
                  HeaderListUnsubscriber:
                    type: string
                  HeaderXAbuse:
                    type: string
                  KBMax:
                    type: integer
                  LinkTrackingParameters:
                    type: string
                  MultiOptoutList:
                    type: string
                  MultipartText:
                    type: boolean
                  NotifyEmail:
                    type: string
                  OptoutType:
                    type: integer
                  Public:
                    type: boolean
                  ScopeCode:
                    type: integer
                  SendConfirmSms:
                    type: boolean
                  SendEmailOptout:
                    type: boolean
                  SmsSenderName:
                    type: string
                  SubscribedEmail:
                    type: boolean
                  TimeZoneCode:
                    type: string
                  TrackOnOpened:
                    type: boolean
                  Address:
                    type: string
                  Business:
                    type: boolean
                  City:
                    type: string
                  CompanyName:
                    type: string
                  ContactName:
                    type: string
                  CountryCode:
                    type: string
                  Customer:
                    type: boolean
                  DisplayAs:
                    type: string
                  IdList:
                    type: integer
                  ListGuid:
                    type: string
                  NLSenderName:
                    type: string
                  Name:
                    type: string
                  OwnerEmail:
                    type: string
                  PermissionReminder:
                    type: string
                  Phone:
                    type: string
                  PostalCode:
                    type: string
                  ReplyTo:
                    type: string
                  StateOrProvince:
                    type: string
                  WebSiteUrl:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    put:
      operationId: console_put_updateexistinglist
      summary: Update Existing List
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                BouncedEmail:
                  type: string
                Charset:
                  type: string
                ConversionlabTrackCode:
                  type: string
                DefaultPrefix:
                  type: string
                Description:
                  type: string
                Disclaimer:
                  type: string
                Format:
                  type: string
                FrontendForm:
                  type: boolean
                HeaderListUnsubscriber:
                  type: string
                HeaderXAbuse:
                  type: string
                KBMax:
                  type: integer
                LinkTrackingParameters:
                  type: string
                MultiOptoutList:
                  type: string
                MultipartText:
                  type: boolean
                NotifyEmail:
                  type: string
                OptoutType:
                  type: integer
                Public:
                  type: boolean
                ScopeCode:
                  type: integer
                SendConfirmSms:
                  type: boolean
                SendEmailOptout:
                  type: boolean
                SmsSenderName:
                  type: string
                SubscribedEmail:
                  type: boolean
                TimeZoneCode:
                  type: string
                TrackOnOpened:
                  type: boolean
                Address:
                  type: string
                Business:
                  type: boolean
                City:
                  type: string
                CompanyName:
                  type: string
                ContactName:
                  type: string
                CountryCode:
                  type: string
                Customer:
                  type: boolean
                DisplayAs:
                  type: string
                NLSenderName:
                  type: string
                Name:
                  type: string
                OwnerEmail:
                  type: string
                PermissionReminder:
                  type: string
                Phone:
                  type: string
                PostalCode:
                  type: string
                ReplyTo:
                  type: string
                StateOrProvince:
                  type: string
                WebSiteUrl:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  BouncedEmail:
                    type: string
                  Charset:
                    type: string
                  ConversionlabTrackCode:
                    type: string
                  DefaultPrefix:
                    type: string
                  Description:
                    type: string
                  Disclaimer:
                    type: string
                  Format:
                    type: string
                  FrontendForm:
                    type: boolean
                  HeaderListUnsubscriber:
                    type: string
                  HeaderXAbuse:
                    type: string
                  KBMax:
                    type: integer
                  LinkTrackingParameters:
                    type: string
                  MultiOptoutList:
                    type: string
                  MultipartText:
                    type: boolean
                  NotifyEmail:
                    type: string
                  OptoutType:
                    type: integer
                  Public:
                    type: boolean
                  ScopeCode:
                    type: integer
                  SendConfirmSms:
                    type: boolean
                  SendEmailOptout:
                    type: boolean
                  SmsSenderName:
                    type: string
                  SubscribedEmail:
                    type: boolean
                  TimeZoneCode:
                    type: string
                  TrackOnOpened:
                    type: boolean
                  Address:
                    type: string
                  Business:
                    type: boolean
                  City:
                    type: string
                  CompanyName:
                    type: string
                  ContactName:
                    type: string
                  CountryCode:
                    type: string
                  Customer:
                    type: boolean
                  DisplayAs:
                    type: string
                  IdList:
                    type: integer
                  ListGuid:
                    type: string
                  NLSenderName:
                    type: string
                  Name:
                    type: string
                  OwnerEmail:
                    type: string
                  PermissionReminder:
                    type: string
                  Phone:
                    type: string
                  PostalCode:
                    type: string
                  ReplyTo:
                    type: string
                  StateOrProvince:
                    type: string
                  WebSiteUrl:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Group/{ID_GROUP}:
    delete:
      operationId: console_delete_deletegroup
      summary: Delete Group
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    put:
      operationId: console_put_updategroup
      summary: Update Group
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_GROUP
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Count:
                  type: integer
                Deletable:
                  type: boolean
                Name:
                  type: string
                Notes:
                  type: string
                idGroup:
                  type: integer
                idList:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                  Deletable:
                    type: boolean
                  Name:
                    type: string
                  Notes:
                    type: string
                  idGroup:
                    type: integer
                  idList:
                    type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Personalization/Endpoints/{ID_ENDPOINT}:
    delete:
      operationId: console_delete_deletepersonalizationendpointbyid
      summary: Delete Personalization Endpoint By Id
      tags:
      - Console / Console / Personalization
      parameters:
      - name: ID_ENDPOINT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getpersonalizationendpointbyid
      summary: Get Personalization Endpoint By Id
      tags:
      - Console / Console / Personalization
      parameters:
      - name: ID_ENDPOINT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  IdEndpoint:
                    type: integer
                  Label:
                    type: string
                  Url:
                    type: string
                  Credentials:
                    type: object
                    properties:
                      Password:
                        type: string
                      Username:
                        type: string
                    additionalProperties: true
                  Headers:
                    type: array
                    items:
                      type: object
                      properties:
                        Key:
                          type: string
                        Value:
                          type: string
                      additionalProperties: true
                  Parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        Field:
                          type: string
                        FieldTestValue:
                          type: string
                        Name:
                          type: string
                      additionalProperties: true
                  Recipient:
                    type: object
                    properties:
                      Field:
                        type: string
                      FieldTestValue:
                        type: string
                    additionalProperties: true
                  UpdateDate:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    put:
      operationId: console_put_updatepersonalizationendpoint
      summary: Update Personalization Endpoint
      tags:
      - Console / Console / Personalization
      parameters:
      - name: ID_ENDPOINT
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                CreationDate:
                  type: string
                IdEndpoint:
                  type: integer
                Label:
                  type: string
                Url:
                  type: string
                Credentials:
                  type: object
                  properties:
                    Password:
                      type: string
                    Username:
                      type: string
                  additionalProperties: true
                Headers:
                  type: array
                  items:
                    type: object
                    properties:
                      Key:
                        type: string
                      Value:
                        type: string
                    additionalProperties: true
                Parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      Field:
                        type: string
                      FieldTestValue:
                        type: string
                      Name:
                        type: string
                    additionalProperties: true
                Recipient:
                  type: object
                  properties:
                    Field:
                      type: string
                    FieldTestValue:
                      type: string
                  additionalProperties: true
                UpdateDate:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  IdEndpoint:
                    type: integer
                  Label:
                    type: string
                  Url:
                    type: string
                  Credentials:
                    type: object
                    properties:
                      Password:
                        type: string
                      Username:
                        type: string
                    additionalProperties: true
                  Headers:
                    type: array
                    items:
                      type: object
                      properties:
                        Key:
                          type: string
                        Value:
                          type: string
                      additionalProperties: true
                  Parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        Field:
                          type: string
                        FieldTestValue:
                          type: string
                        Name:
                          type: string
                      additionalProperties: true
                  Recipient:
                    type: object
                    properties:
                      Field:
                        type: string
                      FieldTestValue:
                        type: string
                    additionalProperties: true
                  UpdateDate:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Recipients/{ID_RECIPIENT}:
    delete:
      operationId: console_delete_deleterecipienteverylist
      summary: Delete Recipient Every List
      tags:
      - Console / Console / Recipients
      parameters:
      - name: ID_RECIPIENT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Deleted:
                      type: boolean
                    IdList:
                      type: integer
                    Message:
                      type: string
                  additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getrecipientbyidrecipient
      summary: Get Recipient By Id Recipient
      tags:
      - Console / Console / Recipients
      parameters:
      - name: ID_RECIPIENT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Name:
                    type: string
                  idRecipient:
                    type: integer
                  Email:
                    type: string
                  MobileNumber:
                    type: string
                  MobilePrefix:
                    type: string
                  PendingOnEmailChannel:
                    type: array
                    items:
                      type: integer
                  PendingOnSmsChannel:
                    type: array
                    items:
                      type: integer
                  SubscribedOnEmailChannel:
                    type: array
                    items:
                      type: integer
                  SubscribedOnSmsChannel:
                    type: array
                    items:
                      type: integer
                  UnsubscribedOnEmailChannel:
                    type: array
                    items:
                      type: integer
                  UnsubscribedOnSmsChannel:
                    type: array
                    items:
                      type: integer
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/List/{ID_LIST}/Recipient/{ID_RECIPIENT}:
    delete:
      operationId: console_delete_deleterecipientsinglelist
      summary: Delete Recipient Single List
      tags:
      - Console / Console / List
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_RECIPIENT
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Deleted:
                    type: boolean
                  IdList:
                    type: integer
                  Message:
                    type: string
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Email/Sendings/{ID_SENDING}:
    delete:
      operationId: console_delete_deletesending
      summary: Delete Sending
      tags:
      - Console / Console / Email
      parameters:
      - name: ID_SENDING
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  IsDeleted:
                    type: boolean
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /API/v1.1/Rest/ConsoleService.svc/Console/Sms/List/{ID_LIST}/Message/{ID_MESSAGE}:
    delete:
      operationId: console_delete_deletesmsmessage
      summary: Delete Sms Message
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: API error response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    get:
      operationId: console_get_getsmsmessagedetails
      summary: Get Sms Message Details
      tags:
      - Console / Console / Sms
      parameters:
      - name: ID_LIST
        in: path
        required: true
        schema:
          type: string
      - name: ID_MESSAGE
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreationDate:
                    type: string
                  Notes:
                    type: string
                  Subject:
                    type: string
                  idList:
                    type: integer
                  idMessage:
                    type: integer
                  Content:
                    type: string
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        Description:
                          type: string
                        Id:
                          type: integer
                        Value:
                          type: string
                      additionalProperties: true
                  Structure:
                    type: string
                  Tags:
                    type: array
                    items:
                      type: object
                      properties:
                        Enabled:
[...]
