openapi: 3.1.0
info:
  title: Ontraport API
  version: '1'
  description: Community-maintained OpenAPI specification derived from Ontraport's current public API
    reference. It covers the documented endpoints with a resolvable provider host. Custom object fields
    and available values are account-specific; use metadata endpoints to inspect them. The provider's
    general API reference describes JSON responses and the `Api-Key` and `Api-Appid` headers.
servers:
  - url: https://api.ontraport.com/1
    description: Production
security:
  - OntraportApiKey: []
    OntraportAppId: []
tags:
  - name: Calendar
  - name: CalendarEventTypes
  - name: CalendarTemplates
  - name: Channel
  - name: Channels
  - name: Commission
  - name: Commissions
  - name: Contacts
  - name: Conversations
  - name: Credit Cards
  - name: Forms
  - name: Groups
  - name: Inbox
  - name: Inboxes
  - name: Invoices
  - name: Landing Pages
  - name: Messages
  - name: Objects
  - name: Offers
  - name: Orders
  - name: Products
  - name: PurchaseHistoryLog
  - name: Purchases
  - name: Rules
  - name: SpamConversation
  - name: SpamConversations
  - name: Tags
  - name: Transactions
  - name: Webhooks
  - name: getBlocksByFormName
paths:
  /objects:
    post:
      tags:
        - Objects
      summary: Create an object
      operationId: post_objects
      description: 'Documented in the official Ontraport API reference: Create an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a JSON-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
              additionalProperties: true
              required:
                - objectID
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    get:
      tags:
        - Objects
      summary: Retrieve multiple objects
      operationId: get_objects
      description: 'Documented in the official Ontraport API reference: Retrieve multiple objects.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: ids
          in: query
          required: false
          description: An integer array as a comma-delimited list of the IDs of the objects to retrieve.
            Entering a value of 0 will result in all objects of specified type being selected.
          schema:
            type: string
            description: An integer array as a comma-delimited list of the IDs of the objects to retrieve.
              Entering a value of 0 will result in all objects of specified type being selected.
        - name: start
          in: query
          required: false
          description: The offset to start your search from.
          schema:
            type: integer
            description: The offset to start your search from.
        - name: range
          in: query
          required: false
          description: The number of objects you want to retrieve. The maximum and default range is 50.
          schema:
            type: integer
            description: The number of objects you want to retrieve. The maximum and default range is
              50.
        - name: sort
          in: query
          required: false
          description: The field results should be sorted on.
          schema:
            type: string
            description: The field results should be sorted on.
        - name: sortDir
          in: query
          required: false
          description: The direction your results should be sorted. Your options are asc and desc . This
            field must be used in conjunction with the sort parameter.
          schema:
            type: string
            description: The direction your results should be sorted. Your options are asc and desc .
              This field must be used in conjunction with the sort parameter.
        - name: condition
          in: query
          required: false
          description: A JSON encoded string to more specifically set criteria for which objects to bring
            back. For example, to check that a field equals a certain value. See criteria examples for
            more details.
          schema:
            type: string
            description: A JSON encoded string to more specifically set criteria for which objects to
              bring back. For example, to check that a field equals a certain value. See criteria examples
              for more details.
        - name: search
          in: query
          required: false
          description: A string to search your objects for.
          schema:
            type: string
            description: A string to search your objects for.
        - name: searchNotes
          in: query
          required: false
          description: A boolean flag used in conjunction with the search parameter to indicate whether
            or not object notes should be searched for the specified string in addition to other object
            fields.
          schema:
            type: boolean
            description: A boolean flag used in conjunction with the search parameter to indicate whether
              or not object notes should be searched for the specified string in addition to other object
              fields.
        - name: group_id
          in: query
          required: false
          description: The group id of objects to act upon. If set to a non-zero value, performAll should
            be set to 1.
          schema:
            type: integer
            description: The group id of objects to act upon. If set to a non-zero value, performAll should
              be set to 1.
        - name: performAll
          in: query
          required: false
          description: A binary integer flag to be used in conjunction with group_id . A value of 1 indicates
            that specified action should be performed on all members of a group. Be sure that group_id
            has a non-zero value when using this parameter unless you want to affect all objects in a
            collection.
          schema:
            type: integer
            description: A binary integer flag to be used in conjunction with group_id . A value of 1
              indicates that specified action should be performed on all members of a group. Be sure that
              group_id has a non-zero value when using this parameter unless you want to affect all objects
              in a collection.
        - name: externs
          in: query
          required: false
          description: If you have a relationship between your object and another object, you may want
            to include the data from a related field in your results. Each external field is listed in
            the format {object}//{field} . Multiple fields are separated by commas.
          schema:
            type: string
            description: If you have a relationship between your object and another object, you may want
              to include the data from a related field in your results. Each external field is listed
              in the format {object}//{field} . Multiple fields are separated by commas.
        - name: listFields
          in: query
          required: false
          description: A string array as a comma-delimited list of the fields which should be returned
            in your results.
          schema:
            type: string
            description: A string array as a comma-delimited list of the fields which should be returned
              in your results.
        - name: user_readable
          in: query
          required: false
          description: A string that allows you to select between user readable info with 'CSV' and raw
            data with 'RAW'.
          schema:
            type: string
            description: A string that allows you to select between user readable info with 'CSV' and
              raw data with 'RAW'.
        - name: count
          in: query
          required: false
          description: A boolean flag indicating whether to retrieve collection count alongside collection
            data.
          schema:
            type: boolean
            description: A boolean flag indicating whether to retrieve collection count alongside collection
              data.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    put:
      tags:
        - Objects
      summary: Update an object's data
      operationId: put_objects
      description: 'Documented in the official Ontraport API reference: Update an object''s data.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a JSON-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                id:
                  type: integer
                  description: The ID of the object. For ORM objects, either id or unique_id is required.
                    For non-ORM objects, id is
                unique_id:
                  type: string
                  description: In ORM objects only. A unique identifier for the object. This field is
                    system generated and can't be updated. If the unique_id sent matches an object in
                    the account, that object's data will be updated. Either id or unique_id are required.
                    If both are sent, unique_id will be ignored.
              additionalProperties: true
              required:
                - objectID
                - id
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Delete multiple objects
      operationId: delete_objects
      description: 'Documented in the official Ontraport API reference: Delete multiple objects.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: ids
          in: query
          required: false
          description: An integer array as a comma-delimited list of the IDs of objects to delete. Entering
            a value of 0 will result in all objects of specified type being selected.
          schema:
            type: string
            description: An integer array as a comma-delimited list of the IDs of objects to delete. Entering
              a value of 0 will result in all objects of specified type being selected.
        - name: start
          in: query
          required: false
          description: The offset to start your search from.
          schema:
            type: integer
            description: The offset to start your search from.
        - name: range
          in: query
          required: false
          description: The number of objects you want to delete. The maximum and default range is 50.
          schema:
            type: integer
            description: The number of objects you want to delete. The maximum and default range is 50.
        - name: condition
          in: query
          required: false
          description: A JSON encoded string to more specifically set criteria for which objects to bring
            back. For example, to check that a field equals a certain value. See criteria examples for
            more details.
          schema:
            type: string
            description: A JSON encoded string to more specifically set criteria for which objects to
              bring back. For example, to check that a field equals a certain value. See criteria examples
              for more details.
        - name: search
          in: query
          required: false
          description: A string to search your objects for.
          schema:
            type: string
            description: A string to search your objects for.
        - name: searchNotes
          in: query
          required: false
          description: A boolean flag used in conjunction with the search parameter to indicate whether
            or not object notes should be searched for the specified string in addition to other object
            fields.
          schema:
            type: boolean
            description: A boolean flag used in conjunction with the search parameter to indicate whether
              or not object notes should be searched for the specified string in addition to other object
              fields.
        - name: group_id
          in: query
          required: false
          description: The group id of objects to act upon. If set to a non-zero value, performAll should
            be set to 1.
          schema:
            type: integer
            description: The group id of objects to act upon. If set to a non-zero value, performAll should
              be set to 1.
        - name: performAll
          in: query
          required: false
          description: A binary integer flag to be used in conjunction with group_id . A value of 1 indicates
            that specified action should be performed on all members of a group. Be sure that group_id
            has a non-zero value when using this parameter unless you want to affect all objects in a
            collection.
          schema:
            type: integer
            description: A binary integer flag to be used in conjunction with group_id . A value of 1
              indicates that specified action should be performed on all members of a group. Be sure that
              group_id has a non-zero value when using this parameter unless you want to affect all objects
              in a collection.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/saveorupdate:
    post:
      tags:
        - Objects
      summary: Create or merge an object
      operationId: post_objects_saveorupdate
      description: 'Documented in the official Ontraport API reference: Create or merge an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                ignore_blanks:
                  type: boolean
                  description: 'Whether or not blank strings should be ignored upon update. Defaults to
                    false: blank strings passed to this endpoint will overwrite existing value. This option
                    will not ignore 0''s or boolean false.'
                unique_id:
                  type: string
                  description: A unique identifier for the object (only ORM objects have a unique_id field).
                    This field is system generated and can't be updated. If a unique_id is sent that matches
                    an object in the account, that object's data will be updated. This field will take
                    precedence over other unique fields.
              additionalProperties: true
              required:
                - objectID
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/fieldeditor:
    post:
      tags:
        - Objects
      summary: Create fields and sections in an object record
      operationId: post_objects_fieldeditor
      description: 'Documented in the official Ontraport API reference: Create fields and sections in
        an object record.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                name:
                  type: string
                  description: The name of the Section.
                fields:
                  type: array
                  items: {}
                  description: 'An array of columns containing fields containing arrays of field objects
                    . Required . Example of how these are nested: [[{field1}],[{field2}],[{field3}]]'
              additionalProperties: true
              required:
                - objectID
                - name
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    get:
      tags:
        - Objects
      summary: Retrieve fields and sections in an object record
      operationId: get_objects_fieldeditor
      description: 'Documented in the official Ontraport API reference: Retrieve fields and sections in
        an object record.'
      requestBody:
        required: true
        description: The endpoint section does not select a media type. Ontraport’s general API guide
          permits JSON and URL-encoded bodies for POST and PUT requests.
        content:
          application/json:
            schema: &id001
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                section:
                  type: string
                  description: The name of the Section.
                field:
                  type: array
                  items: {}
                  description: The name of the field e.g. f1234
              additionalProperties: true
              required:
                - objectID
          application/x-www-form-urlencoded:
            schema: *id001
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    put:
      tags:
        - Objects
      summary: Update fields and sections in an object record
      operationId: put_objects_fieldeditor
      description: 'Documented in the official Ontraport API reference: Update fields and sections in
        an object record.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                name:
                  type: string
                  description: The name of the Section.
                description:
                  type: string
                  description: A description for the new Section.
                fields:
                  type: array
                  items: {}
                  description: 'An array of columns containing fields containing arrays of field objects
                    . Required . Example of how these are nested: [[{field1}],[{field2}],[{field3}]]'
              additionalProperties: true
              required:
                - objectID
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Delete fields and sections in an object
      operationId: delete_objects_fieldeditor
      description: 'Documented in the official Ontraport API reference: Delete fields and sections in
        an object.'
      requestBody:
        required: true
        description: The endpoint section does not select a media type. Ontraport’s general API guide
          permits JSON and URL-encoded bodies for POST and PUT requests.
        content:
          application/json:
            schema: &id002
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                section:
                  type: string
                  description: The name of the Section.
                field:
                  type: array
                  items: {}
                  description: The name of the field e.g f1234
              additionalProperties: true
              required:
                - objectID
          application/x-www-form-urlencoded:
            schema: *id002
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /object:
    get:
      tags:
        - Objects
      summary: Retrieve a single object
      operationId: get_object
      description: 'Documented in the official Ontraport API reference: Retrieve a single object.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: id
          in: query
          required: true
          description: The ID of the specific object.
          schema:
            type: integer
            description: The ID of the specific object.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Delete a single object
      operationId: delete_object
      description: 'Documented in the official Ontraport API reference: Delete a single object.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID to delete.
          schema:
            type: integer
            description: The object type ID to delete.
        - name: id
          in: query
          required: true
          description: The ID of the specific object to delete.
          schema:
            type: integer
            description: The ID of the specific object to delete.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/tag:
    get:
      tags:
        - Objects
      summary: Retrieve objects having a tag
      operationId: get_objects_tag
      description: 'Documented in the official Ontraport API reference: Retrieve objects having a tag.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: tag_id
          in: query
          required: false
          description: The ID of the tag you would like to filter your objects by. Either tag_id or tag_name
            is required. If both are provided, tag_id will be prioritized.
          schema:
            type: integer
            description: The ID of the tag you would like to filter your objects by. Either tag_id or
              tag_name is required. If both are provided, tag_id will be prioritized.
        - name: tag_name
          in: query
          required: false
          description: The name of the tag you would like to filter your objects by. Either tag_id or
            tag_name is required. If both are provided, tag_name will be ignored.
          schema:
            type: string
            description: The name of the tag you would like to filter your objects by. Either tag_id or
              tag_name is required. If both are provided, tag_name will be ignored.
        - name: count
          in: query
          required: false
          description: Indicates whether to retrieve a count of the collection instead of the collection
            itself.
          schema:
            type: boolean
            description: Indicates whether to retrieve a count of the collection instead of the collection
              itself.
        - name: start
          in: query
          required: false
          description: The offset to start your search from.
          schema:
            type: integer
            description: The offset to start your search from.
        - name: range
          in: query
          required: false
          description: The number of objects you want to retrieve. The maximum and default range is 50.
          schema:
            type: integer
            description: The number of objects you want to retrieve. The maximum and default range is
              50.
        - name: sort
          in: query
          required: false
          description: The field results should be sorted on.
          schema:
            type: string
            description: The field results should be sorted on.
        - name: sortDir
          in: query
          required: false
          description: The direction your results should be sorted. Your options are asc and desc . This
            field must be used in conjunction with the sort parameter.
          schema:
            type: string
            description: The direction your results should be sorted. Your options are asc and desc .
              This field must be used in conjunction with the sort parameter.
        - name: condition
          in: query
          required: false
          description: A JSON encoded string to more specifically set criteria for which objects to bring
            back. For example, to check that a field equals a certain value. See criteria examples for
            more details.
          schema:
            type: string
            description: A JSON encoded string to more specifically set criteria for which objects to
              bring back. For example, to check that a field equals a certain value. See criteria examples
              for more details.
        - name: search
          in: query
          required: false
          description: A string to search your objects for.
          schema:
            type: string
            description: A string to search your objects for.
        - name: searchNotes
          in: query
          required: false
          description: A boolean flag used in conjunction with the search parameter to indicate whether
            or not object notes should be searched for the specified string in addition to other object
            fields.
          schema:
            type: boolean
            description: A boolean flag used in conjunction with the search parameter to indicate whether
              or not object notes should be searched for the specified string in addition to other object
              fields.
        - name: group_id
          in: query
          required: false
          description: The group id of objects to act upon. If set to a non-zero value, performAll should
            be set to 1.
          schema:
            type: integer
            description: The group id of objects to act upon. If set to a non-zero value, performAll should
              be set to 1.
        - name: performAll
          in: query
          required: false
          description: A binary integer flag to be used in conjunction with group_id . A value of 1 indicates
            that specified action should be performed on all members of a group. Be sure that group_id
            has a non-zero value when using this parameter unless you want to affect all objects in a
            collection.
          schema:
            type: integer
            description: A binary integer flag to be used in conjunction with group_id . A value of 1
              indicates that specified action should be performed on all members of a group. Be sure that
              group_id has a non-zero value when using this parameter unless you want to affect all objects
              in a collection.
        - name: externs
          in: query
          required: false
          description: If you have a relationship between your object and another object, you may want
            to include the data from a related field in your results. Each external field is listed in
            the format {object}//{field} . Multiple fields are separated by commas.
          schema:
            type: string
            description: If you have a relationship between your object and another object, you may want
              to include the data from a related field in your results. Each external field is listed
              in the format {object}//{field} . Multiple fields are separated by commas.
        - name: listFields
          in: query
          required: false
          description: A string array as a comma-delimited list of the fields which should be returned
            in your results.
          schema:
            type: string
            description: A string array as a comma-delimited list of the fields which should be returned
              in your results.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    put:
      tags:
        - Objects
      summary: Tag an object
      operationId: put_objects_tag
      description: 'Documented in the official Ontraport API reference: Tag an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                add_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the tag(s) which should
                    be added to objects.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to be tagged.
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - add_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Remove a tag from an object
      operationId: delete_objects_tag
      description: 'Documented in the official Ontraport API reference: Remove a tag from an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                remove_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the tag(s) to be removed
                    from objects.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to remove
                    from tag(s).
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - remove_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /object/getByEmail:
    get:
      tags:
        - Objects
      summary: Retrieve an object ID by email
      operationId: get_object_getByEmail
      description: 'Documented in the official Ontraport API reference: Retrieve an object ID by email.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: email
          in: query
          required: true
          description: The email of the object you would like to retrieve.
          schema:
            type: string
            description: The email of the object you would like to retrieve.
        - name: all
          in: query
          required: false
          description: A binary integer flag indicating whether you would like to retrieve an array of
            all IDs for objects with a matching email. The default value of 0 indicates that you just
            want the first matching ID. A value of 1 indicates that you would like an array of all matching
            IDs.
          schema:
            type: integer
            description: A binary integer flag indicating whether you would like to retrieve an array
              of all IDs for objects with a matching email. The default value of 0 indicates that you
              just want the first matching ID. A value of 1 indicates that you would like an array of
              all matching IDs.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /object/getByUniqueId:
    get:
      tags:
        - Objects
      summary: Retrieve an object by Unique ID
      operationId: get_object_getByUniqueId
      description: 'Documented in the official Ontraport API reference: Retrieve an object by Unique ID.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: unique_id
          in: query
          required: true
          description: The Unique ID of the object you would like to retrieve.
          schema:
            type: string
            description: The Unique ID of the object you would like to retrieve.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/meta:
    get:
      tags:
        - Objects
      summary: Retrieve object meta
      operationId: get_objects_meta
      description: 'Documented in the official Ontraport API reference: Retrieve object meta.'
      parameters:
        - name: objectID
          in: query
          required: false
          description: The object type ID. If none is supplied, meta for all objects will be retrieved.
          schema:
            type: integer
            description: The object type ID. If none is supplied, meta for all objects will be retrieved.
        - name: format
          in: query
          required: false
          description: Indicates whether the list should be indexed by object name or object type ID.
            Possible values are byId and byName (default).
          schema:
            type: string
            description: Indicates whether the list should be indexed by object name or object type ID.
              Possible values are byId and byName (default).
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/getInfo:
    get:
      tags:
        - Objects
      summary: Retrieve object collection info
      operationId: get_objects_getInfo
      description: 'Documented in the official Ontraport API reference: Retrieve object collection info.'
      parameters:
        - name: objectID
          in: query
          required: true
          description: The object type ID.
          schema:
            type: integer
            description: The object type ID.
        - name: condition
          in: query
          required: false
          description: A JSON encoded string to more specifically set criteria for which objects you wish
            to select. For example, to check that a field equals a certain value. See criteria examples
            for more details.
          schema:
            type: string
            description: A JSON encoded string to more specifically set criteria for which objects you
              wish to select. For example, to check that a field equals a certain value. See criteria
              examples for more details.
        - name: search
          in: query
          required: false
          description: A string to search your objects for.
          schema:
            type: string
            description: A string to search your objects for.
        - name: searchNotes
          in: query
          required: false
          description: A boolean flag used in conjunction with the search parameter to indicate whether
            or not notes should be searched for the specified string in addition to other object fields.
          schema:
            type: boolean
            description: A boolean flag used in conjunction with the search parameter to indicate whether
              or not notes should be searched for the specified string in addition to other object fields.
        - name: group_id
          in: query
          required: false
          description: The group id of objects to act upon. If set to a non-zero value, performAll should
            be set to 1.
          schema:
            type: integer
            description: The group id of objects to act upon. If set to a non-zero value, performAll should
              be set to 1.
        - name: performAll
          in: query
          required: false
          description: A binary integer flag to be used in conjunction with group_id . A value of 1 indicates
            that specified action should be performed on all members of a group. Be sure that group_id
            has a non-zero value when using this parameter unless you want to affect all objects in a
            collection.
          schema:
            type: integer
            description: A binary integer flag to be used in conjunction with group_id . A value of 1
              indicates that specified action should be performed on all members of a group. Be sure that
              group_id has a non-zero value when using this parameter unless you want to affect all objects
              in a collection.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/sequence:
    put:
      tags:
        - Objects
      summary: Add an object to a sequence
      operationId: put_objects_sequence
      description: 'Documented in the official Ontraport API reference: Add an object to a sequence.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                add_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the sequence(s) to which
                    objects should be added.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to be added
                    to sequences.
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - add_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Remove an object from a sequence
      operationId: delete_objects_sequence
      description: 'Documented in the official Ontraport API reference: Remove an object from a sequence.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                remove_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the sequences(s) from
                    which to remove objects.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to be removed
                    from sequence(s).
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - remove_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/tagByName:
    put:
      tags:
        - Objects
      summary: Tag an object by name
      operationId: put_objects_tagByName
      description: 'Documented in the official Ontraport API reference: Tag an object by name.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a JSON-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                add_names:
                  type: string
                  description: An array of the names of the tag(s) which should be added to objects.
                ids:
                  type: string
                  description: An array of the IDs of the objects to be tagged.
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - add_names
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Remove a tag from an object by name
      operationId: delete_objects_tagByName
      description: 'Documented in the official Ontraport API reference: Remove a tag from an object by
        name.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a JSON-encoded string.
        content:
          application/json:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                remove_names:
                  type: string
                  description: An array of the names of the tag(s) to be removed from objects. Nonexistent
                    tag names will be ignored and will not cause a failure.
                ids:
                  type: string
                  description: An array of the IDs of the objects to remove from tag(s).
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - remove_names
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/subscribe:
    put:
      tags:
        - Objects
      summary: Subscribe an object to a campaign or sequence
      operationId: put_objects_subscribe
      description: 'Documented in the official Ontraport API reference: Subscribe an object to a campaign
        or sequence.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                add_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the campaign(s) or sequence(s)
                    the objects should be subscribed to.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to be subscribed.
                sub_type:
                  type: string
                  description: Either Campaign or Sequence .
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - add_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Objects
      summary: Unsubscribe an object from a campaign or sequence
      operationId: delete_objects_subscribe
      description: 'Documented in the official Ontraport API reference: Unsubscribe an object from a campaign
        or sequence.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID.
                remove_list:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the campaign(s) or sequence(s)
                    to unsubscribe objects from.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to unsubscribe.
                sub_type:
                  type: string
                  description: Either Campaign or Sequence . If no value is provided, Campaign will be
                    used.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - remove_list
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/pause:
    post:
      tags:
        - Objects
      summary: Pause rules and sequences for an object
      operationId: post_objects_pause
      description: 'Documented in the official Ontraport API reference: Pause rules and sequences for
        an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID. Possible object types are rules, sequences, and sequence
                    subscribers.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to be paused.
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /objects/unpause:
    post:
      tags:
        - Objects
      summary: Unpause rule and sequences for an object
      operationId: post_objects_unpause
      description: 'Documented in the official Ontraport API reference: Unpause rule and sequences for
        an object.'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                objectID:
                  type: integer
                  description: The object type ID to be unpaused. Possible object types are rules, sequences,
                    and sequence subscribers.
                ids:
                  type: string
                  description: An array as a comma-delimited list of the IDs of the objects to unpause.
                start:
                  type: integer
                  description: The offset to start your search from.
                range:
                  type: integer
                  description: The number of objects to include in your query. The maximum and default
                    range is 50.
                condition:
                  type: string
                  description: A JSON encoded string to more specifically set criteria for which objects
                    should be affected. For example, to check that a field equals a certain value. See
                    criteria examples for more details.
                search:
                  type: string
                  description: A string to search your objects for.
                group_id:
                  type: integer
                  description: The group id of objects to act upon. If set to a non-zero value, performAll
                    should be set to 1.
                performAll:
                  type: integer
                  description: A binary integer flag to be used in conjunction with group_id . A value
                    of 1 indicates that specified action should be performed on all members of a group.
                    Be sure that group_id has a non-zero value when using this parameter unless you want
                    to affect all objects in a collection.
              additionalProperties: true
              required:
                - objectID
                - ids
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarEvents:
    post:
      tags:
        - Calendar
      summary: Create a calendar event object
      operationId: post_CalendarEvents
      description: 'Documented in the official Ontraport API reference: Create a calendar event object.'
      requestBody:
        required: false
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: The event location.
                title:
                  type: string
                  description: The event title.
                start_time:
                  oneOf:
                    - type: string
                    - type: integer
                  description: The UNIX timestamp of the event's start time. If the event is recurring,
                    this represents the start time of the first event in the series.
                end_time:
                  oneOf:
                    - type: string
                    - type: integer
                  description: The UNIX timestamp of the event's end time. If the event is recurring,
                    this represents the end time of the first event in the series.
                description:
                  type: string
                  description: A description of the event.
                duration:
                  type: integer
                  description: The length of the event, in seconds.
                repeat_every_count:
                  type: integer
                  description: For recurring events, given a frequency like weekly, the interval the event
                    should repeat. For example, 1 for every week, 3 for every third week.
                repeat_every_frequency:
                  type: integer
                  description: 'How often a recurring event should repeat. Integer codes are mapped as
                    follows: 0 => Yearly 1 => Monthly 2 => Weekly 3 => Daily . Ontraport does not support
                    finer granularity than daily.'
                repeat_monthly_modifier:
                  type: integer
                  description: 'For monthly recurring events, an indicator of what type of monthly repeat.
                    Repeats can be based on the ordinal day of the month (e.g. the 5th of every month)
                    or a specific day of the week (e.g. the 3rd Tuesday). Integer codes are mapped as
                    follows: 0 => Repeat on a specific ordinal day of the month 1 => Repeat on a specific
                    day of the week'
                repeat_on_days:
                  oneOf:
                    - type: integer
                    - type: string
                  description: For a recurring event, either a comma-separated list of the the day(s)
                    of the week (for weekly recurring events or monthly recurring events on a particular
                    day of the week) or the day number of the month (for monthly recurring events on a
                    particular day of the month).
                repeat_end_type:
                  type: integer
                  description: 'The indicator for when a recurring event should end. Integer codes are
                    mapped as follows: 0 => Never 1 => After a number of recurrences 2 => On a specific
                    date .'
                repeat_end_date:
                  oneOf:
                    - type: string
                    - type: integer
                  description: If the repeat_end_type is on a specific date, the UNIX timestamp for the
                    date the recurring event should end.
                repeat_end_modifier:
                  type: integer
                  description: If the repeat_end_type is after a certain number of recurrences, the number
                    of occurrences.
                is_recurring:
                  type: integer
                  description: A binary integer flag indicating whether or not the event is recurring.
                is_repeat_custom:
                  type: integer
                  description: A binary integer flag indicating whether or not this event contains custom
                    recurrence settings.
                is_all_day:
                  type: integer
                  description: A binary integer flag indicating whether or not this event lasts all day.
                staff_id:
                  type: integer
                  description: The user ID for the owner of this event.
                type_id:
                  type: integer
                  description: The event type ID for this event.
                event_template:
                  type: integer
                  description: The template ID for this event.
                calendar_id:
                  type: integer
                  description: The calendar ID (synced or local) for this event.
                notifications:
                  type: string
                  description: '[ Notifications ]. A JSON-encoded string of the notification rules for
                    this event.'
                guestInfo:
                  type: array
                  items: {}
                  description: '[ Guest Info ]. An array of information managing guest adds, guest removes,
                    and guest status changes.'
              additionalProperties: true
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    get:
      tags:
        - Calendar
      summary: Retrieve multiple calendar events
      operationId: get_CalendarEvents
      description: 'Documented in the official Ontraport API reference: Retrieve multiple calendar events.'
      parameters:
        - name: start_time
          in: query
          required: true
          description: The timestamp you would like to begin retrieving events from. Calendar event pagination
            is different from regular event pagination, and is controlled by changing the start time.
          schema:
            oneOf:
              - type: string
              - type: integer
            description: The timestamp you would like to begin retrieving events from. Calendar event
              pagination is different from regular event pagination, and is controlled by changing the
              start time.
        - name: search
          in: query
          required: false
          description: 'A string to search your calendar event objects for. Search fields include: title,
            location, description, start_time, and end_time. Additionally, in subcollection mode, guest_status
            can be searched.'
          schema:
            type: string
            description: 'A string to search your calendar event objects for. Search fields include: title,
              location, description, start_time, and end_time. Additionally, in subcollection mode, guest_status
              can be searched.'
        - name: group_id
          in: query
          required: false
          description: The group ID of calendar events to retrieve.
          schema:
            type: integer
            description: The group ID of calendar events to retrieve.
        - name: calendarEventOwner
          in: query
          required: false
          description: 'Which staff member or staff members to retrieve events for. Options are as follows:
            all : Retrieve all events regardless of owner. me : Retrieve only the events belonging to
            the owner of your API keys. team : Return the events for the owner of your API keys and their
            subordinates You can also pass in the ID of any user on the account to retrieve only the events
            belonging to them.'
          schema:
            type: string
            description: 'Which staff member or staff members to retrieve events for. Options are as follows:
              all : Retrieve all events regardless of owner. me : Retrieve only the events belonging to
              the owner of your API keys. team : Return the events for the owner of your API keys and
              their subordinates You can also pass in the ID of any user on the account to retrieve only
              the events belonging to them.'
        - name: mode
          in: query
          required: false
          description: 'Calendar events can be retrieved in slightly different ways to mimic the behavior
            of the Ontraport app. Options are as follows: events : This is the default option. This mode''s
            pagination is controlled by the start_time parameter, and will return 50 events per page,
            plus all of the other events on the first and last day of the page. Events spanning multiple
            days will be represented by an event on each day of the date range. subcollection : This option
            mimics the subcollection in the Ontraport app. This mode''s pagination is controlled by start_time
            and the relative_paginate parameter, and will return 25 events per page, plus all of the other
            events on the first and last day of the page. Events spanning multiple days will be represented
            by a single event record. For this mode, the guestsearch parameter must be set. bullets :
            This mode''s pagination is controlled by the start_time parameter, and will return for the
            entire relevant month the day numbers that have existing events. No other event data is returned
            for this option. submenu : This option does not allow for pagination and will return a list
            of event IDs from the context of today, with all events up to one month in the past and six
            months in the future. No other filter applies to the submenu. recents : Returns the ten most
            recently edited events.'
          schema:
            type: string
            description: 'Calendar events can be retrieved in slightly different ways to mimic the behavior
              of the Ontraport app. Options are as follows: events : This is the default option. This
              mode''s pagination is controlled by the start_time parameter, and will return 50 events
              per page, plus all of the other events on the first and last day of the page. Events spanning
              multiple days will be represented by an event on each day of the date range. subcollection
              : This option mimics the subcollection in the Ontraport app. This mode''s pagination is
              controlled by start_time and the relative_paginate parameter, and will return 25 events
              per page, plus all of the other events on the first and last day of the page. Events spanning
              multiple days will be represented by a single event record. For this mode, the guestsearch
              parameter must be set. bullets : This mode''s pagination is controlled by the start_time
              parameter, and will return for the entire relevant month the day numbers that have existing
              events. No other event data is returned for this option. submenu : This option does not
              allow for pagination and will return a list of event IDs from the context of today, with
              all events up to one month in the past and six months in the future. No other filter applies
              to the submenu. recents : Returns the ten most recently edited events.'
        - name: relative_paginate
          in: query
          required: false
          description: 'This option can only be used with mode set to subcollection , and is a set of
            controls that allows skipping to the previous or next page, all the way to the beginning,
            or all the way to the end of the event collection. Skipping to the end is not supported where
            infinitely recurring events are present. These options must be used in conjunction with the
            start_time parameter. Options map as follows: -2 => Skip to the beginning -1 => Skip to previous
            page 1 => Skip to next page 2 => Skip to the end .'
          schema:
            type: string
            description: 'This option can only be used with mode set to subcollection , and is a set of
              controls that allows skipping to the previous or next page, all the way to the beginning,
              or all the way to the end of the event collection. Skipping to the end is not supported
              where infinitely recurring events are present. These options must be used in conjunction
              with the start_time parameter. Options map as follows: -2 => Skip to the beginning -1 =>
              Skip to previous page 1 => Skip to next page 2 => Skip to the end .'
        - name: guestsearch
          in: query
          required: false
          description: The composite ID of a guest to search for. This option is necessary when mode is
            set to subcollection .
          schema:
            type: string
            description: The composite ID of a guest to search for. This option is necessary when mode
              is set to subcollection .
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    put:
      tags:
        - Calendar
      summary: Update a calendar event
      operationId: put_CalendarEvents
      description: 'Documented in the official Ontraport API reference: Update a calendar event.'
      requestBody:
        required: false
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The composite ID of the event.
                location:
                  type: string
                  description: The event location.
                title:
                  type: string
                  description: The event title.
                start_time:
                  oneOf:
                    - type: string
                    - type: integer
                  description: The UNIX timestamp of the event's start time. If the event is recurring,
                    this represents the start time of the first event in the series.
                end_time:
                  oneOf:
                    - type: string
                    - type: integer
                  description: The UNIX timestamp of the event's end time. If the event is recurring,
                    this represents the end time of the first event in the series.
                description:
                  type: string
                  description: A description of the event.
                duration:
                  type: integer
                  description: The length of the event, in seconds.
                repeat_every_count:
                  type: integer
                  description: For recurring events, given a frequency like weekly, the interval the event
                    should repeat. For example, 1 for every week, 3 for every third week.
                repeat_every_frequency:
                  type: integer
                  description: 'How often a recurring event should repeat. Integer codes are mapped as
                    follows: 0 => Yearly 1 => Monthly 2 => Weekly 3 => Daily . Ontraport does not support
                    finer granularity than daily.'
                repeat_monthly_modifier:
                  type: integer
                  description: 'For monthly recurring events, an indicator of what type of monthly repeat.
                    Repeats can be based on the ordinal day of the month (e.g. the 5th of every month)
                    or a specific day of the week (e.g. the 3rd Tuesday). Integer codes are mapped as
                    follows: 0 => Repeat on a specific ordinal day of the month 1 => Repeat on a specific
                    day of the week'
                repeat_on_days:
                  oneOf:
                    - type: integer
                    - type: string
                  description: For a recurring event, either a comma-separated list of the the day(s)
                    of the week (for weekly recurring events or monthly recurring events on a particular
                    day of the week) or the day number of the month (for monthly recurring events on a
                    particular day of the month).
                repeat_end_type:
                  type: integer
                  description: 'The indicator for when a recurring event should end. Integer codes are
                    mapped as follows: 0 => Never 1 => After a number of recurrences 2 => On a specific
                    date .'
                repeat_end_date:
                  oneOf:
                    - type: string
                    - type: integer
                  description: If the repeat_end_type is on a specific date, the UNIX timestamp for the
                    date the recurring event should end.
                repeat_end_modifier:
                  type: integer
                  description: If the repeat_end_type is after a certain number of recurrences, the number
                    of occurrences.
                is_recurring:
                  type: integer
                  description: A binary integer flag indicating whether or not the event is recurring.
                is_repeat_custom:
                  type: integer
                  description: A binary integer flag indicating whether or not this event contains custom
                    recurrence settings.
                is_all_day:
                  type: integer
                  description: A binary integer flag indicating whether or not this event lasts all day.
                staff_id:
                  type: integer
                  description: The user ID for the owner of this event.
                type_id:
                  type: integer
                  description: The event type ID for this event.
                event_template:
                  type: integer
                  description: The template ID for this event.
                calendar_id:
                  type: integer
                  description: The calendar ID (synced or local) for this event.
                notifications:
                  type: string
                  description: '[ Notifications ]. A JSON-encoded string of the notification rules for
                    this event.'
                guestInfo:
                  type: array
                  items: {}
                  description: '[ Guest Info ]. An array of information managing guest adds, guest removes,
                    and guest status changes.'
                edit_scope:
                  type: integer
                  description: 'For recurring events, the scope of the recurrences to be edited. Integer
                    codes are mapped as follows: 0 => This event 1 => This and following events 2 => All
                    events Default is all events.'
              additionalProperties: true
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarEvent:
    get:
      tags:
        - Calendar
      summary: Retrieve a single calendar event
      operationId: get_CalendarEvent
      description: 'Documented in the official Ontraport API reference: Retrieve a single calendar event.'
      parameters:
        - name: id
          in: query
          required: true
          description: The calendar event's composite ID.
          schema:
            type: string
            description: The calendar event's composite ID.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
    delete:
      tags:
        - Calendar
      summary: Delete a specific calendar event
      operationId: delete_CalendarEvent
      description: 'Documented in the official Ontraport API reference: Delete a specific calendar event.'
      parameters:
        - name: id
          in: query
          required: true
          description: The composite ID of the calendar event to delete.
          schema:
            type: string
            description: The composite ID of the calendar event to delete.
        - name: edit_scope
          in: query
          required: false
          description: 'For recurring events, the scope of the recurrences to be deleted. Integer codes
            are mapped as follows: 0 => This event 1 => This and following events 2 => All events Default
            is all events.'
          schema:
            type: integer
            description: 'For recurring events, the scope of the recurrences to be deleted. Integer codes
              are mapped as follows: 0 => This event 1 => This and following events 2 => All events Default
              is all events.'
        - name: notify_event_guests
          in: query
          required: false
          description: A binary integer flag indicating whether or not a system email should be sent to
            all event guests to notify them of event deletion.
          schema:
            type: integer
            description: A binary integer flag indicating whether or not a system email should be sent
              to all event guests to notify them of event deletion.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarEvents/updateGuestStatus:
    put:
      tags:
        - Calendar
      summary: Update guest status for calendar event(s)
      operationId: put_CalendarEvents_updateGuestStatus
      description: 'Documented in the official Ontraport API reference: Update guest status for calendar
        event(s).'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                guest_id:
                  type: string
                  description: The guest composite ID.
                ids:
                  type: array
                  items: {}
                  description: An array as a comma-separated list of the event instance composite ids
                    to change the status of the guest for. Required if advanced_ids not present
                advanced_ids:
                  type: array
                  items: {}
                  description: An array as a comma-separated list of advanced event IDs (Calendar List
                    View with Advanced Events enabled) to change the status of the guest for. Required
                    if ids not present
                status:
                  type: integer
                  description: 'The guest attendance status. Integer codes are mapped as follows: 0 =>
                    Unconfirmed 1 => No 2 => Maybe 3 => Yes'
              additionalProperties: true
              required:
                - guest_id
                - status
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarEvents/removeGuest:
    put:
      tags:
        - Calendar
      summary: Remove a guest from calendar event(s)
      operationId: put_CalendarEvents_removeGuest
      description: 'Documented in the official Ontraport API reference: Remove a guest from calendar event(s).'
      requestBody:
        required: true
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                guest_id:
                  type: string
                  description: The guest composite ID.
                ids:
                  type: array
                  items: {}
                  description: An array as a comma-separated list of the event instance composite ids
                    to remove the guest from. Required if advanced_ids not present
                advanced_ids:
                  type: array
                  items: {}
                  description: An array as a comma-separated list of advanced event IDs (Calendar List
                    View with Advanced Events enabled) to remove the guest from. Required if ids not present
              additionalProperties: true
              required:
                - guest_id
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarEventGuests:
    get:
      tags:
        - Calendar
      summary: Retrieve a list of calendar event guests
      operationId: get_CalendarEventGuests
      description: 'Documented in the official Ontraport API reference: Retrieve a list of calendar event
        guests.'
      parameters:
        - name: ids
          in: query
          required: false
          description: An array as a comma-delimited list of the composite IDs of the guests to retrieve.
            If this parameter is used, it must be used in conjunction with event_id for correct results.
          schema:
            type: array
            items: {}
            description: An array as a comma-delimited list of the composite IDs of the guests to retrieve.
              If this parameter is used, it must be used in conjunction with event_id for correct results.
        - name: start
          in: query
          required: false
          description: The offset to return results from.
          schema:
            type: integer
            description: The offset to return results from.
        - name: range
          in: query
          required: false
          description: The number of guests you want to retrieve. The maximum and default range is 50.
          schema:
            type: integer
            description: The number of guests you want to retrieve. The maximum and default range is 50.
        - name: condition
          in: query
          required: false
          description: A JSON encoded string to more specifically set criteria for which guests to bring
            back. For example, to check that a field equals a certain value. See criteria examples for
            more details.
          schema:
            type: string
            description: A JSON encoded string to more specifically set criteria for which guests to bring
              back. For example, to check that a field equals a certain value. See criteria examples for
              more details.
        - name: search
          in: query
          required: false
          description: A string to search your guest objects for.
          schema:
            type: string
            description: A string to search your guest objects for.
        - name: event_id
          in: query
          required: false
          description: The calendar event composite ID. This parameter will limit guests retrieved by
            event instance. It must be included to retrieve a list of guests on a particular event. If
            the parameter is not included, a new event is assumed and the default guest (the current user)
            will be returned.
          schema:
            type: string
            description: The calendar event composite ID. This parameter will limit guests retrieved by
              event instance. It must be included to retrieve a list of guests on a particular event.
              If the parameter is not included, a new event is assumed and the default guest (the current
              user) will be returned.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarPotentialGuests:
    get:
      tags:
        - Calendar
      summary: Retrieve a list of calendar potential guests
      operationId: get_CalendarPotentialGuests
      description: 'Documented in the official Ontraport API reference: Retrieve a list of calendar potential
        guests.'
      parameters:
        - name: start
          in: query
          required: false
          description: The offset to return results from.
          schema:
            type: integer
            description: The offset to return results from.
        - name: range
          in: query
          required: false
          description: The number of guests you want to retrieve. The maximum and default range is 200.
            The first request will return all suggested potential guests and user potential guests, as
            well as the first page of contacts. Subsequent pages will contain contact potential guests
            only.
          schema:
            type: integer
            description: The number of guests you want to retrieve. The maximum and default range is 200.
              The first request will return all suggested potential guests and user potential guests,
              as well as the first page of contacts. Subsequent pages will contain contact potential guests
              only.
        - name: search
          in: query
          required: false
          description: A string to search potential guests for.
          schema:
            type: string
            description: A string to search potential guests for.
        - name: guestmode
          in: query
          required: false
          description: A binary integer flag indicating a change in the data returned. If this value is
            1, email and object type will be returned in the data.
          schema:
            type: integer
            description: A binary integer flag indicating a change in the data returned. If this value
              is 1, email and object type will be returned in the data.
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
  /CalendarTemplates:
    post:
      tags:
        - CalendarTemplates
      summary: Create a calendar template
      operationId: post_CalendarTemplates
      description: 'Documented in the official Ontraport API reference: Create a calendar template.'
      requestBody:
        required: false
        description: Parameters should be sent in the request body as a URL-encoded string.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: The event location.
                name:
                  type: string
                  description: The template name.
                title:
                  type: string
                  description: The event title.
                description:
                  type: string
                  description: A description of the event.
                staff_id:
                  type: integer
                  description: The user ID for the owner of this event.
                type_id:
                  type: integer
                  description: The event type ID for this event.
                notifications:
                  type: string
                  description: '[ Notifications ]. A JSON-encoded string of the notification rules for
                    this event.'
              additionalProperties: true
      responses:
        '200':
          description: Successful JSON response. The `data` payload shape depends on the endpoint and
            Ontraport object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntraportResponse'
[...]
