openapi: 3.2.0
info:
  title: Foursquare Places Tips API
  description: The Foursquare Places API provides global access to over 100 million points of interest (POI) for place search, details, autocomplete, geotagging (Place Snap), place matching, natural-language Ask search, and photos/tips.
  version: '2025-06-17'
  contact:
    name: Foursquare Developer Support
    url: https://docs.foursquare.com/
  license:
    name: Foursquare Developer Terms of Service
    url: https://foursquare.com/legal/api/platformpolicy
servers:
- url: https://places-api.foursquare.com
  description: Foursquare Places API (current)
security:
- serviceKey: []
tags:
- name: Tips
  description: User tips associated with a place
paths:
  /places/{fsq_place_id}/tips:
    get:
      tags:
      - Tips
      summary: Get Place Tips
      operationId: getPlaceTips
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - in: path
        name: fsq_place_id
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 50
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - POPULAR
          - NEWEST
      responses:
        '200':
          description: Tips for the place.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tip'
components:
  schemas:
    Tip:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        text:
          type: string
  parameters:
    ApiVersion:
      in: header
      name: X-Places-Api-Version
      required: true
      description: Dated Places API version (e.g., "2025-06-17").
      schema:
        type: string
        default: '2025-06-17'
  securitySchemes:
    serviceKey:
      type: http
      scheme: bearer
      description: 'Service Key passed as a Bearer token in the Authorization header ("Authorization: Bearer <service-key>").'
