openapi: 3.0.3
info:
  title: Nominatim Geocoding API
  version: '1.0.0'
  description: >-
    Community-maintained description of Nominatim API v1 search, reverse
    geocoding, and address lookup using JSONv2 responses. Set
    `format=jsonv2` explicitly. The
    usage policy at the public OpenStreetMap Foundation server applies only to
    `nominatim.openstreetmap.org`: identify the application with a valid
    User-Agent or Referer, stay at or below one request per second, show
    OpenStreetMap attribution, honor ODbL obligations for the data, and do not
    use the service for autocomplete, systematic queries, or resale. Apps
    must be able to switch service at the Foundation's request. Self-hosted
    and other Nominatim instances have their own policies.
  externalDocs:
    description: Nominatim API v1 documentation
    url: https://nominatim.org/release-docs/develop/api/Overview/
servers:
  - url: https://nominatim.openstreetmap.org
    description: Public Nominatim instance; see its usage policy before use.
tags:
  - name: Geocoding
    description: Forward and reverse geocoding.
paths:
  /search:
    get:
      tags: [Geocoding]
      operationId: searchPlaces
      summary: Search for places
      description: >-
        Search with either the free-form `q` parameter or structured address
        parameters. Do not combine `q` with structured parameters. Results
        contain the best matches, not a complete list of objects in an area.
      parameters:
        - name: q
          in: query
          description: Free-form query. Do not combine with structured query parameters.
          schema:
            type: string
        - name: amenity
          in: query
          description: Name or type of point of interest; structured query parameter.
          schema:
            type: string
        - name: street
          in: query
          description: House number and street name; structured query parameter.
          schema:
            type: string
        - name: city
          in: query
          description: City; structured query parameter.
          schema:
            type: string
        - name: county
          in: query
          description: County; structured query parameter.
          schema:
            type: string
        - name: state
          in: query
          description: State; structured query parameter.
          schema:
            type: string
        - name: country
          in: query
          description: Country; structured query parameter.
          schema:
            type: string
        - name: postalcode
          in: query
          description: Postal code; structured query parameter.
          schema:
            type: string
        - name: format
          in: query
          required: true
          description: Set explicitly because the public server handles an omitted format differently.
          schema:
            type: string
            enum: [jsonv2]
        - name: limit
          in: query
          description: Maximum number of results; the service may return fewer.
          schema:
            type: integer
            minimum: 1
            maximum: 40
            default: 10
        - name: countrycodes
          in: query
          description: Comma-separated ISO 3166-1 alpha-2 country-code filter.
          schema:
            type: string
        - name: addressdetails
          in: query
          description: Include address breakdown when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: extratags
          in: query
          description: Include available additional OSM tags when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: namedetails
          in: query
          description: Include available name variants when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: accept-language
          in: query
          description: Preferred result languages, using Accept-Language syntax.
          schema:
            type: string
        - name: viewbox
          in: query
          description: Comma-separated coordinates of two viewbox corners; boosts results in the area.
          schema:
            type: string
        - name: bounded
          in: query
          description: When set to 1, restrict results to the supplied viewbox.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
      responses:
        '200':
          description: Matching places in JSONv2 format.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Place'
  /reverse:
    get:
      tags: [Geocoding]
      operationId: reverseGeocode
      summary: Reverse geocode a coordinate
      description: >-
        Returns the nearest suitable indexed OpenStreetMap object. Its address
        may not exactly match the supplied coordinate, and a result is not
        available for every coordinate.
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude in WGS84.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lon
          in: query
          required: true
          description: Longitude in WGS84.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [jsonv2]
        - name: zoom
          in: query
          description: Requested address detail level.
          schema:
            type: integer
            minimum: 0
            maximum: 18
            default: 18
        - name: addressdetails
          in: query
          description: Include address breakdown when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: extratags
          in: query
          description: Include available additional OSM tags when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: namedetails
          in: query
          description: Include available name variants when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: accept-language
          in: query
          description: Preferred result languages, using Accept-Language syntax.
          schema:
            type: string
      responses:
        '200':
          description: One place in JSONv2 format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
  /lookup:
    get:
      tags: [Geocoding]
      operationId: lookupPlacesByOsmId
      summary: Look up places by OpenStreetMap object IDs
      description: Look up as many as 50 nodes, ways, or relations by their prefixed OpenStreetMap IDs.
      parameters:
        - name: osm_ids
          in: query
          required: true
          description: Comma-separated object IDs prefixed with N, W, or R (for example, N240109189).
          schema:
            type: string
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [jsonv2]
        - name: addressdetails
          in: query
          description: Include address breakdown when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: extratags
          in: query
          description: Include available additional OSM tags when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: namedetails
          in: query
          description: Include available name variants when set to 1.
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: accept-language
          in: query
          description: Preferred result languages, using Accept-Language syntax.
          schema:
            type: string
      responses:
        '200':
          description: Matching places in JSONv2 format.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Place'
components:
  schemas:
    Place:
      type: object
      description: >-
        Place result. Address fields and optional metadata vary with the indexed
        OpenStreetMap data and requested output details.
      properties:
        place_id:
          oneOf:
            - type: integer
            - type: string
        licence:
          type: string
        osm_type:
          type: string
          enum: [node, way, relation]
        osm_id:
          oneOf:
            - type: integer
            - type: string
        lat:
          type: string
        lon:
          type: string
        boundingbox:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
        place_rank:
          oneOf:
            - type: integer
            - type: string
        category:
          type: string
        type:
          type: string
        importance:
          oneOf:
            - type: number
            - type: string
        display_name:
          type: string
        address:
          type: object
          additionalProperties:
            type: string
        extratags:
          type: object
          additionalProperties:
            type: string
        namedetails:
          type: object
          additionalProperties:
            type: string
      additionalProperties: true
