openapi: 3.1.0
info:
  title: TikTok Events API 2.0 (focused)
  version: 1.3.0
  description: >-
    Community-maintained subset for the TikTok Conversions integration in Zapier.
    It describes TikTok's unified Events API endpoint, with the CRM lead-event
    flow exposed by Zapier as its focus. Required fields vary by event source.
    TikTok's documentation says not to share sensitive data with TikTok; follow
    its current data terms and event-specific requirements when sending events.
  externalDocs:
    description: TikTok Events API 2.0 overview and request format
    url: https://business-api.tiktok.com/gateway/docs/index?doc_id=1771100779668482
servers:
  - url: https://business-api.tiktok.com/open_api/v1.3
security:
  - AccessToken: []
paths:
  /event/track/:
    post:
      operationId: reportEvent
      summary: Report a web, app, offline, or CRM event
      description: >-
        For the Zapier TikTok Conversions action, send a CRM event and use the
        CRM Event Set ID as event_source_id. TikTok requires a lead object for
        CRM events. Zapier documents the Send Lead Event fields (including lead
        status, TikTok lead ID, email, phone number, click ID, and CRM name), but
        its public app guide does not specify every field's exact raw API mapping.
        TikTok's public overview points to event-source-specific requirements
        for validating the lead and user objects.
      externalDocs:
        description: TikTok Events API 2.0 reference
        url: https://business-api.tiktok.com/gateway/docs/index?doc_id=1771100779668482
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRequest'
      responses:
        '200':
          description: >-
            Request accepted. A successful response has API code 0; validate
            the response body as well as the HTTP status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '4XX':
          description: TikTok rejected the request; inspect the API error code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '5XX':
          description: TikTok server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Access token generated for TikTok Events API.
  schemas:
    EventRequest:
      type: object
      required:
        - event_source
        - event_source_id
        - data
      properties:
        event_source:
          type: string
          enum:
            - web
            - app
            - offline
            - crm
          description: Use crm for events sent through the Zapier Send Lead Event action.
        event_source_id:
          type: string
          description: >-
            Event source identifier. For CRM events, use the CRM Event Set ID;
            other sources use their corresponding TikTok event source ID.
        data:
          type: array
          minItems: 1
          maxItems: 1000
          description: Events to report. TikTok recommends sending events as they occur.
          items:
            $ref: '#/components/schemas/Event'
      additionalProperties: true
    Event:
      type: object
      required:
        - event
        - event_time
      properties:
        event:
          type: string
          description: Standard or custom conversion event name.
        event_time:
          type: integer
          format: int64
          description: Unix timestamp, in seconds, when the event occurred.
        event_id:
          type: string
          description: Optional unique identifier used for event deduplication.
        limited_data_use:
          type: boolean
          description: TikTok documents this field for web and app event sources.
        user:
          $ref: '#/components/schemas/User'
        properties:
          type: object
          description: Optional event, product, or order properties.
          additionalProperties: true
        page:
          type: object
          description: Web page details; required for web events.
          additionalProperties: true
        app:
          type: object
          description: App details; required for app events.
          additionalProperties: true
        ad:
          type: object
          description: Ad details for app events.
          additionalProperties: true
        lead:
          $ref: '#/components/schemas/Lead'
      additionalProperties: true
    User:
      type: object
      description: >-
        User match keys. TikTok's terms prohibit sharing sensitive data; follow
        its current instructions for allowed fields, normalization, and hashing.
      properties:
        email:
          type: string
          description: Email match key, subject to TikTok's current requirements and data terms.
        phone:
          type: string
          description: Phone match key, subject to TikTok's current requirements and data terms.
        external_id:
          type: string
        ttclid:
          type: string
          description: TikTok click ID, when available and permitted.
        ttp:
          type: string
          description: TikTok browser cookie value, when available and permitted.
        ip:
          type: string
        user_agent:
          type: string
      additionalProperties: true
    Lead:
      type: object
      description: >-
        Lead details; required when event_source is crm. The public overview
        refers to a separate lead-parameters reference, so this object remains
        extensible to cover provider fields and changes.
      properties:
        lead_id:
          type: string
          description: TikTok lead identifier, when the event relates to an existing TikTok lead.
        lead_event_source:
          type: string
          description: Name of the CRM or other source that originated the lead event.
      additionalProperties: true
    SuccessResponse:
      type: object
      required:
        - message
        - code
        - request_id
        - data
      properties:
        message:
          type: string
          example: OK
        code:
          type: integer
          description: Zero indicates success.
          example: 0
        request_id:
          type: string
        data:
          type: object
          additionalProperties: true
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          oneOf:
            - type: integer
            - type: string
        request_id:
          type: string
        data:
          type: object
          additionalProperties: true
      additionalProperties: true
