openapi: 3.1.0
info:
  title: Poptin Public API
  version: 1.0.0
externalDocs:
  url: https://developers.poptin.com/reference
servers:
- url: https://api.popt.in/v1
security:
- bearerAuth: []
tags:
- name: Bulk jobs
- name: Campaigns
- name: Contacts
- name: Conversions
- name: Emails
- name: Poptins
- name: Preferences
- name: Properties
paths:
  /poptins/stats/refresh:
    post:
      operationId: refreshPoptins
      summary: Refresh poptin stats
      tags:
      - Poptins
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinStatsRefreshResponse'
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinStatsRefreshResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
        '500':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Server error.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
  /poptins:
    get:
      operationId: listPoptins
      summary: List poptins
      tags:
      - Poptins
      parameters:
      - name: stat_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: stat_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: device
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - desktop
          - mobile
          - null
      - name: type
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - popup
          - form
          - null
      - name: domain
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: status
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: created_from
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: created_to
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinListResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /poptins/{uid}/pause:
    post:
      operationId: pausePoptin
      summary: Pause poptin
      tags:
      - Poptins
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /poptins/{uid}/resume:
    post:
      operationId: resumePoptin
      summary: Resume poptin
      tags:
      - Poptins
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /poptins/{uid}:
    get:
      operationId: showPoptin
      summary: Show poptin
      tags:
      - Poptins
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: stat_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: stat_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: device
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - desktop
          - mobile
          - null
      - name: type
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - popup
          - form
          - null
      - name: domain
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinSingleResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    patch:
      operationId: renamePoptin
      summary: Rename poptin
      tags:
      - Poptins
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenamePoptinRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deletePoptin
      summary: Delete poptin
      tags:
      - Poptins
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /poptins/analytics:
    get:
      operationId: poptinAnalytics
      summary: Poptin Analytics
      tags:
      - Poptins
      parameters:
      - name: stat_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: stat_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: device
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - desktop
          - mobile
          - null
      - name: type
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - popup
          - form
          - null
      - name: domain
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoptinAnalyticsResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /conversions:
    get:
      operationId: listConversions
      summary: List conversions
      tags:
      - Conversions
      parameters:
      - name: created_from
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: created_to
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: poptin_uid
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 191
      - name: type
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - lead
          - click
          - null
      - name: device
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - desktop
          - mobile
          - null
      - name: cursor
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 2048
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversionsResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /conversions/bulk-delete:
    post:
      operationId: bulkDeleteConversions
      summary: Bulk delete conversions (JSON)
      tags:
      - Conversions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteConversionsRequest'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobQueuedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '409':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobInProgressError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /conversions/{uid}:
    get:
      operationId: showConversion
      summary: Show conversion
      tags:
      - Conversions
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowConversionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deleteConversion
      summary: Delete conversion
      tags:
      - Conversions
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /properties:
    get:
      operationId: listProperties
      summary: List properties
      tags:
      - Properties
      parameters:
      - name: type
        in: query
        schema:
          anyOf:
          - $ref: '#/components/schemas/PropertyDataTypeEnum'
          - type: 'null'
      - name: custom_only
        in: query
        schema:
          type:
          - boolean
          - 'null'
      - name: label
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 50
      - name: page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPropertiesResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    post:
      operationId: createProperty
      summary: Create property
      tags:
      - Properties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreFieldRequest'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCreatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /properties/{uid}:
    get:
      operationId: showProperty
      summary: Show property
      tags:
      - Properties
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    put:
      operationId: updateProperty
      summary: Update property
      tags:
      - Properties
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyUpdatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deleteProperty
      summary: Delete property
      tags:
      - Properties
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '406':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCannotBeDeletedError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts:
    get:
      operationId: listContacts
      summary: List contacts
      tags:
      - Contacts
      parameters:
      - name: status
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: email
        in: query
        schema:
          type:
          - string
          - 'null'
          format: email
          maxLength: 255
      - name: cursor
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 2048
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContactsResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    post:
      operationId: upsertContact
      summary: Create or update contact
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertContactRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdatedResponse'
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactBlocklistedUpsertError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts/bulk:
    post:
      operationId: bulkUpsertContacts
      summary: Bulk import contacts (JSON)
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertContactsRequest'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobQueuedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '409':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobInProgressError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactLimitReachedError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts/bulk-import:
    post:
      operationId: bulkImportContactsCsv
      summary: Bulk import contacts (CSV)
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkImportContactsCsvRequest'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSVBulkImportQueuedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '409':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobInProgressError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactLimitReachedError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts/bulk-delete:
    post:
      operationId: bulkDeleteContacts
      summary: Bulk delete contacts (JSON)
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteContactsRequest'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobQueuedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '409':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobInProgressError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts/{uid}:
    get:
      operationId: showContact
      summary: Show contact
      tags:
      - Contacts
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deleteContact
      summary: Delete contact
      tags:
      - Contacts
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /contacts/{uid}/status:
    patch:
      operationId: updateContactStatus
      summary: Update contact status
      tags:
      - Contacts
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactStatusRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactBlocklistedError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /bulk-jobs:
    get:
      operationId: showBulkJob
      summary: Show bulk job status
      tags:
      - Bulk jobs
      parameters:
      - name: object_id
        in: query
        required: true
        schema:
          type: integer
          minimum: 10000000000
          maximum: 99999999999
      - name: object_name
        in: query
        required: true
        schema:
          type: string
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkJobStatusResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /preferences:
    get:
      operationId: listPreferences
      summary: List preferences
      tags:
      - Preferences
      parameters:
      - name: name
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 200
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPreferencesResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    post:
      operationId: createPreference
      summary: Create preference
      tags:
      - Preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorePreferenceRequest'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceCreatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /preferences/{uid}:
    get:
      operationId: showPreference
      summary: Show preference
      tags:
      - Preferences
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    put:
      operationId: updatePreference
      summary: Update preference
      tags:
      - Preferences
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferenceRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceUpdatedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deletePreference
      summary: Delete preference
      tags:
      - Preferences
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '423':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProcessingError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      tags:
      - Campaigns
      parameters:
      - name: status
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: name
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 255
      - name: created_from
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: created_to
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
      - name: per_page
        in: query
        schema:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignsResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/{uid}:
    get:
      operationId: showCampaign
      summary: Show campaign
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowCampaignResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/{uid}/pause:
    post:
      operationId: pauseCampaign
      summary: Pause campaign
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/{uid}/resume:
    post:
      operationId: resumeCampaign
      summary: Resume campaign
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/{uid}/end:
    post:
      operationId: endCampaign
      summary: End campaign
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignActionResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/{uid}/send-test-email:
    post:
      operationId: sendCampaignTestEmail
      summary: Send campaign test email
      tags:
      - Campaigns
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCampaignTestEmailRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignTestEmailSentResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /campaigns/analytics:
    get:
      operationId: campaignAnalytics
      summary: Campaign Analytics
      tags:
      - Campaigns
      parameters:
      - name: created_from
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      - name: created_to
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAnalyticsResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: The given data was invalid.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - success
                - message
                - data
                - errors
                - meta
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
  /emails/send:
    post:
      operationId: sendTemplateEmail
      summary: Send template email to contact
      tags:
      - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTemplateEmailRequest'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateEmailQueuedResponse'
        '401':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    const: Unauthenticated.
                  data:
                    type: 'null'
                  meta:
                    type: 'null'
                  errors:
                    type: 'null'
                required:
                - success
                - message
                - data
                - errors
                - meta
        '403':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundError'
        '409':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateEmailDuplicateSendError'
        '422':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ForbiddenError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          const: This account is restricted.
        data:
          type: 'null'
        meta:
          type: 'null'
        errors:
          type: 'null'
      required:
      - success
      - message
      - data
      - errors
      - meta
      title: ForbiddenError
    PoptinRefreshResource:
      type: object
      properties:
        refresh_status:
          type: string
        last_updated_at:
          type:
          - string
          - 'null'
      required:
      - refresh_status
      - last_updated_at
      title: PoptinRefreshResource
    PoptinStatsRefreshResponse:
      type: object
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
          const: Request completed successfully.
        data:
          type: object
          properties:
            refresh:
              $ref: '#/components/schemas/PoptinRefreshResource'
          required:
          - refresh
        errors:
          type: 'null'
        meta:
          type:
          - object
          - 'null'
      required:
      - success
      - message
      - data
      - errors
      - meta
      title: PoptinStatsRefreshResponse
    TooManyRequestsError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          const: Too Many Requests
        data:
          type: 'null'
        meta:
          type: 'null'
        errors:
          type: 'null'
      required:
      - success
      - message
      - data
      - errors
      - meta
      title: TooManyRequestsError
    PoptinListResponse:
      type: object
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
          const: Request completed successfully.
        data:
          type: object
          properties:
            poptins:
              type: array
              items:
                $ref: '#/components/schemas/PoptinResource'
          required:
          - poptins
        errors:
          type: 'null'
        meta:
          type: object
          properties:
            current_page:
              type: integer
            last_page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer
          required:
          - current_page
          - last_page
          - per_page
          - total
      required:
      - success
      - message
      - data
      - errors
      - meta
      title: PoptinListResponse
    PoptinResource:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        type:
          type: string
        domain:
          type: string
        status:
          type: string
        ab_test:
          type: boolean
        ab_test_parent_uid:
          type:
          - string
          - 'null'
        ab_test_parent:
          type:
          - object
          - 'null'
          additionalProperties: {}
        variants:
          type: array
          items:
            type: object
            additionalProperties: {}
        stats:
          type: object
          properties:
            visitors:
              type: integer
            views:
              type: integer
            conversions:
              type: integer
            conversion_rate:
              type: number
            conversion_breakdown:
              type: string
          required:
          - visitors
          - views
          - conversions
          - conversion_rate
          - conversion_breakdown
        created_at:
          type:
          - string
          - 'null'
        timeseries:
          type: string
        last_updated_at:
          type: string
        refresh_status:
          type: string
      required:
      - uid
      - name
      - type
      - domain
      - status
      - ab_test
      - ab_test_parent_uid
      - ab_test_parent
      - variants
      - stats
      - created_at
      - timeseries
      - last_updated_at
      - refresh_status
      title: PoptinResource
    PoptinActionResource:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        type:
          anyOf:
          - type: string
          - type: string
            enum:
            - popup
            - form
        status:
          type: string
          enum:
          - active
          - inactive
          - draft
[...]
